---
const brand = "Bluprint";
const tagline = "Watch + Learn";
const tags = [
  "Brand Identity + Positioning",
  "Logo Design",
  "Video + Photography",
  "Art + Illustration",
  "Product Design (UX/UI)",
  "CX",
  "Interior Design",
  "Original Naming",
  "Physical Goods Development + Design",
  "Print + Packaging",
  "Organic + Paid Social Content",
  "Writing + Editing",
  "Qualitative Research",
  "Surprise + Delight",
  "Visual Identity",
];

import "@styles/utils.css";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import Image from "astro/components/Image.astro";
import Navigation from "@components/Navigation.astro";
import Header from "@assets/Bluprint/img/Bluprint_Header.png";
import HeaderMobile from "@assets/Bluprint/img/Bluprint_Header_Mobile.png";
import CrochetBox from "@assets/Bluprint/Bluprint_CrochetBox.gif";
import Quilt from "@assets/Bluprint/img/Bluprint_Quilt.jpg";
import LifeStyle1 from "@assets/Bluprint/img/Bluprint_Lifestyle_1.jpg";
import Paint from "@assets/Bluprint/img/Bluprint_Paint.png";
import Colors from "@assets/Bluprint/img/Bluprint_BrandColors.jpg";
import Ad1 from "@assets/Bluprint/img/Bluprint_Ad_1.jpg";
import MultiCat from "@assets/Bluprint/img/Bluprint_MultiCat.jpg";
import Cake from "@assets/Bluprint/img/Bluprint_Cake.gif";
import Fox1 from "@assets/Bluprint/img/Bluprint_Fox.jpg";
import HomePage from "@assets/Bluprint/img/Bluprint_Homepage.png";
import SocialGrid from "@assets/Bluprint/Bluprint_SocialGrid.mp4";
import Ad2 from "@assets/Bluprint/Bluprint_Ad.mp4";
import Jump1 from "@assets/Bluprint/img/Bluprint_Jump1.jpg";
import Jump2 from "@assets/Bluprint/img/Bluprint_Jump2.jpg";
import Disco from "@assets/Bluprint/Bluprint_Disco.mp4";
import Fox2 from "@assets/Bluprint/img/Bluprint_Fox2.jpg";
import MakeupBag from "@assets/Bluprint/Bluprint_MakeupBag.mp4";
import Ad3 from "@assets/Bluprint/img/Bluprint_Ad_3.png";
import LifeStyle2 from "@assets/Bluprint/img/Bluprint_Lifestyle_2.jpg";
import Patches from "@assets/Bluprint/img/Bluprint_Patches.png";
import Ad4 from "@assets/Bluprint/img/Bluprint_Ad_4.jpg";
import Ad5 from "@assets/Bluprint/img/Bluprint_Ad_5.jpg";
import Embroidery from "@assets/Bluprint/img/Bluprint_Box_Embroidery.jpg";
import Boxes from "@assets/Bluprint/Bluprint_Boxes.mp4";
import Collateral from "@assets/Bluprint/img/Bluprint_Box_Collateral.jpg";
import Grid1 from "@assets/Bluprint/img/Bluprint_Grid_1.png";
import Grid2 from "@assets/Bluprint/img/Bluprint_Grid_2.png";
import Grid3 from "@assets/Bluprint/img/Bluprint_Grid_3.png";
import Grid4 from "@assets/Bluprint/img/Bluprint_Grid_4.png";
import Grid5 from "@assets/Bluprint/img/Bluprint_Grid_5.png";
import Grid6 from "@assets/Bluprint/img/Bluprint_Grid_6.png";
import Grid7 from "@assets/Bluprint/img/Bluprint_Grid_7.png";
import Grid8 from "@assets/Bluprint/img/Bluprint_Grid_8.png";
import Grid9 from "@assets/Bluprint/img/Bluprint_Grid_9.png";
import Grid10 from "@assets/Bluprint/img/Bluprint_Grid_10.png";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import VimeoPlayer from "@components/VimeoPlayer.astro";
---

<style>
  .karla {
    font-family: "Karla", sans-serif;
  }
  #brand-guide {
    background: #1d1a1a url("/images/noise.svg") repeat;
  }
  .two-up-copy {
    display: flex;
    --one-third-mobile: calc(100% * 1 / 3 - 5px);
    --two-thirds-mobile: calc(100% * 2 / 3 - 5px);
    --half-mobile: calc(50% - 5px);
    &.bias-left-mobile {
      img:first-child {
        width: var(--two-thirds-mobile);
      }
      img:last-child {
        width: var(--one-third-mobile);
      }
    }

    &.bias-right-mobile {
      img:first-child {
        width: var(--one-third-mobile);
      }
      img:last-child {
        width: var(--two-thirds-mobile);
      }
    }

    &.bias-center-mobile {
      img:first-child {
        width: var(--half-mobile);
      }
      img:last-child {
        width: var(--half-mobile);
      }
    }
    @media (min-width: 768px) {
      flex-flow: row nowrap;
      --one-third: calc(100% * 1 / 3 - 37.5px);
      --two-thirds: calc(100% * 2 / 3 - 37.5px);
      --half: calc(50% - 37.5px);

      &.bias-left {
        img:first-child {
          width: var(--two-thirds);
        }
        img:last-child {
          width: var(--one-third);
        }
      }

      &.bias-right {
        img:first-child {
          width: var(--one-third);
        }
        img:last-child {
          width: var(--two-thirds);
        }
      }

      &.bias-center {
        img:first-child {
          width: var(--half);
        }
        img:last-child {
          width: var(--half);
        }
      }
    }
  }
</style>
<ProjectLayout hero={Header} mobile={HeaderMobile} brand={brand} tagline={tagline} tags={tags}>
  <div class="mx-auto mb-[45px] flex w-full max-w-[1320px] flex-col items-center md:mb-[120px] md:flex-row">
    <div class="w-full p-[15%] md:w-[50%] md:p-[10%]">
      <Image class="h-auto w-full rounded-sm md:rounded-md" src={CrochetBox} alt="A bluprint brand shipping box." />
    </div>
    <Image
      class="h-auto w-full px-[30px] md:w-[50%]"
      src={Quilt}
      alt="A person holding up a large quilt in front of them."
    />
  </div>
  <VimeoPlayer class="my-[45px] md:my-[120px]" video="1035014266" height="56.25%" action="unpause" />
  <div class="mx-auto my-[45px] max-w-[1040px] px-[20px] md:my-[120px]">
    <Image
      class="h-auto w-full rounded-sm md:rounded-md"
      src={LifeStyle1}
      alt="A person sitting on a couch knitting."
    />
  </div>
  <div class="mx-[25px] my-[45px] flex flex-col md:my-[120px] md:flex-row md:justify-center">
    <div class="text-[#363131] md:flex md:w-[50%] md:flex-col md:items-end">
      <div>
        <h1 class="karla text-[18px] font-[700] tracking-[18%]">BRAND PROMISE</h1>
        <p class="karla text-[68px] font-[700] md:text-[58px] md:text-[72px] lg:text-[98px]">"I did it!"</p>
      </div>
    </div>
    <p class="karla text-[16px] text-[#363131] md:ml-[50px] md:w-[50%] md:pr-[5%] lg:pr-[15%]">
      In an always-on world, we help you unwind — and create something meaningful. We build confidence by supporting you
      with inspiration, giving you expert instruction, and inviting you into a passionate community that gets you (no
      matter where you are in your journey). Here, you can enjoy the space to do more of what you love.
    </p>
  </div>
  <Image
    class="my-[45px] md:my-[120px]"
    src={Paint}
    alt="Paint splattered onto brushes and small canvases featuring various shades of pink."
  />
  <div
    class="mx-auto my-[45px] flex max-w-[1100px] flex-col gap-[45px] md:my-[120px] md:flex-row md:items-center md:justify-center md:px-[25px] lg:gap-[160px]"
  >
    <div class="px-[77px] md:w-[30%] md:px-0">
      <Image class="h-auto w-full rounded-sm md:rounded-md" src={Colors} alt="The brand's color palette." />
    </div>
    <div class="px-[20px] md:w-[50%] md:px-0">
      <Image
        class="h-auto w-full rounded-sm md:rounded-md"
        src={Ad1}
        alt="An ad featuring a person holding a quilt around them. The text reads My style is Fresh.Bright.Fun. And made by me."
      />
    </div>
  </div>
  <div class="my-[45px] flex flex-row items-center gap-[10px] px-[20px] md:my-[120px] md:gap-[40px] md:px-[60px]">
    <div class="w-1/3">
      <Image
        class="w-full rounded-md md:rounded-lg"
        src={MultiCat}
        alt="An assortment of arts and crafts tools and supplies laid out around a framed painting."
      />
    </div>
    <div class="w-1/3">
      <Image class="w-full rounded-md md:rounded-lg" src={Cake} alt="A spinning cake with lit candles." />
    </div>
    <div class="w-1/3">
      <Image class="w-full rounded-md md:rounded-lg" src={Fox1} alt="Two children wearing knitted fox hats." />
    </div>
  </div>
  <div class="karla mx-auto my-[45px] max-w-[950px] px-[25px] md:my-[120px] md:columns-2 md:gap-[80px]">
    <h1 class="mb-[40px] text-[24px] font-[700] text-[#363131]">Brand Pillars</h1>
    <h2 class="font-[700] tracking-widest text-[#CF3538]">WE RESPECT YOUR TIME</h2>
    <p class="mb-[40px] text-[#363131] md:pr-[20px]">
      We help you cut through the startup hassle by curating everything you need in one place and meeting you on your
      favorite platform. From project kits designed for your skill level to step-by-step guidance, you can be assured
      that you’ll make something great here.
    </p>
    <h2 class="font-[700] tracking-widest text-[#CF3538]">WE'VE BEEN THERE</h2>
    <p class="mb-[40px] text-[#363131] md:pr-[20px]">
      We anticipate all the hills and valleys because we’ve gone through them too. At every turn, it feels like there’s
      a real person helping you avoid common mistakes and setting you up for success.
    </p>
    <h2 class="font-[700] tracking-widest text-[#CF3538]">WE'RE FOR EVERY MAKER</h2>
    <p class="mb-[40px] text-[#363131]">
      Whether you’re a never-crafted newbie or an accomplished maker with decades of experience, we help you discover
      the best options for you and grow your skills.
    </p>
    <h2 class="font-[700] tracking-widest text-[#CF3538]">WE KEEP IT FRESH</h2>
    <p class="mb-[40px] text-[#363131]">
      We’re that endlessly creative friend who’s always in the know about the next incredible thing, from trends and
      techniques to tools and tips. There’s always something new to see and try.
    </p>
    <h2 class="font-[700] tracking-widest text-[#CF3538]">WE BELIEVE IN THE JOY OF CREATIVITY</h2>
    <p class="mb-[40px] text-[#363131]">
      You love making. We get it because we feel the same way. We understand one of the greatest sources of happiness is
      the creative world we build.
    </p>
  </div>
  <Image class="h-auto w-full" src={HomePage} alt="Screenshot of the Bluprint website home page." />
  <div>
    <video playsinline loop autoplay muted class="w-full">
      <source src={SocialGrid} />
    </video>
  </div>
  <div
    class="mx-auto mt-[45px] flex max-w-[1200px] flex-col items-center justify-center gap-[45px] md:my-[100px] md:flex-row md:gap-[50px] md:px-[25px] lg:gap-[125px]"
  >
    <div class="flex justify-center px-[20px] md:w-[35%] md:px-0">
      <Image
        class="h-auto w-full rounded-sm md:rounded-md"
        src={Ad3}
        alt="An ad featuring a knitted hat and yarn with the words Your next project is waiting. Bluprint.com"
      />
    </div>
    <div class="md:w-1/2">
      <video loop playsinline autoplay muted class="rounded-0 h-auto w-full md:rounded-md md:rounded-sm">
        <source src={Ad2} />
      </video>
    </div>
  </div>
  <div class="flex flex-row bg-[#028282]">
    <div class="w-[50%] p-[6%]">
      <Image
        class="w-full rounded-sm md:rounded-md"
        src={Jump1}
        alt="A smiling woman holding a bolt of fabric mid jump."
      />
    </div>
    <div class="w-[50%] p-[10%]">
      <Image
        class="w-full rounded-sm md:rounded-md"
        src={Jump2}
        alt="A smiling woman holding multiple bolts of fabric."
      />
    </div>
  </div>
  <VimeoPlayer
    class="rc-md-only mx-auto mb-[45px] max-w-[1040px] px-0 md:my-[120px] md:px-[25px]"
    video="1035014250"
    height="56.25%"
    action="unpause"
  />
  <div class="mx-[10px] my-[45px] flex flex-row items-center md:mx-[40px] md:my-[120px]">
    <div class="w-1/3 p-[1%]">
      <video loop playsinline autoplay muted class="h-auto w-full rounded-sm md:rounded-md">
        <source src={Disco} />
      </video>
    </div>
    <div class="w-1/3 p-[1.4%]">
      <Image class="h-auto rounded-sm md:rounded-md" src={Fox2} alt="A child wearing a knitted fox hat." />
    </div>
    <div class="w-1/3 p-[1%]">
      <video loop playsinline autoplay muted class="h-auto rounded-sm md:rounded-md">
        <source src={MakeupBag} />
      </video>
    </div>
  </div>
  <Image
    class="my-[45px] h-auto w-full md:my-[120px]"
    src={LifeStyle2}
    alt="A person decorating a cake with icing in the shape of leaves."
  />
  <Image
    class="my-[45px] h-auto w-full md:my-[120px]"
    src={Patches}
    alt="Various icon patches for the bluprint brand."
  />
  <VimeoPlayer
    class="rc-md-only mx-auto my-[45px] max-w-[1040px] md:my-[120px] md:px-[25px]"
    video="1059965808"
    height="56.5%"
    action="unpause"
  />
  <div
    class="two-up-copy bias-center bias-center-mobile mx-auto my-[45px] max-w-[1320px] flex-row gap-[10px] px-[20px] md:my-[120px] md:gap-[75px]"
  >
    <Image
      class="rounded-r-md md:rounded-lg"
      src={Ad4}
      alt="An ad featuring a person following along with a DIY video from the Bluprint mobile app."
    />
    <Image
      class="rounded-l-md md:rounded-lg"
      src={Ad5}
      alt="An ad featuring a woman putting a quilt onto a couch with the words There's a maker in you. Online classes and supplies to feed your inner maker."
    />
  </div>
  <Image
    class="my-[45px] h-auto w-full md:my-[120px]"
    src={Embroidery}
    alt="A starter emroidery kit and bluprint tote bag."
  />
  <video
    loop
    playsinline
    autoplay
    muted
    class="mx-auto my-[45px] h-auto w-full rounded-sm px-[20px] md:my-[120px] md:w-[50%] md:rounded-md md:px-0"
  >
    <source src={Boxes} />
  </video>
  <Image class="h-auto w-full" src={Collateral} alt="A blueprint tote bag and a beginner's drawing guide." />
  <div id="brand-guide">
    <div class="karla py-[30px] pl-[20px] font-[16px] text-white">
      <p class="inline-block font-[700] tracking-[3px]">BLUPRINT</p>
      <p class="ml-[20px] inline-block">Introducing [New Co]</p>
    </div>
    <div class="m-0 flex flex-wrap justify-between px-[20px]">
      <Image
        class="my-1 h-auto w-[49.5%] rounded md:my-1.5"
        src={Grid1}
        alt="Cultural Context. People are seeking out opportunities to immerse themselves in the activities that make them feel most alive."
      />
      <Image class="my-1 h-auto w-[49.5%] rounded md:my-1.5" src={Grid2} alt="Bluprint brand introduction." />
      <Image class="my-1 h-auto w-[49.5%] rounded md:my-1.5" src={Grid3} alt="Bluprint brand description." />
      <Image class="my-1 h-auto w-[49.5%] rounded md:my-1.5" src={Grid4} alt="Bluprint ad with paintbrushes" />
      <Image
        class="my-1 h-auto w-[49.5%] rounded md:my-1.5"
        src={Grid5}
        alt="Bluprint ad with a woman painting on a canvas. What do you want to paint today?"
      />
      <Image
        class="my-1 h-auto w-[49.5%] rounded md:my-1.5"
        src={Grid6}
        alt="Bluprint ad with something in the process of being knitted. What do you want to knit today?"
      />
      <Image class="my-1 h-auto w-[49.5%] rounded md:my-1.5" src={Grid7} alt="Bluprint ad. Do anything" />
      <Image class="my-1 h-auto w-[49.5%] rounded md:my-1.5" src={Grid8} alt="Bluprint ad. Learn anything" />
      <Image class="my-1 h-auto w-[49.5%] rounded md:my-1.5" src={Grid9} alt="Bluprint ad. Do anything" />
      <Image
        class="my-1 h-auto w-[49.5%] rounded md:my-1.5"
        src={Grid10}
        alt="Screenshots of the Bluprint mobile app and desktop website."
      />
    </div>
  </div>
</ProjectLayout>
