---
import "../../styles/utils.css";
import InternalLayout from "@layouts/InternalLayout.astro";
import TextGrid from "@components/TextGrid.astro";
import ScrollImage from "@components/ScrollImage.astro";
import Image from "astro/components/Image.astro";
import Navigation from "@components/Navigation.astro";
import Header from "@assets/Bluprint/img/Bluprint_Header.jpg";
import CrochetBox from "@assets/Bluprint/Bluprint_CrochetBox.gif";
import Quilt from "@assets/Bluprint/img/Bluprint_Quilt.jpg";
import LifeStyle1 from "@assets/Bluprint/img/Bluprint_Lifestyle_1.jpg";
import Paint from "@assets/Bluprint/img/Bluprint_Paint.jpg";
import Colors from "@assets/Bluprint/img/Bluprint_BrandColors.png";
import Ad1 from "@assets/Bluprint/img/Bluprint_Ad_1.jpg";
import MultiCat from "@assets/Bluprint/img/Bluprint_MultiCat.jpg";
import Cake from "@assets/Bluprint/Bluprint_Cake.mp4";
import Fox1 from "@assets/Bluprint/img/Bluprint_Fox.jpg";
import HomePage from "@assets/Bluprint/img/Bluprint_Homepage.jpg";
import SocialGrid from "@assets/Bluprint/Bluprint_SocialGrid.mp4";
import Ad2 from "@assets/Bluprint/img/Bluprint_Ad_2.jpg";
import Jump1 from "@assets/Bluprint/img/Bluprint_Jump1.jpg";
import Jump2 from "@assets/Bluprint/img/Bluprint_Jump2.jpg";
import Disco from "@assets/Bluprint/Bluprint_Disco.mp4";
import Fox2 from "@assets/Bluprint/img/Bluprint_Fox2.jpg";
import MakeupBag from "@assets/Bluprint/Bluprint_MakeupBag.mp4";
import Ad3 from "@assets/Bluprint/img/Bluprint_Ad_3.jpg";
import LifeStyle2 from "@assets/Bluprint/img/Bluprint_Lifestyle_2.jpg";
import Patches from "@assets/Bluprint/img/Bluprint_Patches.jpg";
import Tree from "@assets/Bluprint/img/Bluprint_Tree.jpg";
import Ad4 from "@assets/Bluprint/img/Bluprint_Ad_4.jpg";
import Ad5 from "@assets/Bluprint/img/Bluprint_Ad_5.jpg";
import Embroidery from "@assets/Bluprint/img/Bluprint_Box_Embroidery.jpg";
import Boxes from "@assets/Bluprint/img/Bluprint_Boxes.jpg";
import Collateral from "@assets/Bluprint/img/Bluprint_Box_Collateral.jpg";
import Grid1 from "@assets/Bluprint/img/Bluprint_Grid_1.jpg";
import Grid2 from "@assets/Bluprint/img/Bluprint_Grid_2.jpg";
import Grid3 from "@assets/Bluprint/img/Bluprint_Grid_3.jpg";
import Grid4 from "@assets/Bluprint/img/Bluprint_Grid_4.jpg";
import Grid5 from "@assets/Bluprint/img/Bluprint_Grid_5.jpg";
import Grid6 from "@assets/Bluprint/img/Bluprint_Grid_6.jpg";
import Grid7 from "@assets/Bluprint/img/Bluprint_Grid_7.jpg";
import Grid8 from "@assets/Bluprint/img/Bluprint_Grid_8.jpg";
import Grid9 from "@assets/Bluprint/img/Bluprint_Grid_9.jpg";
import Grid10 from "@assets/Bluprint/img/Bluprint_Grid_10.jpg";
import ProjectCarousel from "@components/ProjectCarousel.astro";
---

<style>
  #bluprint-main {
    width: 100%;
    background-color: #f7f4ed;
    color: #363131;
  }
  .bluprint-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .karla {
    font-family: "Karla", sans-serif;
  }
  #video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    height: 100%;
    /* height: 500px; */
    /* object-fit: cover; */
  }
  .pause-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .play-button {
    position: absolute;
    display: none;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: #ff97fd;
    transform: rotate(1.75deg);
    border: 1px solid black;
    font-size: 21px;
    font-family: "Karla";
    letter-spacing: 2px;
  }
</style>
<InternalLayout>
  <div id="bluprint-main">
    <ScrollImage type="image" brandName="Bluprint" headerImage={Header} />
    <TextGrid title="BLUPRINT" theme="light">
      <li>Brand Identity + Positioning</li>
      <li>Logo Design</li>
      <li>Video + Photography</li>
      <li>Art + Illustration</li>
      <li>Product Design (UX/UI)</li>
      <li>CX</li>
      <li>Interior Design</li>
      <li>Original Naming</li>
      <li>Physical Goods Development + Design</li>
      <li>Packaging</li>
      <li>Social Content + Advertising</li>
      <li>Writing + Editing</li>
      <li>Qualitative Research</li>
      <li>Surprise + Delight</li>
    </TextGrid>
    <div class="bluprint-content">
      <div class="flex items-center w-full flex-col md:flex-row">
        <Image
          class="h-auto w-full p-[15%] md:w-[50%] md:p-[10%]"
          alt="Bluprint"
          src={CrochetBox}
        />
        <Image
          class="h-auto w-full mb-[45px] px-[20px] md:w-[50%] md:p-0 md:pr-[60px]"
          alt="Bluprint"
          src={Quilt}
        />
      </div>
      <div
        id="video-container-1"
        class="w-full pt-[56.25%] relative mb-[45px] md:mb-[120px]"
      >
        <iframe
          id="video-iframe-1"
          class="h-full w-full absolute top-0 left-0"
          src="https://player.vimeo.com/video/1035014266?title=0&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
          allow="autoplay"
          title="Bluprint NBCU"></iframe>
        <div id="pause-1" class="pause-cover"></div>
        <div id="play-1" class="play-button">PLAY</div>
      </div>
      <Image alt="Bluprint" src={LifeStyle1} />
      <div
        class="flex flex-col my-[45px] mx-[25px] md:flex-row md:justify-center md:my-[120px]"
      >
        <div class="md:flex md:flex-col md:w-[50%] md:items-end">
          <div>
            <h1
              class="karla text-[26px] font-[700] md:text-[24px] md:text-[36px]"
            >
              BRAND PROMISE
            </h1>
            <p
              class="karla text-[68px] font-[700] md:text-[58px] md:text-[72px] lg:text-[98px]"
            >
              "I did it!"
            </p>
          </div>
        </div>
        <p
          class="karla text-[16px] md:w-[50%] md:pr-[5%] md:ml-[50px] lg:pr-[15%]"
        >
          In an always-on world, we help you unwind — and create something
          meaningful. We build confidence by supporting you with inspiration,
          giving you expert instruction, and inviting you into a passionate
          community that gets you (no matter where you are in your journey).
          Here, you can enjoy the space to do more of what you love.
        </p>
      </div>
      <Image alt="Bluprint" src={Paint} />
      <div
        class="my-[45px] flex flex-col md:my-[120px] md:flex-row md:items-center"
      >
        <div class="md:w-[50%]">
          <Image
            class="px-[120px] h-auto mb-[45px] md:mb-0 md:float-right"
            alt="Bluprint"
            src={Colors}
          />
        </div>
        <div class="md:w-[50%]">
          <Image
            class="px-[20px] h-auto md:px-[10%]"
            alt="Bluprint"
            src={Ad1}
          />
        </div>
      </div>
      <div class="flex flex-row px-[20px] items-center md:px-[60px]">
        <Image
          class="w-[33%] py-[1.5%] px-[1.5%]"
          alt="Bluprint"
          src={MultiCat}
        />
        <video
          class="w-[33%] py-[1.1%] px-[1.1%]"
          playsinline
          loop
          autoplay
          muted
          class="h-auto"
        >
          <source src={Cake} />
        </video>
        <Image class="w-[33%] py-[1.5%] px-[1.5%]" alt="Bluprint" src={Fox1} />
      </div>
      <div
        class="my-[45px] mx-[25px] karla md:my-[120px] md:columns-2 md:mx-[250px] md:gap-[80px]"
      >
        <h1 class="mb-[40px] font-[700] text-[24px]">Brand Pillars</h1>
        <h2 class="text-[#CF3538] font-[700] tracking-widest">
          WE RESPECT YOUR TIME
        </h2>
        <p class="mb-[40px] md:pr-[20px]">
          We help you cut through the startup hassle by curating everything you
          need in one place and meeting you on your favorite platform. From
          project kits designed for your skill level to step-by-step guidance,
          you can be assured that you’ll make something great here.
        </p>
        <h2 class="text-[#CF3538] font-[700] tracking-widest">
          WE'VE BEEN THERE
        </h2>
        <p class="mb-[40px] md:pr-[20px]">
          We anticipate all the hills and valleys because we’ve gone through
          them too. At every turn, it feels like there’s a real person helping
          you avoid common mistakes and setting you up for success.
        </p>
        <h2 class="text-[#CF3538] font-[700] tracking-widest">
          WE'RE FOR EVERY MAKER
        </h2>
        <p class="mb-[40px]">
          Whether you’re a never-crafted newbie or an accomplished maker with
          decades of experience, we help you discover the best options for you
          and grow your skills.
        </p>
        <h2 class="text-[#CF3538] font-[700] tracking-widest">
          WE KEEP IT FRESH
        </h2>
        <p class="mb-[40px]">
          We’re that endlessly creative friend who’s always in the know about
          the next incredible thing, from trends and techniques to tools and
          tips. There’s always something new to see and try.
        </p>
        <h2 class="text-[#CF3538] font-[700] tracking-widest">
          WE BELIEVE IN THE JOY OF CREATIVITY
        </h2>
        <p class="mb-[40px]">
          You love making. We get it because we feel the same way. We understand
          one of the greatest sources of happiness is the creative world we
          build.
        </p>
      </div>
    </div>
    <Image alt="Bluprint" src={HomePage} />
    <div>
      <video playsinline loop autoplay muted class="w-screen">
        <source src={SocialGrid} />
      </video>
    </div>
    <Image
      class="my-[45px] px-[20px] md:my-[120px] md:px-[300px]"
      alt="Bluprint"
      src={Ad2}
    />
    <div class="flex flex-row bg-[#028282]">
      <Image class="w-[50%] p-[6%]" alt="Bluprint" src={Jump1} />
      <Image class="w-[50%] p-[10%]" alt="Bluprint" src={Jump2} />
    </div>
    <div
      id="video-container-2"
      class="w-full pt-[56.25%] relative flex justify-center"
    >
      <iframe
        id="video-iframe-2"
        class="h-full w-[75%] absolute top-0 left-0 right-0 mx-auto"
        src="https://player.vimeo.com/video/1035014250?title=0&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
        allow="autoplay"
        title="Bluprint DIY"></iframe>
      <div id="pause-2" class="pause-cover"></div>
      <div id="play-2" class="play-button">PLAY</div>
      <!-- <video id="custom-video" class="h-auto w-[92%]" loop>
          <source src={CKAnimation} type="video/mp4" />
        </video> -->
      <!-- <div id="play-button">PLAY</div> -->
    </div>
    <div class="mx-[10px] flex flex-row md:mx-[40px]">
      <video loop playsinline autoplay muted class="h-auto w-1/3 p-[1%]">
        <source src={Disco} />
      </video>
      <Image class="w-1/3 p-[1.4%] h-auto" alt="Bluprint" src={Fox2} />
      <video loop playsinline autoplay muted class="h-auto p-[1%] w-1/3">
        <source src={MakeupBag} />
      </video>
    </div>
    <Image
      class="h-auto w-2/3 mx-auto my-[45px] md:my-[120px]"
      alt="Bluprint"
      src={Ad3}
    />
    <Image class="h-auto w-full" alt="Bluprint" src={LifeStyle2} />
    <Image class="h-auto w-full" alt="Bluprint" src={Patches} />
    <Image
      class="h-auto w-[80%] mx-auto my-[45px] md:my-[120px]"
      alt="Bluprint"
      src={Tree}
    />
    <div class="flex flex-row mx-0 w-full md:px-[60px]">
      <Image class="h-auto w-1/2 pr-[2%]" alt="Bluprint" src={Ad4} />
      <Image class="h-auto w-1/2 pl-[2%]" alt="Bluprint" src={Ad5} />
    </div>
    <Image
      class="h-auto w-full my-[45px] md:my-[120px]"
      alt="Bluprint"
      src={Embroidery}
    />
    <Image
      class="h-auto w-full px-[20px] md:w-[50%] mx-auto mb-[45px] md:mb-[120px] md:px-0"
      alt="Bluprint"
      src={Boxes}
    />
    <Image class="h-auto w-full" alt="Bluprint" src={Collateral} />
    <div class="bg-[#242121]">
      <div class="text-white karla py-[30px] pl-[20px] font-[16px]">
        <p class="font-[700] inline-block tracking-[3px]">BLUPRINT</p>
        <p class="inline-block ml-[20px]">Introducing</p>
      </div>
      <div class="flex justify-between flex-wrap m-0 px-[20px]">
        <Image
          class="h-auto w-[49.5%] rounded my-1 md:my-1.5"
          alt="Bluprint"
          src={Grid1}
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1 md:my-1.5"
          alt="Bluprint"
          src={Grid2}
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1 md:my-1.5"
          alt="Bluprint"
          src={Grid3}
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1 md:my-1.5"
          alt="Bluprint"
          src={Grid4}
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1 md:my-1.5"
          alt="Bluprint"
          src={Grid5}
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1 md:my-1.5"
          alt="Bluprint"
          src={Grid6}
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1 md:my-1.5"
          alt="Bluprint"
          src={Grid7}
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1 md:my-1.5"
          alt="Bluprint"
          src={Grid8}
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1 md:my-1.5"
          alt="Bluprint"
          src={Grid9}
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1 md:my-1.5"
          alt="Bluprint"
          src={Grid10}
        />
      </div>
    </div>
  </div>
</InternalLayout>
<ProjectCarousel name="Bluprint" />
<script>
  import Player from "@vimeo/player";

  const videoContainer1 = document.getElementById("video-container-1");
  const videoContainer2 = document.getElementById("video-container-2");
  const video1 = document.getElementById("video-iframe-1");
  const video2 = document.getElementById("video-iframe-2");
  const player1 = new Player(video1);
  const player2 = new Player(video2);
  const pauseButton1 = document.getElementById("pause-1");
  const playButton1 = document.getElementById("play-1");
  const pauseButton2 = document.getElementById("pause-2");
  const playButton2 = document.getElementById("play-2");

  // Event listener for the play/pause button
  videoContainer1.addEventListener("mouseenter", (event) => {
    player1.getPaused().then((paused) => {
      if (paused) {
        playButton1.style.display = "flex";
      }
    });
  });
  videoContainer1.addEventListener("mouseleave", (event) => {
    playButton1.style.display = "none";
  });
  pauseButton1.addEventListener("click", (event) => {
    player1.getPaused().then((paused) => {
      if (!paused) {
        player1.pause();
        playButton1.style.display = "flex";
      }
    });
  });
  playButton1.addEventListener("click", (event) => {
    player1.getPaused().then((paused) => {
      if (paused) {
        player1.play();
        playButton1.style.display = "none";
      }
    });
  });

  videoContainer2.addEventListener("mouseenter", (event) => {
    player2.getPaused().then((paused) => {
      if (paused) {
        playButton2.style.display = "flex";
      }
    });
  });
  videoContainer2.addEventListener("mouseleave", (event) => {
    playButton2.style.display = "none";
  });
  pauseButton2.addEventListener("click", (event) => {
    player2.getPaused().then((paused) => {
      if (!paused) {
        player2.pause();
        playButton2.style.display = "flex";
      }
    });
  });
  playButton2.addEventListener("click", (event) => {
    player2.getPaused().then((paused) => {
      if (paused) {
        player2.play();
        playButton2.style.display = "none";
      }
    });
  });
</script>
