---
const brand = "Comics Kingdom";
const tagline = "A Feast of Fandom";
const tags = [
  "Brand Identity + Positioning",
  "Logo Design",
  "Video + Photography",
  "Art + Illustration",
  "Product Design (UX/UI)",
  "Print + Packaging",
  "Organic + Paid Social Content",
  "Interviews",
  "Writing + Editing",
  "Qualitative Research",
  "Surprise + Delight",
  "Visual Identity",
  "Theatrics",
];

const WE_ARE = [
  "A Bite of Delight",
  "Trustees of the Artform",
  "A Nest for Storytellers and Fans Alike",
  "Making New Friends While Cherishing the Old",
  "Keen Observers and Active Participant",
];

import "../../styles/utils.css";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import HeaderVideo from "@assets/ComicsKingdom/CK_Header_Desktop.mp4";
import HeaderVideoMobile from "@assets/ComicsKingdom/CK_Header_Mobile.mp4";
import HeaderImage from "@assets/ComicsKingdom/img/Hero.jpg";
import Image from "astro/components/Image.astro";
import CKAnimation from "@assets/ComicsKingdom/CK_Animation.mp4";
import LogoIllustrationDesktop from "@assets/ComicsKingdom/img/CK_Logo_Illustration_Desktop.png";
import LogoIllustrationMobile from "@assets/ComicsKingdom/img/CK_Logo_Illustration_Mobile.png";
import AppDesktop from "@assets/ComicsKingdom/img/CK_App_Desktop.png";
import AppMobile from "@assets/ComicsKingdom/img/CK_App_Mobile.png";
import IconsDesktop from "@assets/ComicsKingdom/img/CK_Icons_Desktop.png";
import IconsMobile from "@assets/ComicsKingdom/img/CK_Icons_Mobile.png";
import PhoneVibration from "@assets/ComicsKingdom/CK_Phone_Vibration.mp4";
import Creator from "@assets/ComicsKingdom/CK_Creator.webm";
import CreatorSafari from "@assets/ComicsKingdom/CK_Creator_Safari.mov";
import Home from "@assets/ComicsKingdom/img/CK_App_Home.png";
import Cat from "@assets/ComicsKingdom/CK_Cat.webm";
import CatSafari from "@assets/ComicsKingdom/CK_Cat_Safari.mov";
import Friends from "@assets/ComicsKingdom/CK_Friends.webm";
import FriendsSafari from "@assets/ComicsKingdom/CK_Friends_Safari.mov";
import Social from "@assets/ComicsKingdom/img/CK_Social.png";
import Email from "@assets/ComicsKingdom/img/CK_Email.png";
import Mark from "@assets/ComicsKingdom/img/CK_Mark.png";
import Book from "@assets/ComicsKingdom/img/CK_Book.png";
import Navigation from "@components/Navigation.astro";
import BrandGrid1 from "@assets/ComicsKingdom/img/CK_Brand_Grid_01.png";
import BrandGrid2 from "@assets/ComicsKingdom/img/CK_Brand_Grid_02.png";
import BrandGrid3 from "@assets/ComicsKingdom/img/CK_Brand_Grid_03.png";
import BrandGrid4 from "@assets/ComicsKingdom/img/CK_Brand_Grid_04.png";
import BrandGrid5 from "@assets/ComicsKingdom/img/CK_Brand_Grid_05.png";
import BrandGrid6 from "@assets/ComicsKingdom/img/CK_Brand_Grid_06.png";
import BrandGrid7 from "@assets/ComicsKingdom/img/CK_Brand_Grid_07.png";
import BrandGrid8 from "@assets/ComicsKingdom/img/CK_Brand_Grid_08.png";
import BrandGrid9 from "@assets/ComicsKingdom/img/CK_Brand_Grid_09.png";
import BrandGrid10 from "@assets/ComicsKingdom/img/CK_Brand_Grid_10.png";
import BrandGrid11 from "@assets/ComicsKingdom/img/CK_Brand_Grid_11.png";
import BrandGrid12 from "@assets/ComicsKingdom/img/CK_Brand_Grid_12.png";
import BrandGrid13 from "@assets/ComicsKingdom/img/CK_Brand_Grid_13.png";
import BrandGrid14 from "@assets/ComicsKingdom/img/CK_Brand_Grid_14.png";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import TransparentVideo from "@components/TransparentVideo.astro";
import ResponsiveImage from "@components/ResponsiveImage.astro";
import VimeoPlayer from "@components/VimeoPlayer.astro";
---

<style>
  .social-background {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("../../assets/ComicsKingdom/img/RedBG-tile.png");
  }
  .friends-background {
    background-image: url("../../assets/ComicsKingdom/img/PaperBG-tile.png");
  }

  .dark-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/ComicsKingdom/img/CharcoalBG-tile.png");
    background-repeat: repeat;
    background-size: auto;
  }

  .karla {
    font-family: "Karla", sans-serif;
  }

  #we-are {
    width: 200px;
    height: 55px;
    font-weight: bold;

    li {
      position: absolute;
      width: 200px;
      opacity: 0;
      transition: opacity 0.666s;

      &.active {
        opacity: 1;
      }
    }
  }
</style>
<ProjectLayout
  hero={HeaderVideo}
  mobile={HeaderVideoMobile}
  preview={HeaderImage}
  brand={brand}
  tagline={tagline}
  tags={tags}
  theme="dark"
>
  <VimeoPlayer
    class="padded bg-[#363131]"
    video="1026680777"
    height="56.25%"
    action="unpause"
  />

  <ResponsiveImage
    mobile={LogoIllustrationMobile}
    desktop={LogoIllustrationDesktop}
    alt="Comics Kingdom"
  />
  <div
    class="w-full columns-1 md:columns-2 gap-[90px] my-[45px] md:my-[120px] px-[25px] md:px-[245px] karla text-[#363131] leading-[26px]"
  >
    <p class="m-0">
      Every strip starts with a sketch. A gag. A storyboard. An inkling of an
      idea, brought to life by a pencil, some paper (okay, occasionally a tablet
      and stylus), and an altogether personal point of view. It's the first step
      in a hero’s winding journey—both the character’s and the creator’s—soon to
      meet the fans who will cheer them along. <br /><br />Comics Kingdom is for
      those who believe in limitless creativity, barely contained in a bite of
      delight. The ones who must make, against any obstacles, whether pioneers
      or next generation, in service of an art form that nudges us all forward,
      eliciting chuckles, catharsis, and connection. We're a haven for those who
      absolutely worship cartoon history and are eager to preserve and
      transform. A community for the people who open to the funnies every week
      or get the digital scoop any day. A place for enthusiasts to support
      others and recognize the wonderfully human lessons and observations
      depicted through a beloved and all too rare craft. A platform for artists
      to breathe new life, share new experiences, and reach new friends. A way
      to come together through a niche that unifies—one of the lightest ways to
      deal with heavy stuff. <br /><br />
      <span class="text-[#DD4C42] text-lg md:text-xl font-bold"
        >For <em>those</em>, for <em>us</em>, and <em>all</em>, our mission is
        to keep the comics coming.</span
      >
    </p>
  </div>

  <ResponsiveImage
    mobile={AppMobile}
    desktop={AppDesktop}
    alt="Comics Kingdom"
  />

  <div class="dark-container pt-[45px] md:pt-[120px]">
    <ResponsiveImage
      mobile={IconsMobile}
      desktop={IconsDesktop}
      class="w-1/2"
      alt="Comics Kingdom"
    />
    <TransparentVideo
      mov={CreatorSafari}
      webm={Creator}
      class="max-h-full w-[100%] my-[40px] md:my-[100px] mx-0"
    />
    <Image
      class="h-auto w-full px-[20px] md:px-[300px]"
      src={Home}
      alt="Comics Kingdom"
    />
  </div>
  <video loop playsinline autoplay muted class="w-[100%]">
    <source src={CKAnimation} />
  </video>
  <div
    class="w-full flex flex-col md:flex-row md:items-center justify-center gap-[80px] md:gap-[150px] my-[45px] md:my-[120px] px-[62px] md:px-[300px]"
  >
    <div class="karla text-[#363131] justify-self-end">
      <p class="md:text-[20px]">We are</p>
      <ul id="we-are">
        {
          WE_ARE.map((motto) => (
            <li class="text-[20px] md:text-[24px]">{motto}</li>
          ))
        }
      </ul>
    </div>
    <video loop playsinline autoplay muted style="max-width:300px;">
      <source src={PhoneVibration} type="video/mp4" />
    </video>
  </div>
  <div class="w-full friends-background py-[35px] md:py-[110px]">
    <TransparentVideo webm={Friends} mov={FriendsSafari} class="w-screen" />
  </div>
  <div class="social-background">
    <Image
      class="h-auto w-full px-[20px] md:px-[300px] py-[45px] md:py-[120px]"
      src={Social}
      alt="Comics Kingdom"
    />
  </div>
  <Image
    class="h-auto w-full px-[20px] md:px-[300px] my-[45px] md:my-[120px]"
    src={Email}
    alt="Comics Kingdom"
  />
  <div class="flex flex-row w-full items-baseline mb-[45px] md:mb-0">
    <div class="w-1/2">
      <Image
        class="h-auto w-1/2 pl-[20px] pb-[10px] md:pl-[60px] md:pb-[50px]"
        src={Mark}
        alt="Comics Kingdom"
      />
    </div>
    <Image class="h-auto w-1/2" src={Book} alt="Comics Kingdom" />
  </div>
</ProjectLayout>
<div class="bg-[#242121]">
  <div class="karla text-[#F7F4ED] py-[30px] pl-[20px] md:pl-[30px]">
    <p class="font-bold tracking-widest inline-block">COMICS KINGDOM</p>
    <p class="inline-block ml-[20px]">A glimpse at the brand guide</p>
  </div>
  <div class="grid grid-cols-2 gap-[5px] md:gap-[15px] px-[20px] md:px-[45px]">
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid1}
      alt="Sage Brand Guide Grid 1"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid2}
      alt="Sage Brand Guide Grid 4"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid3}
      alt="Sage Brand Guide Grid 3"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid4}
      alt="Sage Brand Guide Grid 5"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid5}
      alt="Sage Brand Guide Grid 6"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid6}
      alt="Sage Brand Guide Grid 7"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid7}
      alt="Sage Brand Guide Grid 2"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid8}
      alt="Sage Brand Guide Grid 8"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid9}
      alt="Sage Brand Guide Grid 9"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid10}
      alt="Sage Brand Guide Grid 10"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid11}
      alt="Sage Brand Guide Grid 11"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid12}
      alt="Sage Brand Guide Grid 12"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid13}
      alt="Sage Brand Guide Grid 13"
    />
    <Image
      class="w-full h-auto rounded"
      src={BrandGrid14}
      alt="Sage Brand Guide Grid 14"
    />
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let mottos = document.querySelectorAll("#we-are li"),
      idx = 0;
    mottos[idx].classList.add("active");

    setInterval(() => {
      idx = (idx + 1) % mottos.length;
      mottos.forEach((motto, i) => motto.classList.toggle("active", i == idx));
    }, 2000);
  });
</script>
