---
import "../../styles/utils.css";
import InternalLayout from "@layouts/InternalLayout.astro";
import TextGrid from "@components/TextGrid.astro";
import ScrollImage from "@components/ScrollImage.astro";
import Header from "@assets/ComicsKingdom/img/CK_Cover.jpg";
import Image from "astro/components/Image.astro";
import CKAnimation from "@assets/ComicsKingdom/CK_Animation.mp4";
import LogoIllustrationDesktop from "@assets/ComicsKingdom/img/CK_Logo_Illustration_Desktop.png";
import LogoIllustrationMobile from "@assets/ComicsKingdom/img/CK_Logo_Illustration_Mobile.png";
import AppDesktop from "@assets/ComicsKingdom/img/CK_App_Desktop.jpg";
import AppMobile from "@assets/ComicsKingdom/img/CK_App_Mobile.jpg";
import IconsDesktop from "@assets/ComicsKingdom/img/CK_Icons_Desktop.png";
import IconsMobile from "@assets/ComicsKingdom/img/CK_Icons_Mobile.png";
import Creator from "@assets/ComicsKingdom/CK_Creator.webm";
import CreatorSafari from "@assets/ComicsKingdom/CK_Creator_Safari.mov";
import Home from "@assets/ComicsKingdom/img/CK_App_Home.png";
import Cat from "@assets/ComicsKingdom/CK_Cat.webm";
import CatSafari from "@assets/ComicsKingdom/CK_Cat_Safari.mov";
import Friends from "@assets/ComicsKingdom/CK_Friends.webm";
import FriendsSafari from "@assets/ComicsKingdom/CK_Friends_Safari.mov";
import Social from "@assets/ComicsKingdom/img/CK_Social.png";
import Email from "@assets/ComicsKingdom/img/CK_Email.png";
import Mark from "@assets/ComicsKingdom/img/CK_Mark.png";
import Book from "@assets/ComicsKingdom/img/CK_Book.jpg";
import Navigation from "@components/Navigation.astro";
import BrandGrid1 from "@assets/ComicsKingdom/img/CK_Brand_Grid_01.png";
import BrandGrid2 from "@assets/ComicsKingdom/img/CK_Brand_Grid_02.png";
import BrandGrid3 from "@assets/ComicsKingdom/img/CK_Brand_Grid_03.png";
import BrandGrid4 from "@assets/ComicsKingdom/img/CK_Brand_Grid_04.png";
import BrandGrid5 from "@assets/ComicsKingdom/img/CK_Brand_Grid_05.png";
import BrandGrid6 from "@assets/ComicsKingdom/img/CK_Brand_Grid_06.png";
import BrandGrid7 from "@assets/ComicsKingdom/img/CK_Brand_Grid_07.png";
import BrandGrid8 from "@assets/ComicsKingdom/img/CK_Brand_Grid_08.png";
import BrandGrid9 from "@assets/ComicsKingdom/img/CK_Brand_Grid_09.png";
import BrandGrid10 from "@assets/ComicsKingdom/img/CK_Brand_Grid_10.png";
import BrandGrid11 from "@assets/ComicsKingdom/img/CK_Brand_Grid_11.jpg";
import BrandGrid12 from "@assets/ComicsKingdom/img/CK_Brand_Grid_12.jpg";
import BrandGrid13 from "@assets/ComicsKingdom/img/CK_Brand_Grid_13.jpg";
import BrandGrid14 from "@assets/ComicsKingdom/img/CK_Brand_Grid_14.jpg";
import ProjectCarousel from "@components/ProjectCarousel.astro";
import TransparentVideo from "@components/TransparentVideo.astro";
import ResponsiveImage from "@components/ResponsiveImage.astro";
---
<style>
  #comics-main {
    width: 100%;
    background-color: #f7f4ed;
  }
  .image-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .social-background {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("../../assets/ComicsKingdom/img/RedBG-tile.png");
    padding: 100px 0;
  }

  .friends-background {
    background-image: url("../../assets/ComicsKingdom/img/PaperBG-tile.png");
  }

  .image-container-half {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }

  .textbox {
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .dark-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/ComicsKingdom/img/CharcoalBG-tile.png");
    background-repeat: repeat;
    background-size: auto;
  }
  h1 {
    font-family: "Filson Pro";
    font-weight: bold;
    font-size: 72px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .text-two-column-centered {
    width: 64%;
    margin: 100px auto;
    font-family: "Karla";
    font-size: 16px;
    line-height: 26px;
    column-count: 1;
    column-gap: 90px;
  }
  #video-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #17100b;
    box-sizing: border-box;
    padding-top: 56.25%;
    width: 100%;
  }
  #video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 100%;
    /* height: 500px; */
    /* object-fit: cover; */
  }
  .karla {
    font-family: "Karla", sans-serif;
  }
  #pause-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  #play-button {
    position: absolute;
    display: none;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: #ff97fd;
    transform: rotate(1.75deg);
    border: 1px solid black;
    font-size: 21px;
    font-family: "Karla";
    letter-spacing: 2px;
  }
  .grid-container {
    background-color: #242121;
  }
  .grid-text-container {
    color: white;
    font-family: "Karla";
    padding: 30px 0 30px 20px;
    font-size: 16px;
  }
  .grid-brand {
    font-weight: bold;
    display: inline-block;
    letter-spacing: 3px;
  }
  .grid-brand-follow {
    display: inline-block;
    margin-left: 20px;
  }
  .image-container--grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    /* #ck_video {
      height: 300px;
      width: 90vw;
    } */
    h1 {
      margin-top: 45px;
      margin-bottom: 45px;
    }
    .text-two-column-centered {
      column-count: 2;
    }
  }
</style>
<InternalLayout>
  <div id="comics-main">
    <ScrollImage type="image" brandName="Comics Kingdom" headerImage={Header} />
    <div style={{ backgroundColor: "#17100B" }}>
      <!-- <ScrollImage theme="dark" /> -->
      <TextGrid title="COMICS KINGDOM" theme="dark">
        <li>Brand Identity + Positioning</li>
        <li>Logo Design</li>
        <li>Video + Photography</li>
        <li>Writing + Editing</li>
        <li>Surprise + Delight</li>
        <li>Art + Illustration</li>
        <li>Product Design (UX/UI)</li>
        <li>Social Content + Advertising</li>
        <li>Interviews</li>
        <li>Qualitative Research</li>
      </TextGrid>
    </div>
    <div class="image-flex">
      <div
        class="w-full relative flex justify-center bg-[#17100b] pt-[50px] pb-[100px]"
      >
        <div id="video-container">
          <iframe
            id="video-iframe"
            class="max-h-full w-[90%]"
            src="https://player.vimeo.com/video/1026680777?title=0&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
            allow="autoplay"
            title="Comics Kingdom"></iframe>
          <!-- <video id="custom-video" class="h-auto w-[92%]" loop>
          <source src={CKAnimation} type="video/mp4" />
        </video> -->
          <div id="pause-cover"></div>
          <div id="play-button">PLAY</div>
        </div>
      </div>

      <ResponsiveImage mobile={LogoIllustrationMobile} desktop={LogoIllustrationDesktop} alt="Comics Kingdom" />

      <div class="text-two-column-centered">
        <p class="m-0">
          Every strip starts with a sketch. A gag. A storyboard. An inkling of
          an idea, brought to life by a pencil, some paper (okay, occasionally a
          tablet and stylus), and an altogether personal point of view. It's the
          first step in a hero’s winding journey—both the character’s and the
          creator’s—soon to meet the fans who will cheer them along. <br /><br
          />Comics Kingdom is for those who believe in limitless creativity,
          barely contained in a bite of delight. The ones who must make, against
          any obstacles, whether pioneers or next generation, in service of an
          art form that nudges us all forward, eliciting chuckles, catharsis,
          and connection. We're a haven for those who absolutely worship cartoon
          history and are eager to preserve and transform. A community for the
          people who open to the funnies every week or get the digital scoop any
          day. A place for enthusiasts to support others and recognize the
          wonderfully human lessons and observations depicted through a beloved
          and all too rare craft. A platform for artists to breathe new life,
          share new experiences, and reach new friends. A way to come together
          through a niche that unifies—one of the lightest ways to deal with
          heavy stuff. <br /><br />
          <span class="text-[#DD4C42] text-xl font-bold"
            >For <em>those</em>, for <em>us</em>, and <em>all</em>, our mission
            is to keep the comics coming.</span
          >
        </p>
      </div>

      <ResponsiveImage mobile={AppMobile} desktop={AppDesktop} alt="Comics Kingdom" />

      <div class="dark-container">
        <ResponsiveImage
          mobile={IconsMobile}
          desktop={IconsDesktop}
          class="w-1/2 mt-[100px] md:mt-[50px]"
          alt="Comics Kingdom"
        />
        <TransparentVideo mov={CreatorSafari} webm={Creator} class="max-h-full w-[100%] my-[40px] md:my-[100px] mx-0" />
        <Image class="h-auto w-[66%]" src={Home} alt="Comics Kingdom" />
      </div>
      <video loop playsinline autoplay muted class="w-[100%]">
        <source src={CKAnimation} />
      </video>
      <div
        class="w-[100%] flex items-center justify-between flex-col md:flex-row md:ml-[200px] overflow-x-hidden"
      >
        <div class="karla my-[20px] md:pl-[200px]">
          <p class="">We are</p>
          <p class="w-[200px] font-bold">
            Making New Friends While Cherishing the Old
          </p>
        </div>
        <TransparentVideo webm={Cat} mov={CatSafari} class="w-[100%] md:-ml-[200px]" />
      </div>
      <div class="w-full friends-background">
        <TransparentVideo webm={Friends} mov={FriendsSafari} class="mb-[120px] w-screen" />
      </div>
      <div class="social-background">
        <Image class="h-auto w-[47%]" src={Social} alt="Comics Kingdom" />
      </div>
      <Image
        class="h-auto w-[58%] my-[180px] mx-0"
        src={Email}
        alt="Comics Kingdom"
      />
      <div class="image-container-half">
        <Image
          class="h-auto w-[22%] ml-[50px] mb-[50px]"
          src={Mark}
          alt="Comics Kingdom"
        />
        <Image class="h-auto w-1/2" src={Book} alt="Comics Kingdom" />
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-text-container">
        <p class="grid-brand">COMICS KINGDOM</p>
        <p class="grid-brand-follow">A glimpse at the brand guide</p>
      </div>
      <div class="image-container--grid">
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid1}
          alt="Sage Brand Guide Grid 1"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid2}
          alt="Sage Brand Guide Grid 4"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid3}
          alt="Sage Brand Guide Grid 3"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid4}
          alt="Sage Brand Guide Grid 5"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid5}
          alt="Sage Brand Guide Grid 6"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid6}
          alt="Sage Brand Guide Grid 7"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid7}
          alt="Sage Brand Guide Grid 2"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid8}
          alt="Sage Brand Guide Grid 8"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid9}
          alt="Sage Brand Guide Grid 9"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid10}
          alt="Sage Brand Guide Grid 10"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid11}
          alt="Sage Brand Guide Grid 11"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid12}
          alt="Sage Brand Guide Grid 12"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid13}
          alt="Sage Brand Guide Grid 13"
        />
        <Image
          class="h-auto w-[49.5%] rounded my-1.5"
          src={BrandGrid14}
          alt="Sage Brand Guide Grid 14"
        />
      </div>
    </div>
  </div>
  <ProjectCarousel name="Comics Kingdom" />
</InternalLayout>

<script>
  import Player from "@vimeo/player";

  const videoContainer = document.getElementById("video-container");
  const video = document.getElementById("video-iframe");
  const player = new Player(video);
  const pauseButton = document.getElementById("pause-cover");
  const playButton = document.getElementById("play-button");
  // Event listener for the play/pause button
  videoContainer.addEventListener("mouseenter", (event) => {
    player.getPaused().then((paused) => {
      if (paused) {
        playButton.style.display = "flex";
      }
    });
  });
  videoContainer.addEventListener("mouseleave", (event) => {
    playButton.style.display = "none";
  });
  pauseButton.addEventListener("click", (event) => {
    player.getPaused().then((paused) => {
      if (!paused) {
        player.pause();
        playButton.style.display = "flex";
      }
    });
  });
  playButton.addEventListener("click", (event) => {
    player.getPaused().then((paused) => {
      if (paused) {
        player.play();
        playButton.style.display = "none";
      }
    });
  });
</script>
