---
import "@styles/utils.css";
import "@styles/curve-report.css";
import Image from "astro/components/Image.astro";
import InternalLayout from "@layouts/InternalLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import OneUp from "@components/OneUp.astro";
import TwoUp from "@components/TwoUp.astro";
import Navigation from "@components/Navigation.astro";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import ResponsiveImage from "@components/ResponsiveImage.astro";
import ResponsiveBackground from "@components/ResponsiveBackground.astro";
import ResponsiveTextBlock from "@components/ResponsiveTextBlock.astro";


import Hero from "@assets/CurveReport/img/hero.jpg"

import StoryTop from "@assets/CurveReport/img/story-header.jpg"
import StoryA from "@assets/CurveReport/img/story-1.jpg"
import StoryB from "@assets/CurveReport/img/story-2.jpg"
import StoryC from "@assets/CurveReport/img/story-3.jpg"
import StoryD from "@assets/CurveReport/img/story-4.jpg"
import StoryE from "@assets/CurveReport/img/story-5.jpg"
import StoryF from "@assets/CurveReport/img/story-6.jpg"
import StoryG from "@assets/CurveReport/img/story-7.jpg"
import StoryH from "@assets/CurveReport/img/story-8.jpeg"
import StoryBottom from "@assets/CurveReport/img/story-footer.jpg"

import WelcomeA from "@assets/CurveReport/img/welcome-1.jpg"
import WelcomeB from "@assets/CurveReport/img/welcome-2.jpg"
import WelcomeC from "@assets/CurveReport/img/welcome-3.png"
import WelcomeD from "@assets/CurveReport/img/welcome-4.jpg"

import CultureTop from "@assets/CurveReport/img/culture-header.jpg"
import CultureA from "@assets/CurveReport/img/culture-1.jpg"
import CultureB from "@assets/CurveReport/img/culture-2.jpg"
import CultureC from "@assets/CurveReport/img/culture-3.jpg"
import CultureD from "@assets/CurveReport/img/culture-4.jpg"
import CultureBottom from "@assets/CurveReport/img/culture-footer.jpg"

const vimeoAllow = "autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
const vimeoOpts = "?byline=false&title=false&portrait=false"
const vimeoRobinsonTitle = "The Curve + MSNBC interviews Evita Robinson"
const vimeoRobinson = "https://player.vimeo.com/video/177130878" + vimeoOpts
const vimeoNordTitle = "The Curve + MSNBC interviews James Nord"
const vimeoNord = "https://player.vimeo.com/video/177130879" + vimeoOpts


const vimeoCultureTitle = "The Curve Report: CultureFirst - Teaser Trailer"
const vimeoCulture = "https://player.vimeo.com/video/177130787" + vimeoOpts

const brand = "The Curve Report"
---

<InternalLayout>
  <div id="curve-report-main">
    <ProjectHead hero={Hero} brand={brand} tagline="TKTKTKTKTK" />
    <ProjectTags title={brand} theme="light" tags={[
        'Brand Identity + Positioning',
        'Video + Photography',
        'Art + Illustration',
        'Physical Goods Development + Design',
        'Print + Packaging',
        'Editorial Content',
        'Interviews',
        'Writing + Editing',
        'Qualitative Research',
        'Surprise + Delight',
        'Visual Identity',
    ]} />
    <div id="curve-report-content">

        <TwoUp>
            <Image src={StoryTop} alt=" "/>
            <div class="section-intro">
                <h1>Telling The Story of What’s Next</h1>
                <p>NBCUniversal’s The Curve Report is a curated synthesis of social shifts, industry trends, and quantitative and qualitative research that tells a story of what’s influencing consumers today, what’s shaping culture next, and the actionable insights and opportunities for marketers and brands looking to partner with NBCUniversal’s Ad Sales division.  The Americana Trilogy is the culmination of a near three year project consisting of three editions of The Curve: American Man (in partnership with Esquire Network), American Woman (in partnership with Oxygen), and Young Americans.</p>
                <p>Responsible for both the creative direction and art direction of The Curve brand, which includes print, digital, and film divisions, I hand selected my team and together we worked tirelessly – from getting down and dirty playing with the children of a real family to perfect authentic shots to handcrafting origami ornaments, abstract American flag collages, and paper doll chains – transcending the boundaries of traditional corporate editorial layout design to bring a more personal, bespoke quality to the entire brand.</p>
            </div>
        </TwoUp>
        <TwoUp>
            <Image src={StoryA} alt=" "/>
            <Image src={StoryB} alt=" "/>
        </TwoUp>
        <TwoUp>
            <Image src={StoryC} alt=" "/>
            <Image src={StoryD} alt=" "/>
        </TwoUp>
        <TwoUp>
            <Image src={StoryE} alt=" "/>
            <Image src={StoryF} alt=" "/>
        </TwoUp>
        <TwoUp>
            <Image src={StoryG} alt=" "/>
            <Image src={StoryH} alt=" "/>
        </TwoUp>
        <OneUp src={StoryBottom} alt=" "/>

        <ResponsiveTextBlock class="welcome-intro">
            <div>
                <h1>Welcome to the New Mainstream</h1>
                <p>America Now is an edition of NBCUniversal’s The Curve Report (created in partnership with MSNBC) that explores how the new American mainstream is more diverse, independent, and globally conscious than ever before. Beyond handling all the creative for the print </p>
            </div>
            <div class="no-break">
                <p>edition, with its striking blind embossed/debossed cover, custom photo shoots, and bespoke editorial design, my team also handled the graphics for the campaign expert interview video series (some samples above). From concepting the storytelling approach to art directing the shoots themselves, even interviewing the subjects myself in some cases, I touched every facet of the project creative.</p>
            </div>
        </ResponsiveTextBlock>

        <TwoUp>
            <Image src={WelcomeA} alt=" "/>
            <Image src={WelcomeB} alt=" "/>
        </TwoUp>
        <TwoUp bias="left">
            <Image src={WelcomeC} alt=" "/>
            <Image src={WelcomeD} alt=" "/>
        </TwoUp>

        <TwoUp>
            <div id="robinson-interview" class="video-player">
                <iframe title={vimeoRobinsonTitle} src={vimeoRobinson} frameborder="0" allow={vimeoAllow}></iframe>
            </div>
            <div id="nord-interview" class="video-player">
                <iframe title={vimeoNordTitle} src={vimeoNord} frameborder="0" allow={vimeoAllow}></iframe>
            </div>
        </TwoUp>


        <TwoUp>
            <Image src={CultureTop} alt=" "/>
            <div class="section-intro">
                <h1>Exploring Latinx Culture Across America</h1>
                <p>As creative lead on The Curve Report: CultureFirst (created in partnership with Telemundo), my team and I traveled the nation scouting, concepting, and art directing portraits of Latinx people in the vanguard of shaping American culture. The 9 month project culminated in the artful print edition and several companion videos, which I concepted and scripted to market the content.</p>
            </div>
        </TwoUp>
        <TwoUp>
            <Image src={CultureA} alt=" "/>
            <Image src={CultureB} alt=" "/>
        </TwoUp>
        <TwoUp>
            <Image src={CultureC} alt=" "/>
            <Image src={CultureD} alt=" "/>
        </TwoUp>
        <OneUp src={CultureBottom} alt=" "/>

        <div id="culture-report" class="video-player">
            <iframe title={vimeoCultureTitle} src={vimeoCulture} frameborder="0" allow={vimeoAllow}></iframe>
        </div>

    </div>
    <ProjectsCarousel name={brand} />
</div>
</InternalLayout>

