---
const brand = "Fab";
const tagline = "Watch + Learn";
const tags = [
  "Brand Identity + Positioning",
  "Logo Design",
  "Video + Photography",
  "Art + Illustration",
  "Product Design (UX/UI)",
  "CX",
  "Interior Design",
  "Original Naming",
  "Physical Goods Development + Design",
  "Print + Packaging",
  "Organic + Paid Social Content",
  "Writing + Editing",
  "Qualitative Research",
  "Surprise + Delight",
];

import "@styles/utils.css";
import ProjectLayout from "@layouts/ProjectLayout.astro";

import Header from "@assets/Fab/img/Fab_Header.jpg";
import HeaderMobile from "@assets/Fab/img/Fab_Header_Mobile.png";
import PinkDress from "@assets/Fab/img/Fab_Pink_Dress.png";
import Hat from "@assets/Fab/img/Fab_Hat.png";
import Wheel from "@assets/Fab/img/Fab_Wheel.png";
import Wall from "@assets/Fab/img/Fab_Wall.png";
import Stretch from "@assets/Fab/img/Fab_Stretch.png";
import Cabinet from "@assets/Fab/img/Fab_Cabinet.png";
import Stairs from "@assets/Fab/img/Fab_Stairs.png";
import Glass from "@assets/Fab/img/Fab_Glass.png";
import MeetCute from "@assets/Fab/img/Fab_Meet_Cute.png";
import NaraPicks from "@assets/Fab/img/Fab_Nara_Picks.png";
import Oliver from "@assets/Fab/img/Fab_Oliver.gif";
import Olivia from "@assets/Fab/img/Fab_Olivia.gif";
import Devices from "@assets/Fab/img/Fab_Devices.gif";
import Emails from "@assets/Fab/img/Fab_Emails.png";
import Blogs from "@assets/Fab/img/Fab_Blogs.gif";
import Adult1 from "@assets/Fab/img/Fab_Adult_1.png";
import Adult2 from "@assets/Fab/img/Fab_Adult_2.png";
import Adult3 from "@assets/Fab/img/Fab_Adult_3.png";
import Adult4 from "@assets/Fab/img/Fab_Adult_4.gif";
import Adult5 from "@assets/Fab/img/Fab_Adult_5.gif";
import Home from "@assets/Fab/img/Fab_Home.gif";
import Tablets from "@assets/Fab/img/Fab_Tablets.png";
import Product from "@assets/Fab/img/Fab_Product.gif";
import Moodboard1 from "@assets/Fab/img/Fab_Moodboard_1.png";
import Moodboard2 from "@assets/Fab/img/Fab_Moodboard_2.png";
import Moodboard3 from "@assets/Fab/img/Fab_Moodboard_3.png";
import Moodboard4 from "@assets/Fab/img/Fab_Moodboard_4.png";
---

<style></style>
<ProjectLayout
  hero={Header}
  mobile={HeaderMobile}
  brand={brand}
  tagline={tagline}
  tags={tags}
>
  <div></div>
</ProjectLayout>
<script></script>
