---
const brand = "Fab";
const tagline = "Find Something You";
const tags = [
  "Brand Identity + Positioning",
  "Video + Photography",
  "Art + Illustration",
  "Product Design (UX/UI)",
  "CX",
  "Interior Design",
  "Physical Goods Development + Design",
  "Print + Packaging",
  "Editorial Content",
  "Organic + Paid Social Content",
  "Interviews",
  "Writing + Editing",
  "Qualitative Research",
  "Surprise + Delight",
  "Visual Identity",
  "Theatrics",
];

import "@styles/utils.css";
import "@styles/fab.css";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import Image from "astro/components/Image.astro";

import Header from "@assets/Fab/img/Fab_Header.jpg";
import HeaderMobile from "@assets/Fab/img/Fab_Header_Mobile.png";
import PinkDress from "@assets/Fab/img/Fab_Pink_Dress.png";
import Hat from "@assets/Fab/img/Fab_Hat.png";
import Wheel from "@assets/Fab/img/Fab_Wheel.png";
import Wall from "@assets/Fab/img/Fab_Wall.png";
import Stretch from "@assets/Fab/img/Fab_Stretch.png";
import Cabinet from "@assets/Fab/img/Fab_Cabinet.png";
import Stairs from "@assets/Fab/img/Fab_Stairs.png";
import Glass from "@assets/Fab/img/Fab_Glass.png";
import MeetCute from "@assets/Fab/img/Fab_Meet_Cute.png";
import NaraPicks from "@assets/Fab/img/Fab_Nara_Picks.png";
import Oliver from "@assets/Fab/img/Fab_Oliver.gif";
import Olivia from "@assets/Fab/img/Fab_Olivia.gif";
import Devices from "@assets/Fab/img/Fab_Devices.gif";
import Emails from "@assets/Fab/img/Fab_Emails.png";
import Blogs from "@assets/Fab/img/Fab_Blogs.gif";
import Social from "@assets/Fab/Fab_Social.mp4";
import Adult1 from "@assets/Fab/img/Fab_Adult_1.png";
import Adult2 from "@assets/Fab/img/Fab_Adult_2.png";
import Adult3 from "@assets/Fab/img/Fab_Adult_3.png";
import Adult4 from "@assets/Fab/img/Fab_Adult_4.gif";
import Adult5 from "@assets/Fab/img/Fab_Adult_5.gif";
import Home from "@assets/Fab/img/Fab_Home.gif";
import Tablets from "@assets/Fab/img/Fab_Tablets.png";
import Product from "@assets/Fab/img/Fab_Product.gif";
import Moodboard1 from "@assets/Fab/img/Fab_Moodboard_1.png";
import Moodboard2 from "@assets/Fab/img/Fab_Moodboard_2.png";
import Moodboard3 from "@assets/Fab/img/Fab_Moodboard_3.png";
import Moodboard4 from "@assets/Fab/img/Fab_Moodboard_4.png";
import VimeoPlayer from "@components/VimeoPlayer.astro";
import ResponsiveTextBlock from "@components/ResponsiveTextBlock.astro";
---

<ProjectLayout hero={Header} mobile={HeaderMobile} brand={brand} tagline={tagline} tags={tags} theme={"dark"}>
  <div class="bg-[#363131]">
    <div class="grid-container">
      <Image src={PinkDress} class="grid-item" alt="Person sitting on chair." />
      <Image src={Hat} class="grid-item" alt="Person outside on street in front of a brick building." />
      <Image
        src={Wheel}
        class="grid-item"
        alt="Person wearing decorative head piece and dress with ferris wheel in the background."
      />
      <Image src={Wall} class="grid-item" alt="Two people kissing in front of graffiti wall art." />
      <Image src={Stretch} class="grid-item" alt="A person stretching in the bleachers." />
      <Image src={Cabinet} class="grid-item" alt="Black cat sitting on cabinet with various picture frames on wall." />
      <Image src={Stairs} class="grid-item" alt="Person sitting on steps in front of a building." />
      <Image src={Glass} class="grid-item" alt="Three glass containers with stoppers." />
    </div>
    <div class="mx-auto my-[45px] max-w-[840px] px-[20px] md:my-[120px]">
      <h1 class="karla text-4xl font-bold text-[#F7F4ED]">This is Fab</h1>
      <br />
      <p class="karla text-[#F7F4ED]">
        Fab is a vibrant e-commerce community where you can discover thoughtfully designed products that bring
        personality to all aspects of your life. Beyond the fresh finds we highlight, Fab is a platform for ideas,
        passions, and collaborations, especially curated to allow individual creativity to shine.<br /><br /> Here is just
        a taste of the plethora of original creative my small but mighty team and I craft together, breathing life into the
        evolving Fab brand.
      </p>
    </div>
    <div
      class="mx-auto my-[45px] flex max-w-[840px] flex-col justify-center gap-[15px] px-[20px] md:my-[120px] md:flex-row"
    >
      <Image src={MeetCute} class="h-auto w-full md:w-1/2" alt="Advertisement" />
      <Image src={NaraPicks} class="h-auto w-full md:w-1/2" alt="Advertisement" />
    </div>
    <div class="my-[45px] flex flex-col md:my-[120px] md:flex-row">
      <Image
        src={Oliver}
        class="w-full md:w-1/2"
        alt="Illustration of a person opening a box that shoots out rainbows and confetti."
      />
      <Image
        src={Olivia}
        class="w-full md:w-1/2"
        alt="Illustration of a person opening a box that shoots out rainbows and confetti."
      />
    </div>
  </div>
  <Image
    src={Devices}
    class="mx-auto my-[45px] h-auto w-full max-w-[840px] px-[20px] md:my-[120px]"
    alt="Mockup of fab instagram page and website shopping experience."
  />
  <Image
    src={Emails}
    class="mx-auto my-[45px] h-auto w-full max-w-[840px] px-[20px] md:my-[120px]"
    alt="Screenshots of fab articles."
  />
  <!-- insert vimeo videos -->
  <VimeoPlayer class="px-[20px] md:px-[60px]" video="239898733" height="56.25%" action="unpause" />
  <div class="two-col rx !my-[15px] md:!px-[60px]">
    <VimeoPlayer video="239880486" height="56.25%" action="unpause" />
    <VimeoPlayer video="239880443" height="56.25%" action="unpause" />
  </div>
  <div class="two-col rx !my-[15px] md:!px-[60px]">
    <VimeoPlayer video="239898612" height="56.25%" action="unpause" />
    <VimeoPlayer video="239880548" height="56.25%" action="unpause" />
  </div>
  <VimeoPlayer
    class="my-[45px] px-[20px] md:my-[120px] md:px-[60px]"
    video="241444534"
    height="56.25%"
    action="unpause"
  />
  <VimeoPlayer
    class="my-[45px] px-[20px] md:my-[120px] md:px-[60px]"
    video="240215757"
    height="56.25%"
    action="unpause"
  />
  <Image
    src={Blogs}
    class="mx-auto my-[45px] w-full max-w-[840px] px-[77px] md:my-[120px]"
    alt="Fab mobile app articles."
  />
  <video loop playsinline autoplay muted class="mx-auto my-[45px] w-full max-w-[1040px] px-[20px] md:my-[120px]">
    <source src={Social} />
  </video>
  <div class="grid-container-2 my-[45px] md:my-[120px]">
    <Image
      src={Adult1}
      class="grid-item-2"
      alt="Adult toy ad. Picture of a banana and a peach with words Love machine(s). Turn me on."
    />
    <Image
      src={Adult2}
      class="grid-item-2"
      alt="Adult toy sale ad. Picture of eggplant with words Beauty and brains."
    />
    <Image src={Adult3} class="grid-item-2" alt="Adult toy ad with various toys and words Meet the bedtime buddies." />
    <Image src={Adult5} class="grid-item-2" alt="Illustration of animal faces on adult toys." />
    <Image src={Adult4} class="grid-item-2" alt="Feeling sweet? Give yourself some sugar with our adult toys." />
  </div>

  <ResponsiveTextBlock class="px-[20px]">
    <div>
      <h1>Rebranding & Replatforming Fab.com</h1>
      <p>
        I was hired by Fab to nurture and grow a creative dream team, evolve the Fab brand, and lead the design of an
        entirely new Shopify site and app refresh. I’m proud of the work we put into dreaming up a whole new Fab, in
        which product and content are seamlessly intertwined.
      </p>
    </div>
    <div>
      <p>
        Through qualitative research workshops I spearheaded and designed, we tested and developed our customer
        community understanding with a focus on how they approach their lifestyle aspirations. This work in addition to
        several other research and data-analytics modalities, empowered my team to craft a new platform around
        personalization, exclusive access, and truly of-the-moment, culturally fresh discoveries from a wide variety of
        inspiring sources.
      </p>
    </div>
  </ResponsiveTextBlock>

  <Image
    src={Home}
    class="mx-auto my-[45px] w-full max-w-[840px] px-[20px] md:my-[120px]"
    alt="Screenshots from fab website."
  />

  <ResponsiveTextBlock class="px-[20px]">
    <div>
      <h1>The discerning Fab customer craves authenticity, quality, and personalization.</h1>
      <p>
        They are hands-on in the development of their lifestyle and place a strong emphasis on: Home, Work, Play,
        Passion Projects, and Relationships.
      </p>
    </div>
    <div>
      <p>
        Fab lovers are both nostalgic and forward thinking—creating special moments for themselves and their loved ones
        is of the utmost importance.
      </p>
      <p>
        They appreciate and respond to sincere, tested recommendations, inspiring individuality, and engaging
        storytelling. Their greatest aspiration is a life lived on their terms, a life well designed.
      </p>
    </div>
  </ResponsiveTextBlock>

  <Image
    src={Tablets}
    class="mx-auto my-[45px] w-full max-w-[1040px] px-[20px] md:my-[120px]"
    alt="Screenshots from fab app on tablet."
  />

  <ResponsiveTextBlock class="px-[20px]">
    <div>
      <p>Far beyond a facelift, my charge included revitalizing culture from the inside out.</p>
    </div>
    <div>
      <p>
        <strong
          ><em
            >Fab sparks the creation and curation of beautiful moments in our lives. We’re driven by self-expression.
            Through our work, we are able to craft experiences that uniquely speak to us, and that allow you to speak
            for yourself.</em
          ></strong
        >
      </p>
      <p><strong><em>Fab is yours, truly.</em></strong></p>
    </div>
  </ResponsiveTextBlock>

  <Image
    src={Product}
    class="mx-auto my-[45px] w-full max-w-[840px] px-[20px] md:my-[120px]"
    alt="Screenshots from fab digital products."
  />

  <section>
    <h1>FOUND INSPO MOODBOARDS</h1>

    <Image
      src={Moodboard1}
      class="mx-auto w-full max-w-[1040px] px-[20px]"
      alt="Fab moodboard with various interior designs."
    />
    <Image
      src={Moodboard2}
      class="mx-auto my-[45px] w-full max-w-[1040px] px-[20px] md:my-[120px]"
      alt="Fab moodboard with various interior designs."
    />
    <Image
      src={Moodboard3}
      class="mx-auto my-[45px] w-full max-w-[1040px] px-[20px] md:my-[120px]"
      alt="Fab moodboard with various products."
    />
    <Image
      src={Moodboard4}
      class="mx-auto my-[45px] w-full max-w-[1040px] px-[20px] md:my-[120px]"
      alt="Fab moodboard with various products."
    />
  </section>
</ProjectLayout>
<script></script>
