---
const brand = "Firefly Vets"
const tagline = "TKTKTKTKTK"
const tags = [
    'Brand Identity + Positioning',
    'Logo Design',
    'Interior Design',
    'Surprise + Delight',
    'Visual Identity'
]

import "@styles/utils.css";
import "@styles/firefly-vets.css";
import Image from "astro/components/Image.astro";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import OneUp from "@components/OneUp.astro";
import TwoUp from "@components/TwoUp.astro";
import Navigation from "@components/Navigation.astro";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import ResponsiveImage from "@components/ResponsiveImage.astro";
import ResponsiveBackground from "@components/ResponsiveBackground.astro";
import ResponsiveTextBlock from "@components/ResponsiveTextBlock.astro";

import Hero from "@assets/FireflyVets/img/hero.png"
import LogoWordmark from "@assets/FireflyVets/img/logo-wordmark.png"
import LogoOverlayA from "@assets/FireflyVets/img/logo-overlay-1.png"
import LogoOverlayB from "@assets/FireflyVets/img/logo-overlay-2.png"
import LogoOverlayC from "@assets/FireflyVets/img/logo-overlay-3.png"
import GridA from "@assets/FireflyVets/img/grid-1.png"
import GridB from "@assets/FireflyVets/img/grid-2.png"
import GridC from "@assets/FireflyVets/img/grid-3.png"
import GridD from "@assets/FireflyVets/img/grid-4.png"
import GridE from "@assets/FireflyVets/img/grid-5.png"
import GridF from "@assets/FireflyVets/img/grid-6.png"
import GridG from "@assets/FireflyVets/img/grid-7.png"
import GridH from "@assets/FireflyVets/img/grid-8.png"
import HandsA from "@assets/FireflyVets/img/hands-1.png"
import HandsB from "@assets/FireflyVets/img/hands-2.png"
import Palette from "@assets/FireflyVets/img/palette.jpeg"
import Marks from "@assets/FireflyVets/img/mark-variations.png"

import ValueAMobile from "@assets/FireflyVets/values/value1-m.svg"
import ValueADesktop from "@assets/FireflyVets/values/value1-d.svg"
import ValueBMobile from "@assets/FireflyVets/values/value2-m.svg"
import ValueBDesktop from "@assets/FireflyVets/values/value2-d.svg"
import ValueCMobile from "@assets/FireflyVets/values/value3-m.svg"
import ValueCDesktop from "@assets/FireflyVets/values/value3-d.svg"
import ValueDMobile from "@assets/FireflyVets/values/value4-m.svg"
import ValueDDesktop from "@assets/FireflyVets/values/value4-d.svg"
import ValueEMobile from "@assets/FireflyVets/values/value5-m.svg"
import ValueEDesktop from "@assets/FireflyVets/values/value5-d.svg"

---

<ProjectLayout hero={Hero} brand={brand} tagline={tagline} tags={tags}>

    <OneUp class="wordmark" src={LogoWordmark} alt=" "/>

    <div class="three-up">
        <Image src={LogoOverlayA} alt=" " />
        <Image src={LogoOverlayB} alt=" " />
        <Image src={LogoOverlayC} alt=" " />
    </div>

    <ResponsiveTextBlock class="slogan">
        <div>
            <h1>A vet that gets both you and your pet?</h1>
            <h1>That’s like lightning in a bottle!</h1>
        </div>
        <div>
            <p>Finding the right vet for you and your pet family is simply life-changing. Like fireflies, we intuitively know when we’ve met our match—and the connection makes us light right up.</p>
            <p>Meet Firefly, a vet practice for pet parents, too.</p>
        </div>
    </ResponsiveTextBlock>


    <div class="style-guide">
        <Image src={Palette} alt=" " />
        <Image src={Marks} alt=" " />
    </div>

    <TwoUp class="hands">
        <Image src={HandsA} alt=" " />
        <Image src={HandsB} alt=" " />
    </TwoUp>

    <section class="values">
        <h1>Values</h1>
        <div class="slideshow">
            <ResponsiveImage class="active" mobile={ValueAMobile} desktop={ValueADesktop} />
            <ResponsiveImage mobile={ValueBMobile} desktop={ValueBDesktop} />
            <ResponsiveImage mobile={ValueCMobile} desktop={ValueCDesktop} />
            <ResponsiveImage mobile={ValueDMobile} desktop={ValueDDesktop} />
            <ResponsiveImage mobile={ValueEMobile} desktop={ValueEDesktop} />
        </div>
    </section>

    <div class="four-up">
        <Image src={GridA} alt=" " />
        <Image src={GridB} alt=" " />
        <Image src={GridC} alt=" " />
        <Image src={GridD} alt=" " />
        <Image src={GridE} alt=" " />
        <Image src={GridF} alt=" " />
        <Image src={GridG} alt=" " />
        <Image src={GridH} alt=" " />
    </div>

    <div id="brand-guidelines">
        <div class="presentation">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSlnSuKXYMpIDy2vwHoJ8mcFodw06DiQuCBjDC6f1tYEFRQf3x0XKRcznulWRNAncCgsaJkQD0h03P5/embed?start=false&frameborder=0" width="100%" height="100%" allowfullscreen="true"></iframe>
        </div>
    </div>

</ProjectLayout>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        // crossfade portraits over the sudoku background & values text
        let dt = 0
        document.querySelectorAll('.slideshow').forEach(elt => {
            let slides = elt.querySelectorAll(":scope>picture,:scope>img:not(.app"),
                len = slides.length,
                idx = 0

            const advance = () => {
                idx++
                slides.forEach((img, i) => {
                    img.classList.toggle('active', i==idx%len)
                })
            }

            setTimeout(() => setInterval(advance, 2000), dt)
            dt += 666
        })

    })
</script>

