---
const brand = "Kindra";
const tagline = "The New Era of You";
const tags = [
  "Brand Identity + Positioning",
  "Video + Photography",
  "Art + Illustration",
  "Product Design (UX/UI)",
  "CX",
  "Physical Goods Development + Design",
  "Print + Packaging",
  "Editorial Content",
  "Organic + Paid Social Content",
  "Writing + Editing",
  "Quiz Development",
  "Surprise + Delight",
  "Visual Identity",
  "Theatrics",
];

import "@styles/utils.css";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import Image from "astro/components/Image.astro";
import Navigation from "@components/Navigation.astro";
import Header from "@assets/Kindra/img/Kindra_Header.jpg";
import HeaderMobile from "@assets/Kindra/img/Kindra_Header_Mobile.png";
import Body from "@assets/Kindra/img/Kindra_Body.png";
import Lotion from "@assets/Kindra/img/Kindra_Lotion.png";
import ColorDesktop from "@assets/Kindra/img/Kindra_Color_Desktop.png";
import ColorMobile from "@assets/Kindra/img/Kindra_Color_Mobile.png";
import CollageDesktop from "@assets/Kindra/img/Kindra_Collage_Desktop.png";
import CollageMobile from "@assets/Kindra/img/Kindra_Collage_Mobile.png";
import Humectant from "@assets/Kindra/img/Kindra_Humectant.gif";
import MiddleDesktop from "@assets/Kindra/img/Kindra_Middle_Desktop.jpg";
import MiddleMobile from "@assets/Kindra/img/Kindra_Middle_Mobile.jpg";
import Pamper from "@assets/Kindra/img/Kindra_Pamper.png";
import Photography1 from "@assets/Kindra/img/Kindra_Photography1.png";
import QuizBackgroundDesktop from "@assets/Kindra/img/Kindra_Quiz_Desktop.png";
import QuizBackgroundMobile from "@assets/Kindra/img/Kindra_Quiz_Mobile.png";
import Quiz from "@assets/Kindra/Kindra_Quiz.mp4";
import Dish from "@assets/Kindra/Kindra_Spinning_Dish.mp4";
import Mist from "@assets/Kindra/img/Kindra_Mist.png";
import LotionFlowers from "@assets/Kindra/img/Kindra_Lotion_Flowers.png";
import Review1 from "@assets/Kindra/img/Kindra_Review1.png";
import Review2 from "@assets/Kindra/img/Kindra_Review2.png";
import Thanks from "@assets/Kindra/img/Kindra_Thankyou.png";
import ThanksCard from "@assets/Kindra/img/Kindra_ThanksCard.png";
import Focus from "@assets/Kindra/Kindra_Focus.mp4";
import Photography2 from "@assets/Kindra/img/Kindra_Photography2.png";
import Photography3 from "@assets/Kindra/img/Kindra_Photography3.png";
import PhotographyVideo from "@assets/Kindra/Kindra_Photography_Video.mp4";
import SerumVideo from "@assets/Kindra/Kindra_Serum_Video.mp4";
import Serum from "@assets/Kindra/img/Kindra_Serum.png";
import Conditions from "@assets/Kindra/Kindra_Conditions.mp4";
import ConditionsThumbnail from "@assets/Kindra/img/Kindra_Conditions_Thumbnail.jpg";
import ConditionsLotion from "@assets/Kindra/Kindra_ConditionsLotion.mp4";
import ConditionsLotionThumbnail from "@assets/Kindra/img/Kindra_ConditionsLotion_Thumbnail.jpg";
import Bed from "@assets/Kindra/Kindra_Bed_Desktop.mp4";
import Site from "@assets/Kindra/img/Kindra_Site.png";
import SiteFull from "@assets/Kindra/img/Kindra_Site_Full.png";
import SiteBackgroundDesktop from "@assets/Kindra/img/Kindra_Site_Background_Desktop.png";
import SiteBackgroundMobile from "@assets/Kindra/img/Kindra_Site_Background_Mobile.png";
import ApplicatorGuide1 from "@assets/Kindra/img/Kindra_Applicator_Guide1.png";
import ApplicatorGuide2 from "@assets/Kindra/img/Kindra_Applicator_Guide2.png";
import PinkLotion from "@assets/Kindra/img/Kindra_PinkLotion.png";
import Peach from "@assets/Kindra/img/Kindra_Peach.png";
import CoreGrid1 from "@assets/Kindra/img/Kindra_CoreGrid1.png";
import CoreGrid2 from "@assets/Kindra/img/Kindra_CoreGrid2.png";
import CoreGrid3 from "@assets/Kindra/img/Kindra_CoreGrid3.png";
import CoreGrid4 from "@assets/Kindra/img/Kindra_CoreGrid4.png";
import CoreGrid5 from "@assets/Kindra/img/Kindra_CoreGrid5.png";
import CoreGrid6 from "@assets/Kindra/img/Kindra_CoreGrid6.png";
import SocialBackgroundDesktop from "@assets/Kindra/img/Kindra_Social_Background_Desktop.png";
import SocialBackgroundMobile from "@assets/Kindra/img/Kindra_Social_Background_Mobile.png";
import SocialGrid from "@assets/Kindra/img/Kindra_Social_Grid.png";
import Menopause from "@assets/Kindra/Kindra_Menopause_Work.mp4";
import Applicator from "@assets/Kindra/Kindra_Lotion_And_Applicator.mp4";
import QuizResultsShort from "@assets/Kindra/img/Kindra_Quiz_Results_Email_Short.png";
import QuizResultsEmail from "@assets/Kindra/img/Kindra_Quiz_Results_Email.png";
import QuizFlowFull from "@assets/Kindra/img/Kindra_Quiz_Email.png";
import QuizFlowShort from "@assets/Kindra/img/Kindra_Quiz_Email_Short.png";
import SocialVideo from "@assets/Kindra/Kindra_Social.mp4";
import ToolBox1 from "@assets/Kindra/img/Kindra_ToolBox1.png";
import ToolBox2 from "@assets/Kindra/img/Kindra_ToolBox2.png";
import ToolBoxOpen from "@assets/Kindra/img/Kindra_ToolBox_Open.png";
import Social1 from "@assets/Kindra/Kindra_Social_1.mp4";
import Social2 from "@assets/Kindra/Kindra_Social_2.mp4";
import Social3 from "@assets/Kindra/Kindra_Social_3.mp4";
import Social4 from "@assets/Kindra/Kindra_Social_4.mp4";
import BTSDesktop from "@assets/Kindra/Kindra_BTS_Desktop.mp4";
import BTSMobile from "@assets/Kindra/Kindra_BTS_Mobile.mp4";
import GloriaDesktop from "@assets/Kindra/img/Kindra_Gloria_Desktop.png";
import GloriaMobile from "@assets/Kindra/img/Kindra_Gloria_Mobile.png";
import KindraCCDesktop from "@assets/Kindra/img/Kindra_CC_Desktop.png";
import KindraCCMobile from "@assets/Kindra/img/Kindra_CC_Mobile.png";
import KindraWords from "@assets/Kindra/img/Kindra_Drawing_Words.png";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import ResponsiveImage from "@components/ResponsiveImage.astro";
import ResponsiveBackground from "@components/ResponsiveBackground.astro";
import ResponsiveTextBlock from "@components/ResponsiveTextBlock.astro";
import Lightbox from "@components/Lightbox.astro";
import VimeoPlayer from "@components/VimeoPlayer.astro";
---

<style>
  .karla {
    font-family: "Karla", sans-serif;
  }
  #text-block * {
    font-family: "Karla", sans-serif;
  }
  .utile {
    font-family: "utile-display", sans-serif;
  }
  .line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
  }
  .more-hide {
    display: none;
  }
</style>

<style is:global>
  #new-era-of-you div {
    margin: 0 auto;
    max-width: 800px;
  }
  #new-era-of-you h1 {
    font:
      400 66px/1 "utile-display",
      sans-serif;
    margin-bottom: 0.66em;
  }

  #new-era-of-you p {
    margin-bottom: 1em;
  }

  #color-palette {
    grid-template-columns: 1fr;
    gap: 35px;
    p,
    h1 {
      padding: 0 20px;
    }

    p + p {
      margin-top: 1em;
    }
  }

  @media (min-width: 768px) {
    p,
    h1 {
      padding: 0;
    }

    #color-palette {
      gap: 80px;
      grid-template-columns: fit-content(350px) fit-content(350px);
      align-items: end;
    }
  }

  .project-text-block {
    button {
      display: none;
      text-decoration: underline;
    }

    @media (max-width: 767px) {
      &.collapsed button {
        display: inline;
      }
    }

    @media (min-width: 768px) {
      justify-content: center;
      div {
        max-width: 400px;
      }
    }
  }

  #we-heard-you {
    margin-top: 190px;

    @media (max-width: 767px) {
      &.collapsed p + p ~ p,
      &.collapsed div + div {
        display: none;
      }
    }

    @media (min-width: 768px) {
      margin-top: 90px;
    }
  }

  #in-words-only {
    margin: 40px 20px 20px 20px;
    text-transform: uppercase;
    letter-spacing: 3.25px;
    font:
      700 18px/32px "Karla",
      sans-serif;

    p {
      border-top: 1px solid var(--charcoal);
      max-width: 840px;
      margin: 0 auto;
    }

    @media (min-width: 768px) {
      margin-top: 120px;
    }
  }

  #radical-act-of-rest,
  #reflections-for-the-new-year,
  #wonder-women {
    padding-top: 0;
    padding-bottom: 20px;
    @media (max-width: 767px) {
      &.collapsed div + div {
        display: none;
      }
    }
  }

  .hrule {
    padding: 20px 0;
    margin: 0 auto;
    border-top: 1px solid var(--charcoal);
    width: calc(100% - 40px);
    max-width: 840px;
  }

  #wonder-women {
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 120px;
    }
  }

  .two-up-copy {
    display: flex;
    --one-third-mobile: calc(100% * 1 / 3 - 2.5px);
    --two-thirds-mobile: calc(100% * 2 / 3 - 2.5px);
    --half-mobile: calc(50% - 2.5px);
    &.bias-left-mobile {
      img:first-child {
        width: var(--two-thirds-mobile);
      }
      img:last-child {
        width: var(--one-third-mobile);
      }
    }

    &.bias-right-mobile {
      img:first-child {
        width: var(--one-third-mobile);
      }
      img:last-child {
        width: var(--two-thirds-mobile);
      }
    }

    &.bias-center-mobile {
      img:first-child {
        width: var(--half-mobile);
      }
      img:last-child {
        width: var(--half-mobile);
      }
    }
    @media (min-width: 768px) {
      flex-flow: row nowrap;
      --one-third: calc(100% * 1 / 3 - 7.5px);
      --two-thirds: calc(100% * 2 / 3 - 7.5px);
      --half: calc(50% - 7.5px);

      &.bias-left {
        img:first-child {
          width: var(--two-thirds);
        }
        img:last-child {
          width: var(--one-third);
        }
      }

      &.bias-right {
        img:first-child {
          width: var(--one-third);
        }
        img:last-child {
          width: var(--two-thirds);
        }
      }

      &.bias-center {
        img:first-child {
          width: var(--half);
        }
        img:last-child {
          width: var(--half);
        }
      }
    }
  }
</style>
<ProjectLayout hero={Header} brand={brand} tagline={tagline} tags={tags}>
  <div
    class="two-up-copy bias-center mx-auto my-[45px] max-w-[1320px] flex-col items-center gap-0 md:my-[120px] md:flex-row md:px-[20px]"
  >
    <Image class="md:order-2 md:rounded-lg" src={Body} alt="The body of a woman sitting on a bed." />
    <div class="w-full">
      <Image class="md:!w-[90%] md:rounded-lg" src={Lotion} alt="Bottle of Kindra V Relief Serum on pink fabric." />
    </div>
  </div>

  <div id="new-era-of-you" class="spaced">
    <div>
      <h1>Kindra — the new era of you.</h1>
      <p>Isn’t it about time for a change? A shift in priorities, a chance to try something new?</p>
      <p>
        Maybe what would change is how you see the world — and how you see yourself. Maybe how you approach self-care
        would change. Maybe you’d prioritize you a little more, choose products with ingredients you trust.
      </p>
      <p><strong>Embracing change isn’t easy. It’s essential.</strong></p>
      <p>
        Listen — every significant moment in your life was tough before it was terrific, right? Because you’re always
        learning, always growing, always becoming. And who you are right now, as you navigate menopause, will set the
        stage for years to come.
      </p>
      <p>What’s next, you ask? Everything.</p>
    </div>
  </div>

  <div id="color-palette" class="two-col flush">
    <ResponsiveImage mobile={ColorMobile} desktop={ColorDesktop} alt="Kindra" />
    <div class="karla">
      <h1 class="mb-[15px] font-[700] tracking-widest">COLOR PALETTE</h1>
      <p>
        <strong>Good Vintage</strong> honors the beauty of time—a reminder that aging, as with fine wine, is deeply enriching.
      </p>
      <p>
        <strong>Magic Hour</strong> glows with possibility and renewal—just like its namesake time circling sunset and sunrise.
        This hue embraces the in-between—the messy, magical middle of transformation.
      </p>
      <p>
        <strong>Pottery Wheel</strong>, inspired by the iconically sexy <em>(and, yes, wet!)</em> scene from Ghost, echos
        the strength and adaptability required to work a wheel of clay—a soft yet powerful nod to the hands-on nature of
        self-care.
      </p>
      <p>
        <strong>Together</strong>, our primary palette is a story of wisdom deepened by time, of transformation
        embraced, of resilience, sensuality, and strength—one that celebrates the power of change and the beauty of
        becoming.
      </p>
    </div>
  </div>

  <ResponsiveImage mobile={CollageMobile} desktop={CollageDesktop} alt="Kindra" />

  <Image class="w-full" src={Humectant} alt="Two pill capsules. Key ingredients. Humectants." />

  <ResponsiveImage mobile={MiddleMobile} desktop={MiddleDesktop} alt="Kindra" />

  <div
    class="mx-[20px] my-[45px] flex flex-col items-center gap-[45px] md:mx-[60px] md:my-[120px] md:flex-row md:justify-center md:gap-[60px]"
  >
    <Image class="w-full rounded-md md:w-[60%] md:rounded-lg" src={Pamper} alt="Pamper your peach." />
    <div class="w-full md:w-[40%] md:py-[95px]">
      <Image class="w-full rounded-md md:rounded-lg" src={Photography1} alt="A woman reaches down to a flower in front of her." />
    </div>
  </div>

  <div class="flex flex-col">
    <div class="md:order-2">
      <ResponsiveBackground
        mobile={QuizBackgroundMobile}
        desktop={QuizBackgroundDesktop}
        class="py-[60px] md:py-[120px]"
      >
        <video loop playsinline autoplay muted class="mx-auto w-1/2 rounded-lg md:w-[20%]">
          <source src={Quiz} />
        </video>
      </ResponsiveBackground>
    </div>
    <div class="w-full bg-[#99b2c8]">
      <video loop playsinline autoplay muted class="mx-auto w-1/2 rounded-lg">
        <source src={Dish} />
      </video>
    </div>
  </div>

  <div class="flex w-full flex-row">
    <Image class="h-auto w-1/2" src={Mist} alt="The Kindra Cool Down Mist bottle surrounded by slices of cucumber." />
    <Image class="h-auto w-1/2" src={LotionFlowers} alt="Flowers hanging over the Kindra V Relief Serum bottle." />
  </div>
  <div
    class="two-up-copy bias-center mx-auto my-[45px] max-w-[1015px] flex-col gap-[5px] px-[20px] md:my-[120px] md:flex-row md:gap-[15px]"
  >
    <Image class="h-auto w-full rounded-lg md:order-2 md:w-1/2" src={Review2} alt="Several reviews for the various Kindra products." />
    <Image class="h-auto w-full rounded-lg md:w-1/2" src={Review1} alt="An info card for Kindra's facebook community and product assessment quiz." />
  </div>
  <div
    class="two-up-copy bias-center mx-auto my-[45px] max-w-[1015px] flex-col gap-[5px] px-[20px] md:my-[120px] md:flex-row md:gap-[15px]"
  >
    <Image class="h-auto w-full rounded-lg md:w-1/2" src={Thanks} alt="Several hands placed on a woman's shoulder." />
    <Image class="h-auto w-full rounded-lg md:w-1/2" src={ThanksCard} alt="A thank you card from Kindra's CEO." />
  </div>
  <div class="flex flex-col gap-[5px] md:gap-[15px]">
    <div class="mx-[20px] flex flex-col justify-center gap-[5px] md:mx-[60px] md:flex-row md:gap-[15px]">
      <video loop playsinline autoplay muted class="w-full rounded-lg md:w-[41%]">
        <source src={Focus} />
      </video>
      <Image class="h-auto w-full rounded-lg md:w-[59%]" src={Photography2} alt="A woman holding a pill capsule in her fingers." />
    </div>
    <div class="mx-[20px] flex flex-row justify-center md:mx-[60px] md:gap-[15px]">
      <Image class="h-auto w-2/3 rounded-lg pr-[5px]" src={Photography3} alt="A woman using the mist spray." />
      <video loop playsinline autoplay muted class="w-1/3 rounded-lg">
        <source src={PhotographyVideo} />
      </video>
    </div>
    <div class="mx-[20px] flex flex-col justify-center gap-[5px] md:mx-[60px] md:flex-row md:gap-[15px]">
      <video loop playsinline autoplay muted class="w-full rounded-lg md:w-1/3">
        <source src={SerumVideo} />
      </video>
      <Image class="h-auto w-full rounded-lg md:w-2/3" src={Serum} alt="A woman holding the Daily Vaginal Lotion bottle and applicator in her hands." />
    </div>
  </div>
  <div
    class="two-up-copy bias-center bias-center-mobile mx-auto my-[45px] max-w-[1040px] flex-col gap-[45px] px-[20px] md:my-[120px] md:flex-row md:gap-[15px]"
  >
    <!-- do not autoplay, use custom video player -->
    <div class="relative md:w-1/2">
      <VimeoPlayer class="rc" video="1061087238" height="100%" action="unmute" />
    </div>
    <div class="relative md:w-1/2">
      <VimeoPlayer class="rc" video="1061087228" height="100%" action="unmute" />
    </div>
  </div>
  <video loop playsinline autoplay muted class="my-[45px] w-full md:my-[120px]">
    <source src={Bed} />
  </video>
  <div class="mx-auto mb-[50px] max-w-[850px] px-[20px] md:mb-[100px] md:px-0">
    <Lightbox baseimage={Site} lightboximage={SiteFull} id={1} />
  </div>
  <div
    class="relative flex flex-col gap-[10px] px-[20px] pt-[120px] md:flex-row md:gap-[15px] md:px-[60px] md:pt-[280px]"
  >
    <Image class="z-5 absolute left-0 top-0 hidden h-auto w-full md:block" src={SiteBackgroundDesktop} alt="Several Kindra lotion applicator tools." />
    <Image class="z-5 absolute left-0 top-0 block h-auto w-full md:hidden" src={SiteBackgroundMobile} alt="Several Kindra lotion applicator tools." />
    <Image class="z-10 h-auto w-full rounded-[5px] md:w-1/2" src={ApplicatorGuide1} alt="A guide to use the Kindra applicator." />
    <Image class="z-10 h-auto w-full rounded-[5px] md:w-1/2" src={ApplicatorGuide2} alt="A guide to use the Kindra applicator." />
  </div>

  <ResponsiveTextBlock id="we-heard-you" class="collapsed padded">
    <div>
      <h1>WE HEARD YOU<br /><em>(AND YOUR OB/GYN)</em></h1>
      <p>At The Kindra Innovation Lab, we’re always learning.</p>
      <p>
        Something vital we learned early on is that traditional vaginal applicators you find at your local drug store
        are unnecessarily invasive and wasteful. When we created our revolutionary vaginal lotion formula, we knew we
        had to find a better way for you to get meaningful relief where you actually need it. <button
          >…&nbsp;Read More</button
        >
      </p>
      <p>
        So we invented an entirely new applicator, designed to provide hydration directly to your most sensitive
        area—just inside and around your vaginal opening (AKA: your introitus, if we’re being scientific). We continue
        to be proud of this groundbreaking accomplishment, created by women with your comfort as our highest priority.
      </p>
      <p>
        But the thing about learning is it never stops. In our ongoing work with renowned, field-proven OB/GYNs and
        leading women’s health experts, as well as our steadfast commitment to listening to you, our Kindra community,
        we have learned something even more vital.
      </p>
      <p>
        The very best applicator for The Daily Vaginal Lotion is simply <em>you</em>.
      </p>
    </div>
    <div>
      <p>
        That’s right. Since you only apply lotion about an inch or less inside your vagina, a finger is all you need. In
        fact, what we’ve learned through listening to you and the experts is that fingertip application allows for
        better precision and results in even less product waste. As an added convenience, there’s nothing to sanitize
        between uses beyond simply washing your hands. And while medical-grade silicone is more sustainable than
        plastic, it’s not biodegradable, so putting less of it into the world is even better for our planet.
      </p>
      <p>Now that we know all of this, it’s time to do something about it.</p>
      <p>
        Listen, we’re not going to sell you something that you just don’t need. It’s time to say goodbye to our little
        applicator that could. It was an innovative leap in the right direction, because it helped us get right here—to
        an even more empowering and straightforward solution. You are all the applicator you need to get the relief you
        need, which is actually pretty awesome.
      </p>
      <p>
        We realize some of you may miss the applicator, and we feel you. It’s been our baby! But the overwhelming
        customer feedback and clinical counsel is that finger application is not only a good option, but—in fact—the
        best option. And we want nothing but the best for you. Always.
      </p>
      <p>Thanks for going on this journey with us. Here’s to learning, improving, and growing together.</p>
    </div>
  </ResponsiveTextBlock>

  <div class="flex w-full flex-col md:flex-row">
    <Image class="z-20 h-auto w-full md:w-1/2" src={PinkLotion} alt="The Kindra V Relief Serum bottle." />
    <Image class="z-20 h-auto w-full md:w-1/2" src={Peach} alt="Half of a peach resting on a woman's underwear." />
  </div>
  <div class="mx-[20px] my-[45px] grid grid-cols-2 gap-4 md:mx-[60px] md:my-[120px] md:grid-cols-3">
    <Image class="h-auto w-full md:order-2" src={CoreGrid2} alt="Kindra Core dietary supplement." />
    <Image class="h-auto w-full md:order-1" src={CoreGrid1} alt="Kindra applicator tool." />
    <Image class="h-auto w-full md:order-3" src={CoreGrid3} alt="A hand holding up a pill capsule." />
    <Image class="h-auto w-full md:order-4" src={CoreGrid4} alt="Kindra product bottle." />
    <Image class="h-auto w-full md:order-5" src={CoreGrid5} alt="Kindra Energy Boosting Dietary supplement." />
    <Image class="h-auto w-full md:order-6" src={CoreGrid6} alt="Kindra daily vaginal lotion and applicator." />
  </div>
  <ResponsiveBackground mobile={SocialBackgroundMobile} desktop={SocialBackgroundDesktop}>
    <div
      class="mx-auto mt-[30px] flex max-w-[840px] flex-col items-center justify-center gap-[35px] pb-[60px] pt-[60px] md:flex-row md:gap-[60px] md:px-[45px]"
    >
      <Image class="w-1/2 rounded-[10px] md:rounded-[25px]" src={SocialGrid} alt="Kindra instagram page." />
      <video loop playsinline autoplay muted class="w-1/2 rounded-[10px] md:rounded-[25px]">
        <source src={SocialVideo} />
      </video>
    </div>
  </ResponsiveBackground>
  <div
    class="two-up-copy bias-center bias-center-mobile mx-auto my-[45px] max-w-[1040px] flex-col gap-[45px] px-[20px] md:my-[120px] md:flex-row md:gap-[60px]"
  >
    <video loop playsinline autoplay muted class="rounded-lg md:w-1/2">
      <source src={Menopause} />
    </video>
    <video loop playsinline autoplay muted class="rounded-lg md:w-1/2">
      <source src={Applicator} />
    </video>
  </div>
  <div
    class="mb-[45px] flex w-full max-w-[690px] flex-row justify-center gap-[10px] px-[20px] md:mx-auto md:mb-[120px] md:gap-[50px]"
  >
    <Lightbox baseimage={QuizResultsShort} lightboximage={QuizResultsEmail} id={2} />
    <Lightbox baseimage={QuizFlowShort} lightboximage={QuizFlowFull} id={3} />
  </div>
  <div class="flex flex-col md:gap-[15px]">
    <div class="flex flex-col md:flex-row md:gap-[15px]">
      <Image class="w-full md:w-1/2" src={ToolBox1} alt="Kindra toolbox shipping package box." />
      <Image class="w-full md:w-1/2" src={ToolBox2} alt="Kindra branded package tissue paper." />
    </div>
    <Image class="w-full" src={ToolBoxOpen} alt="An opened Kindra toolbox package featuring various products." />
  </div>
  <div
    class="mx-[20px] mb-[95px] mt-[45px] grid grid-cols-2 gap-[5px] md:mx-[60px] md:my-[220px] md:grid-cols-4 md:gap-[10px]"
  >
    <video loop playsinline autoplay muted class="relative top-[50px] h-auto w-full rounded-md md:rounded-lg">
      <source src={Social1} />
    </video>
    <video loop playsinline autoplay muted class="h-auto w-full rounded-md md:rounded-lg">
      <source src={Social2} />
    </video>

    <video loop playsinline autoplay muted class="relative top-[50px] h-auto w-full rounded-md md:rounded-lg">
      <source src={Social3} />
    </video>
    <video loop playsinline autoplay muted class="relative h-auto w-full rounded-md md:top-[100px] md:rounded-lg">
      <source src={Social4} />
    </video>
  </div>
  <video loop playsinline autoplay muted class="hidden w-full md:block">
    <source src={BTSDesktop} />
  </video>
  <video loop playsinline autoplay muted class="block w-full md:hidden">
    <source src={BTSMobile} />
  </video>
  <Image
    class="hidden w-full md:block"
    src={GloriaDesktop}
    alt="Portrait of Gloria Steinem. Every social justice movement i nthe world started with a conversation Gloria Steinem"
  />
  <Image
    class="block w-full md:hidden"
    src={GloriaMobile}
    alt="Portrait of Gloria Steinem. Every social justice movement i nthe world started with a conversation Gloria Steinem"
  />
  <Image
    class="hidden w-full md:block"
    src={KindraCCDesktop}
    alt="A screenshot of the couch conversations page from the Kindra website along with pictures of the conversation cards. A woman reading a couch conversation card. Two women hugging."
  />
  <Image
    class="block w-full md:hidden"
    src={KindraCCMobile}
    alt="A screenshot of the couch conversations page from the Kindra website along with pictures of the conversation cards. A woman reading a couch conversation card. Two women hugging."
  />

  <div id="in-words-only">
    <p>In Words Only</p>
  </div>

  <ResponsiveTextBlock id="radical-act-of-rest" class="collapsed padded">
    <div>
      <h1>It Is the Radical Act of Rest That Brings Out True Resilience</h1>
      <p>
        Today is International Women’s Day, and I can’t help thinking about how women and children bear a unique burden
        in troubled times.
      </p>
      <p>
        While the world is watching Ukrainian women fighting for their families, fleeing their homes, making impossible
        choices, and struggling to survive, I’m reminded of working in Northern Ireland at the end of The Troubles when
        I was a teenager at what was called a “reconciliation center.” The idea was to bring families together from the
        embattled North and South of Ireland to essentially help people—war-torn and exhausted from the ongoing
        guerrilla violence—find common ground and greater compassion for one another. As I eagerly awaited the arrival
        of these families, bussed in from all over the country, I was not sure what to expect. When the doors opened, it
        was also not what I had imagined.
      </p>
      <p>
        I will forever be in awe of the women and children who emerged from those buses. Whether from the North, South,
        East or West, the scene was always the same—weary faces of mothers and grandmothers with kids of every age in
        tow. The hardship and courage on their faces was like cold water splashed onto mine. It’s the same feeling I
        have now seeing those fleeing turmoil in Eastern Europe, including people of color and non-Ukrainian residents
        facing bias at the border as everyone tries to find a safe haven or get home.
      </p>
      <p>
        Somewhere in the space between Black History Month in February and Women’s History Month in March, there sits a
        massive, intersecting community of wildly underserved people struggling time and again to simply live in peace.
        The past few years have been challenging for everyone in the world, and—I’ll be honest—in many ways it feels
        like the suffering is never ending. And what can we really do about it? How can we continue to move forward as
        individuals, as families, as nations, and as a global community when there is constant turmoil and oppression
        everywhere you turn?
      </p>
      <button>Read More…</button>
    </div>
    <div>
      <p>
        I don’t have all the answers, but I can tell you what I learned from the women of Ireland coming together on the
        fault lines of their divided homeland. Troubled times help us summon survival instincts and tremendous courage,
        but it is the radical act of rest that brings out true resilience. Once these women had settled into the
        reconciliation center and were able to take precious time and space to rest with their families, I saw those
        families from opposite sides of The Troubles sharing stories, laughing, playing, and giving each other such
        grace.
      </p>
      <p>On this International Women’s Day, let’s #breakthebias and honestly ask ourselves:</p>
      <p>
        How can I look beyond my own fears and entrenched biases to reach across to someone who might need support? Is
        that person really so different from me? How can I make sure I remain open minded to experiences, people,
        places, and paths toward reconciliation, cooperation, and peace—even in my own backyard?
      </p>
      <p>
        I learn so much from you all every day, but one constant is that no one of us is having precisely the same
        experience in this great shared experience of menopause. Empathy and acceptance are a key part of journeying
        through challenging times while supporting one another. Realizing that you can never really know what’s
        happening with someone unless you listen with an open mind is so important, but it’s resting your body and soul
        that is essential to cultivating openness, understanding, and the resilience we all need when times get tough.
      </p>
      <p>
        Please give yourself grace. Take time to rest and recharge (and if rest is hard-won, we’re here to help).
        Breathe deeply. Hug your loved ones tightly. I know we are all doing what we can to help heal this world of
        ours, but remember the healing starts within you.
      </p>
      <p>I see you—brave, resilient, wonderful woman. You are not alone. We are Kindra.</p>
      <p>Truly,</p>
      <p>Catherine Balsam-Schwaber, Kindra CEO</p>
    </div>
  </ResponsiveTextBlock>

  <div class="hrule"></div>

  <ResponsiveTextBlock id="reflections-for-the-new-year" class="collapsed padded">
    <div>
      <h1>Reflections for the New Year: On Resilience in Free Fall</h1>
      <p>
        I hate roller coasters. A slow buildup to a sudden drop into the terrifying unknown. That feeling of falling
        from a great height. The overwhelming sensation of total loss of control. It may seem cliché, but as I usher my
        family into 2022, I feel like I am sitting on the top of a rollercoaster teetering on the ride of my life.
      </p>
      <p>
        From the tremendous growth of Kindra to my husband’s entrepreneurial career taking off, from my parents
        gracefully aging into a retirement community to my kids on the precipice of their first kisses, this next year
        will be one for the books. Being a good leader, partner, daughter, and mom is going to be a big role in 2022—one
        that I am grateful and privileged to fill for my loved ones.
      </p>
      <p>
        Then there’s the bigger picture. 2020 was going to be our year! Remember? 2021 was to be the year we got back to
        normal. It was going to be ok. New Year’s 2022 is… eerily quiet. Uncertain. With each passing year, I feel the
        pull to try and make time stand still. But really—with all this turmoil in the world, how could I want that? The
        last few years have been particularly tumultuous for the world, and I imagine we all may find ourselves wanting
        to pause and fast-forward all at once. I wish I could skip ahead to more certain times, but somehow stay like I
        am now—healthy, working hard, loving strong.
      </p>
      <p>But we can’t bottle or manipulate time. So what do we do instead?</p>
      <p>
        I speak to a lot of experts on all things change by virtue of my role at Kindra. They all talk about how finding
        yourself in new circumstances—good or bad—is naturally overwhelming. The uncertainty of facing and even walking
        toward something you’ve never experienced before is a major source of stress. It is the unknowing that makes it
        worse. I’ve come to the realization that these days ahead at the dawn of this new year are much like the
        journeys you all share with me as we navigate our changing bodies and spirits.
      </p>
      <p>And just like that (😉), I knew how to unknowingly move forward.</p>
      <button>Read More…</button>
    </div>
    <div>
      <p>
        I started by taking 3 days off. As the CEO of a rapidly growing startup, that’s no small feat. But I took real
        time just for me and mine, and I hope you were able to carve some out, too. Because the key to closing the books
        on 2021 and entering into the great unknown of 2022 is taking care of ourselves. From catching up on reading
        (highly recommend Untamed—I listened to the audiobook, then immediately devoured her podcast) and entertainment
        (Succession, anyone?!) to spending time sweating to my favorite music while working out (it’s honestly been a
        life saver) and perfecting my homemade green juice recipe (ginger and lime, friends), I’m intentionally taking
        time to refill my well, so I have something to bring to you all in 2022. We have so many exciting things in
        store!
      </p>
      <p>
        We’re partnering with an incredible nutritionist to share expert guidance on how to bring your gut and hormonal
        health in sync. I can’t wait to introduce you to her! And we’ll be soothing our bodies inside and out with an
        all-new formula from the Kindra Innovation Lab that has personally done wonders for my paper-thin, dry skin
        everywhere! We’re honored to continue our mission to support your menopause journey in these ways and more in
        the year ahead.
      </p>
      <p>
        You don’t spontaneously summon resilience in the face of unexpected or difficult circumstances; you have to
        cultivate it. In this time of reflection and anticipation for us all, I encourage you to truly prioritize your
        well-being, practice gratitude, and simply love yourself a little bit more. That’s what I’m resolved to do, and
        I hope you’ll join me. It will give us something to hold onto and ground us when circumstances beyond our
        control befall us. Together we can expect the unexpected and—whenever possible—allow ourselves to enjoy the
        ride.
      </p>
      <p>
        You are not alone. We are Kindra.Month in February and Women’s History Month in March, there sits a massive,
        intersecting community of wildly underserved people struggling time and again to simply live in peace. The past
        few years have been challenging for everyone in the world, and—I’ll be honest—in many ways it feels like the
        suffering is never ending. And what can we really do about it? How can we continue to move forward as
        individuals, as families, as nations, and as a global community when there is constant turmoil and oppression
        everywhere you turn?
      </p>
      <p>You are not alone. We are Kindra.</p>
      <p>Truly,</p>
      <p>Catherine</p>
    </div>
  </ResponsiveTextBlock>

  <div class="hrule"></div>

  <ResponsiveTextBlock id="wonder-women" class="collapsed padded">
    <div>
      <h1>For All the Wonder Women—Then & Now—Let’s Get to Work</h1>
      <p>
        I’ve worked with a lot of ‘Wonder Women’ in my career, many of whom were about my age now when I was lucky
        enough to learn from them at the top of their game. But now that I’m standing where they once stood—a working
        mom in menopause building a business in the face of a global pandemic that just won’t quit—I wonder about their
        silent struggles. I wonder how they hid a hot flash or worked through brain fog while I marveled at their
        professional prowess and seeming ability to handle everything life threw at them with dignity and grace.
      </p>
      <p>
        Women have made so many advancements in the workplace over the last century, and yet menopause lingers as this
        shameful secret. A perfectly natural shared experience half the population of the planet is somehow expected to
        hide from the other half and, worst of all, each other.
      </p>
      <p>
        Imagine how freeing it would be if we all owned our experience with menopause instead. Imagine how empowering it
        would be if we got hit with a hot flash during a meeting and instead of attempting to ignore the copious sweat
        and discomfort, we could just pronounce it a "hot flash moment" and choose whether to plow through or simply
        pause the meeting and excuse ourselves until it passed. What if it was acceptable to be a woman working while in
        menopause? I wonder…
      </p>
      <p>But it will take more than wondering.</p>
      <button>Read More…</button>
    </div>
    <div>
      <p>
        We're not only imagining a long overdue future here at Kindra, we're here to make it happen. There are so many
        women working in industries and roles that did not allow them the privilege of working from home during the
        pandemic. And now as many that were able to work from home start to think about returning to the workplace,
        whether that's in real life, a hybrid arrangement, or simply the decision to stay firmly at home, it's time to
        address an issue that's laid dormant for too long. Women in their working prime are suffering in silence. It has
        to stop.
      </p>
      <p>
        Let's bring our struggles into the light, offer each other support, celebrate our wins, and create a pathway for
        us all to feel understood, represented, and honored. Let’s get to work helping each other get to work.
      </p>
      <p>
        Our first step towards doing just that is introducing our new Menopause in the Workplace Toolkit, complete with
        tips for navigating office culture as a menopausal woman or an empathetic colleague/manager, products and life
        hacks to help overcome your biggest productivity challenges, and restorative meditations for those moments when
        the best thing is just to take a moment for yourself before diving back in.
      </p>
      <p>
        Wherever work may find you, whatever work you do, know that we see your struggles, we believe in you
        wholeheartedly, and we're working alongside you to make work better for us all.
      </p>
      <p>I see you, Wonder Woman. You are not alone. You are Kindra.</p>
      <p>Truly,</p>
      <p>Catherine</p>
    </div>
  </ResponsiveTextBlock>
</ProjectLayout>

<script>
  const readMoreButtons = document.getElementsByClassName("read-more");
  const readLessButtons = document.getElementsByClassName("read-less");
  const moreSpans = document.getElementsByClassName("more");
  for (let i = 0; i < readMoreButtons.length; i++) {
    readMoreButtons[i].addEventListener("click", () => {
      moreSpans[i].classList.remove("more-hide");
      readMoreButtons[i].classList.add("more-hide");
      readLessButtons[i].classList.remove("more-hide");
    });
  }
  for (let i = 0; i < readLessButtons.length; i++) {
    readLessButtons[i].addEventListener("click", () => {
      moreSpans[i].classList.add("more-hide");
      readMoreButtons[i].classList.remove("more-hide");
      readLessButtons[i].classList.add("more-hide");
      readMoreButtons[i].scrollIntoView();
    });
  }

  // clicking the Read More button in the Dos & Don'ts section displays more on mobile
  document.querySelectorAll(".project-text-block").forEach((elt) => {
    elt.addEventListener("click", (e) => {
      if (e.target instanceof HTMLButtonElement) {
        elt.classList.remove("collapsed");
      }
    });
  });
</script>
