---
const brand = "Lockwood"
const tagline = "Lockwood Loves You"
const tags = [
    'Brand Identity + Positioning',
    'Logo Design',
    'Video + Photography',
    'Art + Illustration',
    'Product Design (UX/UI)',
    'CX',
    'Interior Design',
    'Physical Goods Development + Design',
    'Print + Packaging',
    'Organic + Paid Social Content',
    'Writing + Editing',
    'Quiz Development',
    'Signage + Display',
    'Surprise + Delight',
    'Visual Identity',
    'Theatrics',
]

import "@styles/utils.css";
import "@styles/lockwood.css";
import Image from "astro/components/Image.astro";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import OneUp from "@components/OneUp.astro";
import TwoUp from "@components/TwoUp.astro";
import Navigation from "@components/Navigation.astro";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import ResponsiveImage from "@components/ResponsiveImage.astro";
import ResponsiveBackground from "@components/ResponsiveBackground.astro";
import ResponsiveTextBlock from "@components/ResponsiveTextBlock.astro";

// Moved to /public/images/Lockwood:
//   "@assets/Lockwood/img/02_LW_Pattern.png"
//   "@assets/Lockwood/img/03_LW_Logo/03_LW_LogoBackground.png"
//   "@assets/Lockwood/img/10_LW_Giftbox_BG.png"
//   "@assets/Lockwood/img/14_LW_SiteBG.png"
//   "@assets/Lockwood/img/14_LW_SiteFrame.png"
//   "@assets/Lockwood/img/24_LW_CandleWarmer_BG.png"
//   "@assets/Lockwood/img/24_LW_CandleWarmer_BG_Mobile.png"
//   "@assets/Lockwood/img/26_LW_CandleBG.png"

import Hero from "@assets/Lockwood/img/0_LW_Lockwood-Hero.png"
import HeroMobile from "@assets/Lockwood/img/0_LW_Lockwood-Hero-Mobile.png"
import IntroVideo from "@assets/Lockwood/01_LW_Video.mp4"
import ManifestoDesktop from "@assets/Lockwood/img/02_LW_Manifesto_Desktop.png"
import ManifestoMobile from "@assets/Lockwood/img/02_LW_Manifesto_Mobile.png"
import LogoA from "@assets/Lockwood/img/03_LW_Logo/Lockwood_home-style-paper-charcoal.svg"
import LogoB from "@assets/Lockwood/img/03_LW_Logo/Lockwood_lockup_qns_bklyn-charcoal.svg"
import LogoC from "@assets/Lockwood/img/03_LW_Logo/Lockwood_paper-charcoal.svg"
import LogoD from "@assets/Lockwood/img/03_LW_Logo/Lockwood_style-charcoal 1.svg"
import LogoE from "@assets/Lockwood/img/03_LW_Logo/Lockwood_home-charcoal.svg"
import StoreA from "@assets/Lockwood/img/04_LW_StoreTicker/1_AstoriaHomeGift.png"
import StoreB from "@assets/Lockwood/img/04_LW_StoreTicker/2_JacksonHeights.png"
import StoreC from "@assets/Lockwood/img/04_LW_StoreTicker/3_Greenpoint.png"
import StoreD from "@assets/Lockwood/img/04_LW_StoreTicker/4_Williamsburg.png"
import StoreE from "@assets/Lockwood/img/04_LW_StoreTicker/5_AstoriaStyle.png"
import StoreF from "@assets/Lockwood/img/04_LW_StoreTicker/6_AstoriaPaper.png"
import Box from "@assets/Lockwood/img/05_LW_Box.png"
import Cart from "@assets/Lockwood/img/06_LW_GroceryCart.png"

// TODO
// import Img from "@assets/Lockwood/07_LW-LovesYouTicker.svg"

import WindowDressing from "@assets/Lockwood/img/08_LW_Storefront.png"
import Bags from "@assets/Lockwood/img/09_LW_Bags.png"
import GiftVideo from "@assets/Lockwood/10_LW_Giftbox.mp4"
import StickersA from "@assets/Lockwood/img/11_LW-StickerGif/LW-StickerGif_1.png"
import StickersB from "@assets/Lockwood/img/11_LW-StickerGif/LW-StickerGif_2.png"
import StickersC from "@assets/Lockwood/img/11_LW-StickerGif/LW-StickerGif_3.png"
import Unboxing from "@assets/Lockwood/11_LW_BoxReel.mp4"
import EnergyCards from "@assets/Lockwood/img/12_LW_Cards.png"
import Tags from "@assets/Lockwood/img/13_LW_Tags_v2.png"
import SiteVideo from "@assets/Lockwood/14_LW_Homepage_1.mp4"
import CustomBoxA from "@assets/Lockwood/img/15_LW_CustomBox_1.png"
import CustomBoxB from "@assets/Lockwood/img/15_LW_CustomBox_2.png"
import SocialA from "@assets/Lockwood/img/16_LW_Social_1.png"
import SocialB from "@assets/Lockwood/img/16_LW_Social_2.png"
import SocialC from "@assets/Lockwood/img/16_LW_Social_3.png"
import Hats from "@assets/Lockwood/img/17_LW_Hats_v3.png"
import PizzaVideo from "@assets/Lockwood/17_LW_Pizza.mp4"
import GridA from "@assets/Lockwood/img/18_LW_Grid_1.png"
import GridB from "@assets/Lockwood/img/18_LW_Grid_2.png"
import GridC from "@assets/Lockwood/img/18_LW_Grid_3.png"
import GridD from "@assets/Lockwood/img/18_LW_Grid_4.png"
import GridE from "@assets/Lockwood/img/18_LW_Grid_5.png"
import GridF from "@assets/Lockwood/img/18_LW_Grid_6.png"
import Ornaments from "@assets/Lockwood/img/19_LW_Ornaments_v3.png"
import TaxiVideo from "@assets/Lockwood/19_LW_Taxi.mp4"

import NeighborhoodA from "@assets/Lockwood/img/20_LW_Type_Gif/LW_Type_Gif_1.png"
import NeighborhoodB from "@assets/Lockwood/img/20_LW_Type_Gif/LW_Type_Gif_2.png"
import NeighborhoodC from "@assets/Lockwood/img/20_LW_Type_Gif/LW_Type_Gif_3.png"
import NeighborhoodD from "@assets/Lockwood/img/20_LW_Type_Gif/LW_Type_Gif_4.png"
import NeighborhoodE from "@assets/Lockwood/img/20_LW_Type_Gif/LW_Type_Gif_5.png"
import NeighborhoodF from "@assets/Lockwood/img/20_LW_Type_Gif/LW_Type_Gif_6.png"
import NeighborhoodG from "@assets/Lockwood/img/20_LW_Type_Gif/LW_Type_Gif_7.png"
import Collage from "@assets/Lockwood/img/21_LW_Collage.png"
import SparkTop from "@assets/Lockwood/img/22_LW_Spark_1_wide.png"
import SparkBottom from "@assets/Lockwood/img/22_LW_Spark_2.png"
import SparkBackground from "@assets/Lockwood/22_LW_Spark_BG.mp4"
import NewsletterA from "@assets/Lockwood/img/23_LW_Newsletters/1.png"
import NewsletterB from "@assets/Lockwood/img/23_LW_Newsletters/2.png"
import NewsletterC from "@assets/Lockwood/img/23_LW_Newsletters/3.png"
import NewsletterD from "@assets/Lockwood/img/23_LW_Newsletters/4.png"
import NewsletterE from "@assets/Lockwood/img/23_LW_Newsletters/5.png"
import NewsletterF from "@assets/Lockwood/img/23_LW_Newsletters/6.png"
import NewsletterG from "@assets/Lockwood/img/23_LW_Newsletters/7.png"
import NewsletterH from "@assets/Lockwood/img/23_LW_Newsletters/8.png"
import NewsletterI from "@assets/Lockwood/img/23_LW_Newsletters/9.png"
import NewsletterJ from "@assets/Lockwood/img/23_LW_Newsletters/10.png"
import NewsletterK from "@assets/Lockwood/img/23_LW_Newsletters/11.png"
import NewsletterL from "@assets/Lockwood/img/23_LW_Newsletters/12.png"
import CandleVideo from "@assets/Lockwood/24_LW_CandleWarmer_1.mp4"
import CandlePhoto from "@assets/Lockwood/img/24_LW_CandleWarmer_2.png"
import FlowerA from "@assets/Lockwood/img/25_LW_FlowerGif/LW_Flower_1.png"
import FlowerB from "@assets/Lockwood/img/25_LW_FlowerGif/LW_Flower_2.png"
import FlowerC from "@assets/Lockwood/img/25_LW_FlowerGif/LW_Flower_3.png"
import CandleTokVideo from "@assets/Lockwood/26_LW_CandleTiktok.mp4"
import TeaBuzzfeed from "@assets/Lockwood/img/27_LW_Buzzfeed.png"
import TeaA from "@assets/Lockwood/img/27_LW_TeaGif/LW_Tea_1.png"
import TeaB from "@assets/Lockwood/img/27_LW_TeaGif/LW_Tea_2.png"
import TeaC from "@assets/Lockwood/img/27_LW_TeaGif/LW_Tea_3.png"
import NotebookA from "@assets/Lockwood/img/28_LW_Notebook_1.png"
import NotebookB from "@assets/Lockwood/img/28_LW_Notebook_2.png"
import NotebookC from "@assets/Lockwood/img/28_LW_Notebook_3.png"
import StickerA from "@assets/Lockwood/img/29_LW_Sticker_1.png"
import StickerB from "@assets/Lockwood/img/29_LW_Sticker_2.png"
import StickerC from "@assets/Lockwood/img/29_LW_Sticker_3.png"
import Constellations from "@assets/Lockwood/img/30_LW_Constellation.png"
import Lizzo from "@assets/Lockwood/img/31_LW_LizzoNotes.png"
import ValueA from "@assets/Lockwood/img/values/value1-d.svg"
import ValueAMobile from "@assets/Lockwood/img/values/value1-m.svg"
import ValueB from "@assets/Lockwood/img/values/value2-d.svg"
import ValueBMobile from "@assets/Lockwood/img/values/value2-m.svg"
import ValueC from "@assets/Lockwood/img/values/value3-d.svg"
import ValueCMobile from "@assets/Lockwood/img/values/value3-m.svg"
import ValueD from "@assets/Lockwood/img/values/value4-d.svg"
import ValueDMobile from "@assets/Lockwood/img/values/value4-m.svg"
import Zizmor from "@assets/Lockwood/33_LW_Zizmor.gif"
---

<ProjectLayout hero={Hero} mobile={HeroMobile} brand={brand} tagline={tagline} tags={tags}>

    <div id="pizza-animation" class="spaced">
        <video class="rc" loop playsinline autoplay muted>
            <source src={IntroVideo} />
        </video>
    </div>

    <div id="manifesto" class="padded">
        <ResponsiveImage mobile={ManifestoDesktop} desktop={ManifestoMobile} />
    </div>

    <div id="logos" class="spaced">
        <div class="backdrop rc">
            <div class="slideshow">
                <Image class="active" src={LogoA} alt=" " />
                <Image src={LogoB} alt=" " />
                <Image src={LogoC} alt=" " />
                <Image src={LogoD} alt=" " />
                <Image src={LogoE} alt=" " />
            </div>
        </div>
    </div>

    <div id="storefronts" class="spaced">
        <div class="tray">
            <Image src={StoreA} widths={[600]} loading="eager" alt=" " />
            <Image src={StoreB} widths={[600]} loading="eager" alt=" " />
            <Image src={StoreC} widths={[600]} loading="eager" alt=" " />
            <Image src={StoreD} widths={[600]} loading="eager" alt=" " />
            <Image src={StoreE} widths={[600]} loading="eager" alt=" " />
            <Image src={StoreF} widths={[600]} loading="eager" alt=" " />
            <Image src={StoreA} widths={[600]} loading="eager" alt=" " />
            <Image src={StoreB} widths={[600]} loading="eager" alt=" " />
            <Image src={StoreC} widths={[600]} loading="eager" alt=" " />
            <Image src={StoreD} widths={[600]} loading="eager" alt=" " />
            <Image src={StoreE} widths={[600]} loading="eager" alt=" " />
        </div>
    </div>


    <Image src={Box} widths={[2000]} alt=" " />
    <OneUp id="shopping-cart" class="spaced rc" src={Cart} alt=" " />

    <!-- TODO: LockwoodLovesYou infinite scroll -->

    <Image src={WindowDressing} widths={[2000]} alt=" " />
    <OneUp id="bags" class="spaced rc" src={Bags} alt=" " />


    <div id="gift-animation" class="padded">
        <video class="rc" loop playsinline autoplay muted>
            <source src={GiftVideo} />
        </video>
    </div>


    <div id="sticker-box" class="spaced">
        <div class="slideshow" data-interval="666">
            <Image class="active" src={StickersA} widths={[800]} loading="eager" alt=" " />
            <Image src={StickersB} widths={[800]} loading="eager" alt=" " />
            <Image src={StickersC} widths={[800]} loading="eager" alt=" " />
        </div>
        <video class="rc" loop playsinline autoplay muted>
            <source src={Unboxing} />
        </video>
    </div>

    <Image src={EnergyCards} class="full-bleed" widths={[2000]} alt=" " />
    <Image src={Tags} class="full-bleed" widths={[2000]} alt=" " />

    <div id="site">
        <div class="frame">
            <video class="rc" loop playsinline autoplay muted>
                <source src={SiteVideo} />
            </video>
        </div>
    </div>


    <div id="custom-box" class="two-col">
        <Image src={CustomBoxA} widths={[2200]} class="rc" alt=" " />
        <Image src={CustomBoxB} widths={[2200]} class="rc" alt=" " />
    </div>

    <div id="social" class="three-col">
        <Image src={SocialA} widths={[2200]} class="rc" alt=" " />
        <Image src={SocialB} widths={[2200]} class="rc" alt=" " />
        <Image src={SocialC} widths={[2200]} class="rc" alt=" " />
    </div>

    <div class="two-col flush">
        <video loop playsinline autoplay muted>
            <source src={PizzaVideo} />
        </video>
        <Image src={Hats} widths={[2200]} alt=" " />
    </div>

    <div id="grid" class="two-col">
        <Image src={GridA} widths={[2200]} class="rc" alt=" " />
        <Image src={GridB} widths={[2200]} class="rc" alt=" " />
        <Image src={GridC} widths={[2200]} class="rc" alt=" " />
        <Image src={GridD} widths={[2200]} class="rc" alt=" " />
        <Image src={GridE} widths={[2200]} class="rc" alt=" " />
        <Image src={GridF} widths={[2200]} class="rc" alt=" " />
    </div>

    <div class="two-col flush">
        <Image src={Ornaments} widths={[2200]} alt=" " />
        <video class="rc" loop playsinline autoplay muted>
            <source src={TaxiVideo} />
        </video>
    </div>

    <div id="neighborhoods" class="full-bleed">
        <div class="slideshow" data-interval="1200">
            <Image class="active" src={NeighborhoodA} widths={[2200]} loading="eager" alt=" " />
            <Image src={NeighborhoodB} widths={[2200]} loading="eager" alt=" " />
            <Image src={NeighborhoodC} widths={[2200]} loading="eager" alt=" " />
            <Image src={NeighborhoodD} widths={[2200]} loading="eager" alt=" " />
            <Image src={NeighborhoodE} widths={[2200]} loading="eager" alt=" " />
            <Image src={NeighborhoodF} widths={[2200]} loading="eager" alt=" " />
            <Image src={NeighborhoodG} widths={[2200]} loading="eager" alt=" " />
        </div>
    </div>

    <div class="spaced">
        <Image src={Collage} widths={[2200]} alt=" " />
    </div>

    <div id="spark" class="spaced flush">
        <video loop playsinline autoplay muted>
            <source src={SparkBackground} />
        </video>
        <div class="cards">
            <Image src={SparkTop} widths={[2200]} loading="eager" alt=" " />
            <Image src={SparkBottom} widths={[2200]} loading="eager" alt=" " />
        </div>
    </div>

    <div id="newsletters" class="spaced flush">
        <div class="tray">
            <Image src={NewsletterA} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterB} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterC} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterD} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterE} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterF} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterG} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterH} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterI} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterJ} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterK} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterL} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterA} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterB} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterC} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterD} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterE} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterF} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterG} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterH} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterI} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterJ} widths={[600]} loading="eager" alt=" " />
            <Image src={NewsletterK} widths={[600]} loading="eager" alt=" " />
        </div>
    </div>

    <div id="candle-warmer">
        <video class="rc" loop playsinline autoplay muted>
            <source src={CandleVideo} />
        </video>
        <Image src={CandlePhoto} class="rc" widths={[2200]} loading="eager" alt=" " />
    </div>

    <div id="flower" class="spaced">
        <div class="slideshow" data-interval="1000">
            <Image class="active" src={FlowerA} widths={[2200]} loading="eager" alt=" " />
            <Image src={FlowerB} widths={[2200]} loading="eager" alt=" " />
            <Image src={FlowerC} widths={[2200]} loading="eager" alt=" " />
        </div>
    </div>

    <div id="candle-tok" class="padded flush">
        <video class="rc" loop playsinline autoplay muted>
            <source src={CandleTokVideo} />
        </video>
    </div>

    <div id="tea" class="two-col">
        <div class="slideshow" data-interval="2000">
            <Image class="active" src={TeaA} widths={[2200]} loading="eager" alt=" " />
            <Image src={TeaB} widths={[2200]} loading="eager" alt=" " />
            <Image src={TeaC} widths={[2200]} loading="eager" alt=" " />
        </div>
        <Image src={TeaBuzzfeed} widths={[2200]} loading="eager" alt=" " />
    </div>

    <div class="three-col">
        <Image src={NotebookA} widths={[2200]} alt=" " />
        <Image src={NotebookB} widths={[2200]} alt=" " />
        <Image src={NotebookC} widths={[2200]} alt=" " />
    </div>

    <div class="three-col">
        <Image src={StickerA} widths={[2200]} alt=" " />
        <Image src={StickerB} widths={[2200]} alt=" " />
        <Image src={StickerC} widths={[2200]} alt=" " />
    </div>

    <Image src={Constellations} widths={[2200]} alt=" " />
    <Image src={Lizzo} widths={[2200]} alt=" " />

    <section id="values" class="spaced">
        <h1>Living Values</h1>
        <div class="slideshow">
            <ResponsiveImage class="active" mobile={ValueAMobile} desktop={ValueA} />
            <ResponsiveImage mobile={ValueBMobile} desktop={ValueB} />
            <ResponsiveImage mobile={ValueCMobile} desktop={ValueC} />
            <ResponsiveImage mobile={ValueDMobile} desktop={ValueD} />
        </div>
    </section>

    <Image src={Zizmor} widths={[2200]} alt=" " />
</ProjectLayout>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let dt = 0
        document.querySelectorAll('.slideshow').forEach(elt => {
            let slides = elt.querySelectorAll(":scope>picture,:scope>img:not(.app"),
                interval = elt instanceof HTMLElement && elt.dataset.interval || 2000,
                len = slides.length,
                idx = 0

            const advance = () => {
                idx++
                slides.forEach((img, i) => {
                    img.classList.toggle('active', i==idx%len)
                })
            }

            setTimeout(() => setInterval(advance, +interval), dt)
            dt += 666
        })
    })
</script>

