---
const brand = "Magnolia";
const tagline = "Watch + Learn";
const tags = [
  "Brand Identity + Positioning",
  "Logo Design",
  "Video + Photography",
  "Art + Illustration",
  "Product Design (UX/UI)",
  "CX",
  "Interior Design",
  "Original Naming",
  "Physical Goods Development + Design",
  "Print + Packaging",
  "Organic + Paid Social Content",
  "Writing + Editing",
  "Qualitative Research",
  "Surprise + Delight",
];

import "@styles/utils.css";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import Image from "astro/components/Image.astro";

import Header from "@assets/Magnolia/img/Magnolia_Header.png";
import HeaderMobile from "@assets/Magnolia/img/Magnolia_Header_Mobile.png";
import Introduction from "@assets/Magnolia/Magnolia_Introduction.mp4";
import IntroductionMobile from "@assets/Magnolia/Magnolia_Introduction_Mobile.mp4";
import Social from "@assets/Magnolia/Magnolia_Social.mp4";
import AppNav1 from "@assets/Magnolia/img/Magnolia_App_Nav.png";
import RecipeApp from "@assets/Magnolia/img/Magnolia_App_Nav_Recipe.png";
import Article from "@assets/Magnolia/img/Magnolia_App_Nav_Article.png";
import ShopApp from "@assets/Magnolia/img/Magnolia_App_Nav_Shop.png";
import Profile from "@assets/Magnolia/img/Magnolia_App_Nav_Profile.png";
import Birthday from "@assets/Magnolia/img/Magnolia_App_Nav_Birthday.png";
import AppNav2 from "@assets/Magnolia/img/Magnolia_App_Nav_2.png";
import Table from "@assets/Magnolia/img/Magnolia_Table.png";
import NetworkCard from "@assets/Magnolia/Magnolia_Network_Card.mp4";
import WatchWeb1 from "@assets/Magnolia/img/Magnolia_Watch_Web_1.png";
import WatchWeb2 from "@assets/Magnolia/img/Magnolia_Watch_Web_2.png";
import NetworkHome from "@assets/Magnolia/img/Magnolia_Network_Home.png";
import Salad from "@assets/Magnolia/img/Magnolia_Salad.png";
import Joanna from "@assets/Magnolia/img/Magnolia_Joanna.png";
import Cooking from "@assets/Magnolia/img/Magnolia_Cooking.png";
import NetworkWatch from "@assets/Magnolia/Magnolia_Network_Watch.mp4";
import Recipe from "@assets/Magnolia/img/Magnolia_Recipe.png";
import Store from "@assets/Magnolia/img/Magnolia_Store.png";
import Gallery from "@assets/Magnolia/img/Magnolia_Gallery.png";
import Tabs from "@assets/Magnolia/img/Magnolia_Tabs.png";
import MagnoliaMobile from "@assets/Magnolia/img/Magnolia_Mobile.png";
import MagnoliaDesktop from "@assets/Magnolia/img/Magnolia_Desktop.png";
import ShopSiteVideo from "@assets/Magnolia/Magnolia_Shop_Site.mp4";
import Shop from "@assets/Magnolia/img/Magnolia_Shop.png";
import WatchMobile from "@assets/Magnolia/Magnolia_Watch_Mobile.mp4";
import Watch from "@assets/Magnolia/img/Magnolia_Watch.png";
import InternalBlocks from "@assets/Magnolia/img/Magnolia_Internal_Blocks.png";
import Screens from "@assets/Magnolia/img/Magnolia_Screens.png";
import VimeoPlayer from "@components/VimeoPlayer.astro";
---

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto;
    }
  }

  .item:first-child {
    grid-column: span 2;

    @media (min-width: 768px) {
      grid-column: span 1;
    }
  }
</style>
<ProjectLayout
  hero={Header}
  mobile={HeaderMobile}
  brand={brand}
  tagline={tagline}
  tags={tags}
>
  <video
    loop
    playsinline
    autoplay
    muted
    class="lg:mb-[120px] hidden lg:block w-full"
  >
    <source src={Introduction} />
  </video>
  <video
    loop
    playsinline
    autoplay
    muted
    class="mb-[45px] block lg:hidden w-full"
  >
    <source src={IntroductionMobile} />
  </video>
  <video
    loop
    playsinline
    autoplay
    muted
    class="my-[45px] lg:my-[120px] w-[220px] lg:w-[345px] rounded-md mx-auto"
  >
    <source src={Social} />
  </video>
  <div
    class="flex flex-row w-full px-[20px] lg:px-[300px] gap-[5px] lg:gap-[15px] my-[45px] lg:my-[120px]"
  >
    <Image src={AppNav1} class="w-full h-auto rounded-xl" alt="" />
    <Image src={RecipeApp} class="w-full h-auto rounded-xl" alt="" />
  </div>
  <div
    class="flex flex-row w-full px-[20px] lg:px-[300px] gap-[5px] lg:gap-[15px] my-[45px] lg:my-[120px]"
  >
    <Image src={Article} class="w-full h-auto rounded-xl" alt="" />
    <Image src={ShopApp} class="w-full h-auto rounded-xl" alt="" />
  </div>
  <div
    class="flex flex-row w-full px-[20px] lg:px-[200px] gap-[5px] lg:gap-[15px] my-[45px] lg:my-[120px]"
  >
    <Image src={Profile} class="w-full h-auto rounded-xl" alt="" />
    <Image src={Birthday} class="w-full h-auto rounded-xl" alt="" />
    <Image src={AppNav2} class="w-full h-auto rounded-xl" alt="" />
  </div>
  <VimeoPlayer class="" video="1060355366" height="91.5%" />
  <!-- insert video 1060355366-->
  <div
    class="flex flex-col lg:flex-row w-full my-[45px] lg:my-[120px] px-0 lg:px-[60px] gap-[45px] lg:gap-0"
  >
    <video
      loop
      playsinline
      autoplay
      muted
      class="w-full lg:order-2 px-[95px] lg:px-0"
    >
      <source src={NetworkCard} />
    </video>
    <Image src={Table} class="w-full h-auto px-[20px] lg:px-0" alt="" />
  </div>
  <div
    class="flex flex-col w-full lg:flex-row my-[45px] lg:my-[120px] px-0 lg:px-[60px] gap-[45px] lg:gap-[15px]"
  >
    <Image
      src={WatchWeb2}
      class="w-full h-auto rounded-md flex-[2] px-[20px] lg:px-0 lg:order-2 w-full"
      alt=""
    />

    <Image
      src={WatchWeb1}
      class="w-full h-auto rounded-xl flex-[1] px-[77px] lg:px-0"
      alt=""
    />
  </div>
  <Image
    src={NetworkHome}
    class="w-full h-auto px-[20px] lg:px-[60px] my-[45px] lg:my-[120px]"
    alt=""
  />
  <div class="flex flex-col lg:flex-row lg:px-[60px] my-[45px] lg:my-[120px]">
    <Image src={Joanna} class="w-full h-auto lg:order-2" alt="" />
    <Image src={Salad} class="w-full h-auto" alt="" />
  </div>
  <Image src={Cooking} class="w-full h-auto my-[45px] lg:my-[120px]" alt="" />
  <div class="container px-0 lg:px-[60px] my-[45px] lg:my-[120px]">
    <div class="item px-[77px] pb-[45px] lg:p-0">
      <video loop playsinline autoplay muted class="w-full rounded-xl">
        <source src={NetworkWatch} />
      </video>
    </div>
    <div class="item pl-[20px] lg:p-0">
      <Image src={Recipe} class="w-full h-auto lg:rounded-xl" alt="" />
    </div>
    <div class="item pr-[20px] lg:p-0">
      <Image src={Store} class="w-full h-auto lg:rounded-xl" alt="" />
    </div>
  </div>
  <div class="my-[45px] lg:my-[120px] px-[20px] lg:px-[200px]">
    <Image src={Gallery} class="w-full h-auto rounded-xl" alt="" />
  </div>
  <div class="bg-[#B79E97] py-[45px] lg:py-[120px] px-[15px] lg:px-[60px]">
    <Image src={Tabs} class="w-full h-auto" alt="" />
  </div>
  <div
    class="w-full flex flex-col lg:flex-row my-[45px] lg:my-[120px] px-0 lg:px-[200px] gap-[45px] lg:gap-[15px]"
  >
    <Image
      src={MagnoliaMobile}
      class="w-full h-auto flex-[1] px-[77px] lg:px-0"
      alt=""
    />
    <Image
      src={MagnoliaDesktop}
      class="w-full h-auto flex-[2] px-[20px] lg:px-0"
      alt=""
    />
  </div>
  <div
    class="w-full flex flex-col lg:flex-row my-[45px] lg:my-[120px] px-0 lg:px-[200px] gap-[45px] lg:gap-[15px]"
  >
    <video
      loop
      playsinline
      autoplay
      muted
      class="w-full flex-[2] px-[20px] lg:px-0"
    >
      <source src={ShopSiteVideo} />
    </video>
    <Image src={Shop} class="w-full h-auto flex-[1] px-[77px] lg:px-0" alt="" />
  </div>
  <div
    class="w-full flex flex-col lg:flex-row my-[45px] lg:my-[120px] px-0 lg:px-[200px] gap-[45px] lg:gap-[15px]"
  >
    <video
      loop
      playsinline
      autoplay
      muted
      class="w-full flex-[1] px-[77px] lg:px-0"
    >
      <source src={WatchMobile} />
    </video>
    <Image
      src={Watch}
      class="w-full h-auto flex-[2] px-[20px] lg:px-0"
      alt=""
    />
  </div>
  <Image src={InternalBlocks} class="w-full h-auto" alt="" />
  <Image src={Screens} class="w-full h-auto" alt="" />
  <div class="relative pb-[56.25%] h-0">
    <iframe
      class="w-full h-full top-0 left-0 absolute"
      loading="lazy"
      src="https://docs.google.com/presentation/d/e/2PACX-1vQS0PBccayYSClPdSHxmBU3dQzRy8Veb2JM4b-tAoUyfY2tF6XJqWW_pf-FgDKoNccSzNwPODfIV1hH/embed?start=false&loop=false&delayms=3000&rm=minimal"
      frameborder="0"></iframe>
  </div>

  <script></script>
</ProjectLayout>
