---
const brand = "Magnolia";
const tagline = "Chip + Jo Go DTC";
const tags = [
  "Brand Identity + Positioning",
  "Product Design (UX/UI)",
  "CX",
  "Organic + Paid Social Content",
  "Writing + Editing",
  "Qualitative Research",
  "Surprise + Delight",
  "Visual Identity",
];

import "@styles/utils.css";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import Image from "astro/components/Image.astro";

import Header from "@assets/Magnolia/img/Magnolia_Header.png";
import HeaderMobile from "@assets/Magnolia/img/Magnolia_Header_Mobile.png";
import Introduction from "@assets/Magnolia/Magnolia_Introduction.mp4";
import IntroductionMobile from "@assets/Magnolia/Magnolia_Introduction_Mobile.mp4";
import Social from "@assets/Magnolia/Magnolia_Social.mp4";
import AppNav1 from "@assets/Magnolia/img/Magnolia_App_Nav.png";
import RecipeApp from "@assets/Magnolia/img/Magnolia_App_Nav_Recipe.png";
import Article from "@assets/Magnolia/img/Magnolia_App_Nav_Article.png";
import ShopApp from "@assets/Magnolia/img/Magnolia_App_Nav_Shop.png";
import Profile from "@assets/Magnolia/img/Magnolia_App_Nav_Profile.png";
import Birthday from "@assets/Magnolia/img/Magnolia_App_Nav_Birthday.png";
import AppNav2 from "@assets/Magnolia/img/Magnolia_App_Nav_2.png";
import Table from "@assets/Magnolia/img/Magnolia_Table.png";
import NetworkCard from "@assets/Magnolia/Magnolia_Network_Card.mp4";
import WatchWeb1 from "@assets/Magnolia/img/Magnolia_Watch_Web_1.png";
import WatchWeb2 from "@assets/Magnolia/img/Magnolia_Watch_Web_2.png";
import NetworkHome from "@assets/Magnolia/img/Magnolia_Network_Home.png";
import Salad from "@assets/Magnolia/img/Magnolia_Salad.png";
import Joanna from "@assets/Magnolia/img/Magnolia_Joanna.png";
import Cooking from "@assets/Magnolia/img/Magnolia_Cooking.png";
import NetworkWatch from "@assets/Magnolia/Magnolia_Network_Watch.mp4";
import Recipe from "@assets/Magnolia/img/Magnolia_Recipe.png";
import Store from "@assets/Magnolia/img/Magnolia_Store.png";
import Gallery from "@assets/Magnolia/img/Magnolia_Gallery.png";
import Tabs from "@assets/Magnolia/img/Magnolia_Tabs.png";
import MagnoliaMobile from "@assets/Magnolia/img/Magnolia_Mobile.png";
import MagnoliaDesktop from "@assets/Magnolia/img/Magnolia_Desktop.png";
import ShopSiteVideo from "@assets/Magnolia/Magnolia_Shop_Site.mp4";
import Shop from "@assets/Magnolia/img/Magnolia_Shop.png";
import WatchMobile from "@assets/Magnolia/Magnolia_Watch_Mobile.mp4";
import Watch from "@assets/Magnolia/img/Magnolia_Watch.png";
import InternalBlocks from "@assets/Magnolia/img/Magnolia_Internal_Blocks.png";
import Screens from "@assets/Magnolia/img/Magnolia_Screens.png";
import VimeoPlayer from "@components/VimeoPlayer.astro";
---

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto;
    }
  }

  .item:first-child {
    grid-column: span 2;

    @media (min-width: 768px) {
      grid-column: span 1;
    }
  }

  .two-up-copy {
    display: flex;
    --one-third-mobile: calc(100% * 1 / 3 - 2.5px);
    --two-thirds-mobile: calc(100% * 2 / 3 - 2.5px);
    --half-mobile: calc(50% - 2.5px);
    &.bias-left-mobile {
      img:first-child {
        width: var(--two-thirds-mobile);
      }
      img:last-child {
        width: var(--one-third-mobile);
      }
    }

    &.bias-right-mobile {
      img:first-child {
        width: var(--one-third-mobile);
      }
      img:last-child {
        width: var(--two-thirds-mobile);
      }
    }

    &.bias-center-mobile {
      img:first-child {
        width: var(--half-mobile);
      }
      img:last-child {
        width: var(--half-mobile);
      }
    }
    @media (min-width: 768px) {
      flex-flow: row nowrap;
      --one-third: calc(100% * 1 / 3 - 7.5px);
      --two-thirds: calc(100% * 2 / 3 - 7.5px);
      --half: calc(50% - 7.5px);

      &.bias-left {
        img:first-child {
          width: var(--two-thirds);
        }
        img:last-child {
          width: var(--one-third);
        }
      }

      &.bias-right {
        img:first-child {
          width: var(--one-third);
        }
        img:last-child {
          width: var(--two-thirds);
        }
      }

      &.bias-center {
        img:first-child {
          width: var(--half);
        }
        img:last-child {
          width: var(--half);
        }
      }
    }
  }
</style>
<ProjectLayout
  hero={Header}
  mobile={HeaderMobile}
  brand={brand}
  tagline={tagline}
  tags={tags}
>
  <video
    loop
    playsinline
    autoplay
    muted
    class="hidden w-full md:mb-[120px] md:block"
  >
    <source src={Introduction} />
  </video>
  <video
    loop
    playsinline
    autoplay
    muted
    class="mb-[45px] block w-full md:hidden"
  >
    <source src={IntroductionMobile} />
  </video>
  <video
    loop
    playsinline
    autoplay
    muted
    class="mx-auto my-[45px] w-[220px] rounded-md md:my-[120px] md:w-[345px]"
  >
    <source src={Social} />
  </video>

  <div
    class="two-up-copy bias-center bias-center-mobile mx-auto my-[45px] max-w-[840px] flex-row gap-[5px] px-[20px] md:my-[120px] md:gap-[15px]"
  >
    <Image src={AppNav1} class="rounded-md md:rounded-lg" alt="" />
    <Image src={RecipeApp} class="rounded-md md:rounded-lg" alt="" />
  </div>
  <div
    class="two-up-copy bias-center bias-center-mobile mx-auto my-[45px] max-w-[840px] flex-row gap-[5px] px-[20px] md:my-[120px] md:gap-[15px]"
  >
    <Image src={Article} class="rounded-md md:rounded-lg" alt="" />
    <Image src={ShopApp} class="rounded-md md:rounded-lg" alt="" />
  </div>
  <div
    class="mx-auto my-[45px] grid w-full max-w-[1040px] grid-cols-3 gap-[5px] px-[20px] md:my-[120px] md:gap-[15px]"
  >
    <Image src={Profile} class="rounded-md md:rounded-lg" alt="" />
    <Image src={Birthday} class="rounded-md md:rounded-lg" alt="" />
    <Image src={AppNav2} class="rounded-md md:rounded-lg" alt="" />
  </div>
  <VimeoPlayer video="1060355366" height="91.5%" />

  <div
    class="two-up-copy bias-center mx-auto my-[45px] max-w-[1320px] flex-col gap-[45px] px-[20px] md:my-[120px] md:flex-row md:gap-0"
  >
    <video
      loop
      playsinline
      autoplay
      muted
      class="mx-auto w-2/3 md:order-2 md:w-1/2"
    >
      <source src={NetworkCard} />
    </video>
    <Image src={Table} class="rounded-md md:rounded-lg" alt="" />
  </div>

  <div
    class="mx-auto my-[45px] grid w-full max-w-[1320px] grid-cols-1 gap-[45px] md:my-[120px] md:grid-cols-[1fr,2fr] md:gap-[15px] md:px-[20px]"
  >
    <div class="px-[20px] md:order-2 md:px-0">
      <Image src={WatchWeb2} class="h-full rounded-md md:rounded-lg" alt="" />
    </div>
    <div class="px-[77px] md:px-0">
      <Image src={WatchWeb1} class="h-full rounded-md md:rounded-lg" alt="" />
    </div>
  </div>
  <Image
    src={NetworkHome}
    class="mx-auto my-[45px] h-auto w-full max-w-[1320px] px-[20px] md:my-[120px]"
    alt=""
  />
  <div
    class="two-up-copy bias-center bias-center-mobile mx-auto my-[45px] max-w-[1320] flex-row gap-[45px] px-[20px] md:my-[120px] md:gap-[15px]"
  >
    <Image src={Joanna} class="md:order-2 md:rounded-lg" alt="" />
    <Image src={Salad} class="" alt="" />
  </div>

  <Image src={Cooking} class="my-[45px] h-auto w-full md:my-[120px]" alt="" />
  <div
    class="container mx-auto max-w-[1040px] gap-[5px] px-[20px] md:gap-[15px]"
  >
    <div class="item px-[77px] pb-[40px] md:p-0">
      <video loop playsinline autoplay muted class="rounded-md md:rounded-3xl">
        <source src={NetworkWatch} />
      </video>
    </div>
    <div class="item md:p-0">
      <Image src={Recipe} class="rounded-md md:rounded-3xl" alt="" />
    </div>
    <div class="item md:p-0">
      <Image src={Store} class="rounded-md md:rounded-3xl" alt="" />
    </div>
  </div>
  <div class="mx-auto my-[45px] max-w-[1040px] px-[20px] md:my-[120px]">
    <Image
      src={Gallery}
      class="h-auto w-full rounded-md md:rounded-lg"
      alt=""
    />
  </div>
  <div class="my-[45px] bg-[#B79E97] px-[15px] md:my-[120px] md:px-[60px]">
    <Image src={Tabs} class="h-auto w-full" alt="" />
  </div>
  <div
    class="mx-auto my-[45px] flex max-w-[1040px] flex-col gap-[45px] px-[20px] md:my-[120px] md:flex-row md:gap-[15px] md:px-[20px]"
  >
    <Image
      src={MagnoliaMobile}
      class="mx-auto w-2/3 rounded-md md:w-1/3 md:rounded-lg md:px-0"
      alt=""
    />
    <Image
      src={MagnoliaDesktop}
      class="mx-auto w-full rounded-md md:w-2/3 md:rounded-lg md:px-0"
      alt=""
    />
  </div>
  <div
    class="mx-auto my-[45px] flex max-w-[1040px] flex-col gap-[45px] px-[20px] md:my-[120px] md:flex-row md:gap-[15px] md:px-[20px]"
  >
    <video
      loop
      playsinline
      autoplay
      muted
      class="mx-auto w-full rounded-md md:w-2/3 md:rounded-lg md:px-0"
    >
      <source src={ShopSiteVideo} />
    </video>
    <Image
      src={Shop}
      class="mx-auto w-2/3 rounded-md md:w-1/3 md:rounded-lg md:px-0"
      alt=""
    />
  </div>
  <div
    class="mx-auto my-[45px] flex max-w-[1040px] flex-col gap-[45px] px-[20px] md:my-[120px] md:flex-row md:gap-[15px] md:px-[20px]"
  >
    <video
      loop
      playsinline
      autoplay
      muted
      class="mx-auto w-2/3 rounded-md md:w-1/3 md:rounded-lg md:px-0"
    >
      <source src={WatchMobile} />
    </video>
    <Image
      src={Watch}
      class="mx-auto w-full rounded-md md:w-2/3 md:rounded-lg md:px-0"
      alt=""
    />
  </div>
  <Image src={InternalBlocks} class="h-auto w-full" alt="" />
  <Image src={Screens} class="h-auto w-full" alt="" />
  <div class="relative h-0 pb-[56.25%]">
    <iframe
      class="absolute left-0 top-0 h-full w-full"
      loading="lazy"
      src="https://docs.google.com/presentation/d/e/2PACX-1vQS0PBccayYSClPdSHxmBU3dQzRy8Veb2JM4b-tAoUyfY2tF6XJqWW_pf-FgDKoNccSzNwPODfIV1hH/embed?start=false&loop=false&delayms=3000&rm=minimal"
      frameborder="0"></iframe>
  </div>

  <script></script>
</ProjectLayout>
