---
const brand = "NBCU Reach Redefined"
const tagline = "Content + Data + Distribution as One"
const tags=[
    'Brand Identity + Positioning',
    'Video + Photography',
    'Product Design (UX/UI)',
    'CX',
    'Print + Packaging',
    'Interviews',
    'Signage + Display',
    'Surprise + Delight',
    'Visual Identity'
]

import "@styles/utils.css";
import "@styles/nbcu-reach-redefined.css";
import Image from "astro/components/Image.astro";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import OneUp from "@components/OneUp.astro";
import TwoUp from "@components/TwoUp.astro";
import Navigation from "@components/Navigation.astro";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import ResponsiveImage from "@components/ResponsiveImage.astro";
import ResponsiveBackground from "@components/ResponsiveBackground.astro";
import ResponsiveTextBlock from "@components/ResponsiveTextBlock.astro";
import VimeoPlayer from "@components/VimeoPlayer.astro";

import Hero from "@assets/NbcUpfronts/img/hero.png"
import HeroMobile from "@assets/NbcUpfronts/img/hero-mobile.png"

import LeftA from "@assets/NbcUpfronts/img/left-1.png"
import LeftB from "@assets/NbcUpfronts/img/left-2.png"
import RightA from "@assets/NbcUpfronts/img/right-1.png"
import RightB from "@assets/NbcUpfronts/img/right-2.png"
import RightC from "@assets/NbcUpfronts/img/right-3.png"
import Campaign from "@assets/NbcUpfronts/img/campaign.jpeg"
---

<ProjectLayout theme="dark" hero={Hero} mobile={HeroMobile} brand={brand} tagline={tagline} tags={tags}>

    <VimeoPlayer video="177142298" height="56.25%" action="unpause"/>

    <ResponsiveTextBlock class="reach-intro">
        <div>
            <h1>A Campaign That Transcends Boundaries</h1>
            <p>As NBCUniversal’s lead art creative director on the Reach Redefined campaign, I was primarily responsible for all the visual storytelling, with my hands in every aspect of the layered creative work that went into the global campaign.</p>
        </div>
        <div>
            <p>From concepting this year’s authentic portraiture approach to art directing 60 talent alongside photographer Peggy Sirota, the lead up to the launch of the campaign was months of meticulous hard work for me, my design team, and our specially selected agency partners. </p>
            <p>The campaign’s barrier-breaking visual language fueled our first ever united portfolio Upfront event at Radio City Music Hall. I oversaw every aspect of the event art from custom emoji keyboard to dynamic video projection that literally flew off the stage and into the audience.</p>
        </div>
    </ResponsiveTextBlock>

    <TwoUp>
        <div class="image-column">
            <Image src={LeftA} alt="Pages from the NBCUniversal Reach Redefined magazine."/>
            <Image src={LeftB} alt="Promotional subway ads for the campaign."/>
        </div>
        <div class="image-column">
            <Image src={RightA} alt="Pages from the NBCUniversal Reach Redefined magazine."/>
            <Image src={RightB} alt="Ads for the campaign in the New York Times newspaper."/>
            <Image src={RightC} alt="Large subway wall ad for the campaign."/>
        </div>
    </TwoUp>


    <VimeoPlayer video="177130853" height="56.25%" class="padded rc" action="unpause"/>

    <div class="campaign-intro">
        Follow-up campaign I crafted and pitched with my in-house team
    </div>

    <OneUp src={Campaign} alt="An advertisement for the campaign featuring Kim Kardashian."/>

</ProjectLayout>

