---
const brand = "Nightingale"
const tagline = "Happier People, Healthier Pets"
const tags=[
    "Brand Identity + Positioning",
    "CX",
    "Logo Design",
    "Writing + Editing",
    "Video + Photography",
    "Surprise + Delight",
    "Product Design (UX/UI)",
]

import "@styles/utils.css";
import "@styles/nightingale.css";
import Image from "astro/components/Image.astro";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import Navigation from "@components/Navigation.astro";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import ResponsiveImage from "@components/ResponsiveImage.astro";
import ResponsiveBackground from "@components/ResponsiveBackground.astro";
import ResponsiveTextBlock from "@components/ResponsiveTextBlock.astro";

import Hero from "@assets/Nightingale/img/Nightingale-Hero.png";
import Logo from "@assets/Nightingale/img/Nightingale-Logo.png";
import Diagonals from "@assets/Nightingale/img/Nightingale-1.png";
import PortraitA from "@assets/Nightingale/img/portrait-1.png";
import PortraitB from "@assets/Nightingale/img/portrait-2.png";
import PortraitC from "@assets/Nightingale/img/portrait-3.png";
import PortraitD from "@assets/Nightingale/img/portrait-4.png";
import Palette from "@assets/Nightingale/img/color-palette.svg";
import SiteA from "@assets/Nightingale/img/Site-1.png";
import SiteB from "@assets/Nightingale/img/Site-2.png";
import SiteC from "@assets/Nightingale/img/Site-3.png";
import SiteD from "@assets/Nightingale/img/Site-4.png";
import SiteE from "@assets/Nightingale/img/Site-Mobile-1.png";
import SiteF from "@assets/Nightingale/img/Site-Mobile-2.png";
import SistinePup from "@assets/Nightingale/img/Nightingale-3.png";
import IconsA from "@assets/Nightingale/img/Nightingale-Icons-1.svg";
import IconsB from "@assets/Nightingale/img/Nightingale-Icons-2.svg";
import PitchDesktop from "@assets/Nightingale/img/Nightingale-4-desktop.png";
import PitchMobile from "@assets/Nightingale/img/Nightingale-4-mobile.png";

---

<ProjectLayout hero={Hero} brand={brand} tagline={tagline} tags={tags}>
        <div class="nv-logo">
            <Image src={Logo} widths={[2200]} alt=" " />
        </div>

        <ResponsiveTextBlock class="text-columns">
            <div>
                <h1>Nightingale Vets is on a mission to transform the veterinary field’s culture of burnout. </h1>
                <p>Just like Florence Nightingale envisioned a better hospital ward, Team Nightingale envisions a different kind of veterinary practice, one where each individual team member's happiness and wellbeing are just as important as their patients’.</p>
                <p>The Nightingale Veterinary Partners logo celebrates the heart and soul of the work their veterinary teams do everyday.</p>
            </div>
            <div>
                <p>It wasn’t hard for Team By Hart—a creative collective of pet parents themselves—to recognize that the unifying premise of every veterinary practice is love—the love that connects care teams, beloved pets, and their human families. It’s a shared compassion that brings us all together. The Nightingale visual identity reminds us that caring for animals is about more than medicine—it’s about nurturing a bond with every living creature.</p>
                <p>It was By Hart’s honor to support Nightingale Veterinary Partners in fostering a culture of care that extends to all beings—human and otherwise— and creating spaces where love leads, healing happens, and every life is cherished with professionalism and passion.</p>
            </div>
        </ResponsiveTextBlock>

        <div class="diagonals">
            <Image src={Diagonals} widths={[2200]} alt=" " />
        </div>

        <div class="portraits slideshow">
            <Image class="active" src={PortraitA} widths={[2200]} alt=" " />
            <Image src={PortraitB} widths={[2200]} alt=" " />
            <Image src={PortraitC} widths={[2200]} alt=" " />
            <Image src={PortraitD} widths={[2200]} alt=" " />
        </div>

        <div class="palette">
            <Image src={Palette} alt=" " />
        </div>

        <div class="site slideshow">
            <Image class="active" src={SiteA} alt=" " />
            <Image src={SiteB} alt=" " />
            <Image src={SiteC} alt=" " />
            <Image src={SiteD} alt=" " />
            <Image src={SiteE} alt=" " />
            <Image src={SiteF} alt=" " />
        </div>
        <Image src={SistinePup} widths={[2200]} alt=" " />

        <div class="icons">
            <Image src={IconsA} alt=" " />
            <Image src={IconsB} alt=" " />
        </div>


        <ResponsiveImage desktop={PitchDesktop} mobile={PitchMobile} />

</ProjectLayout>


<script>
    let dt = 0
    document.querySelectorAll('.slideshow').forEach(elt => {
        let slides = elt.querySelectorAll("img"),
            len = slides.length,
            idx = 0

        const advance = () => {
            idx++
            slides.forEach((img, i) => {
                img.classList.toggle('active', i==idx%len)
            })
        }

        setTimeout(() => setInterval(advance, 2000), dt)
        dt += 666
    })


</script>