---
import "../../styles/utils.css";
import InternalLayout from "@layouts/InternalLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import Image from "astro/components/Image.astro";
import Navigation from "@components/Navigation.astro";
import ProjectCarousel from "@components/ProjectCarousel.astro";
import FrontDesk from "@assets/PearlyBites/img/PearlyBites_FrontDesk.png";
import Bag from "@assets/PearlyBites/PearlyBites_Bag.mp4";
import BetterDental from "@assets/PearlyBites/img/PearlyBites_BetterDental.png";
import Site from "@assets/PearlyBites/img/PearlyBites_Site.png";
import ExamRoom from "@assets/PearlyBites/img/PearlyBites_ExamRoom.png";
import Interiors from "@assets/PearlyBites/img/PearlyBites_Interiors.png";
import SocialPages from "@assets/PearlyBites/img/PearlyBites_SocialPages.png";
import Tote from "@assets/PearlyBites/img/PearlyBites_Tote.png";
import Cards from "@assets/PearlyBites/img/PearlyBites_BusinessCards.jpg";
import SocialGrid from "@assets/PearlyBites/img/PearlyBites_SocialGrid.png";
import Stationary from "@assets/PearlyBites/img/PearlyBites_Stationary.png";
import Carousel from "@assets/PearlyBites/img/PearlyBites_SocialCarousel.png";
import Header from "@assets/PearlyBites/img/PearlyBites_Header.png";
---

<style>
  #pearly-main {
    width: 100%;
    background-color: var(--cream);
  }
  .image-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .image-flex > * {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
  }
  .textbox {
    text-align: center;
  }
  h1 {
    font-family: "Karla";
    font-weight: bold;
    font-size: 25px;
    color: #182241;
  }
  h2 {
    font-family: "Karla";
    font-size: 26px;
    font-weight: 700;
  }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 72px;
    }
    h2 {
      font-size: 36px;
    }
    .image-flex > * {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
</style>
<InternalLayout>
  <div id="pearly-main">
    <ProjectHead hero={Header} brand="Pearly Bites" tagline="Come. Sit. Smile." />
    <ProjectTags title="Pearly Bites" theme="light" tags={[
      "Brand Identity + Positioning",
      "Logo Design",
      "Art + Illustration",
      "Product Design (UX/UI)",
      "CX",
      "Interior Design",
      "Organic + Paid Social Content",
      "Writing + Editing",
      "Signage + Display",
      "Surprise + Delight",
    ]} />
    <div class="image-flex">
      <Image class="h-auto w-[92%]" src={FrontDesk} alt="Pearly Bites" />
      <div class="textbox">
        <h1>Your Pet's Teeth Cleaning<br /> Just Graduated</h1>
      </div>
      <div class="flex w-full justify-center items-center flex-col md:flex-row">
        <Image
          class="h-auto w-[58%] md:w-[45%] rounded-md"
          src={BetterDental}
          alt="Pearly Bites"
        />
        <video
          loop
          playsinline
          autoplay
          muted
          class="w-[58%] mt-[45px] h-auto md:mt-0 md:w-[45%]"
        >
          <source src={Bag} />
        </video>
      </div>
      <Image class="w-[90%] md:w-[73%] h-auto" src={Site} alt="Pearly Bites" />

      <div class="textbox">
        <h1>A Human Approach to Your <br />Pet's Dental Care</h1>
      </div>
      <Image class="w-full h-auto" src={ExamRoom} alt="Pearly Bites" />
      <h2>Interior renderings:</h2>
      <Image
        class="w-[90%] md:w-[73%] h-auto"
        src={Interiors}
        alt="Pearly Bites"
      />
      <h1>Turning Growls into Grins</h1>
      <Image
        class="h-auto w-[58%] md:w-[42%]"
        src={SocialPages}
        alt="Pearly Bites"
      />
      <Image class="h-auto w-[90%] md:w-[58%]" src={Tote} alt="Pearly Bites" />
      <Image class="h-auto w-full" src={Cards} alt="Pearly Bites" />
      <Image
        class="h-auto w-[90%] md:w-[58%]"
        src={SocialGrid}
        alt="Pearly Bites"
      />
      <div class="textbox">
        <h1>Teeth Cleanings without<br /> the Bite</h1>
      </div>
      <Image class="w-full h-auto" src={Stationary} alt="Pearly Bites" />
      <Image
        class="w-[90%] md:w-[73%] h-auto"
        src={Carousel}
        alt="Pearly Bites"
      />
    </div>
  </div>
  <ProjectCarousel name="Pearly Bites" />
</InternalLayout>
