---
const brand = "Pearly Bites";
const tagline = "Come. Sit. Smile.";
const tags = [
  "Brand Identity + Positioning",
  "Logo Design",
  "Art + Illustration",
  "Product Design (UX/UI)",
  "CX",
  "Interior Design",
  "Print + Packaging",
  "Organic + Paid Social Content",
  "Writing + Editing",
  "Signage + Display",
  "Surprise + Delight",
  "Visual Identity",
  "Theatrics",
];

import "@styles/utils.css";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import Image from "astro/components/Image.astro";
import Navigation from "@components/Navigation.astro";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import OneUp from "@components/OneUp.astro";

import Header from "@assets/PearlyBites/img/PearlyBites_Header_Desktop.png";
import HeaderMobile from "@assets/PearlyBites/img/PearlyBites_Header_Mobile.png";
import FrontDesk from "@assets/PearlyBites/img/PearlyBites_FrontDesk.png";
import Bag from "@assets/PearlyBites/PearlyBites_Bag.mp4";
import BetterDental from "@assets/PearlyBites/img/PearlyBites_BetterDental.png";
import Site from "@assets/PearlyBites/img/PearlyBites_Site.png";
import ExamRoom from "@assets/PearlyBites/img/PearlyBites_ExamRoom.png";
import InteriorLeft from "@assets/PearlyBites/img/PearlyBites_Interior_Left.png";
import InteriorRight from "@assets/PearlyBites/img/PearlyBites_Interior_Right.png";
import SocialPages from "@assets/PearlyBites/img/PearlyBites_SocialPages.png";
import Tote from "@assets/PearlyBites/img/PearlyBites_Tote.png";
import Cards from "@assets/PearlyBites/img/PearlyBites_BusinessCards.jpg";
import SocialGrid from "@assets/PearlyBites/img/PearlyBites_SocialGrid.png";
import Stationary from "@assets/PearlyBites/img/PearlyBites_Stationary.png";
import Carousel from "@assets/PearlyBites/img/PearlyBites_SocialCarousel.png";
import AltLogo from "@assets/PearlyBites/img/PearlyBites_AltLogo.png";
---

<style>
  .karla {
    font-family: "Karla", sans-serif;
    color: #182241;
  }
  .utile {
    font-family: "utile-display", sans-serif;
    color: #182241;
  }

  .vertical-spacing-container {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;

    @media (min-width: 768px) {
      margin-top: 120px;
      margin-bottom: 120px;
    }
  }

  .slogan {
    margin: 40px 20px;
    font:
      700 26px/1.2 "Karla",
      sans-serif;
    letter-spacing: -0.52px;
    text-align: center;

    @media (min-width: 768px) {
      margin: 120px 60px;
      font-size: 36px;
      letter-spacing: -0.72px;
    }
  }

  .two-up-copy {
    display: flex;
    --one-third-mobile: calc(100% * 1 / 3 - 2.5px);
    --two-thirds-mobile: calc(100% * 2 / 3 - 2.5px);
    --half-mobile: calc(50% - 2.5px);
    &.bias-left-mobile {
      img:first-child {
        width: var(--two-thirds-mobile);
      }
      img:last-child {
        width: var(--one-third-mobile);
      }
    }

    &.bias-right-mobile {
      img:first-child {
        width: var(--one-third-mobile);
      }
      img:last-child {
        width: var(--two-thirds-mobile);
      }
    }

    &.bias-center-mobile {
      img:first-child {
        width: var(--half-mobile);
      }
      img:last-child {
        width: var(--half-mobile);
      }
    }
    @media (min-width: 768px) {
      flex-flow: row nowrap;
      --one-third: calc(100% * 1 / 3 - 7.5px);
      --two-thirds: calc(100% * 2 / 3 - 7.5px);
      --half: calc(50% - 7.5px);

      &.bias-left {
        img:first-child {
          width: var(--two-thirds);
        }
        img:last-child {
          width: var(--one-third);
        }
      }

      &.bias-right {
        img:first-child {
          width: var(--one-third);
        }
        img:last-child {
          width: var(--two-thirds);
        }
      }

      &.bias-center {
        img:first-child {
          width: var(--half);
        }
        img:last-child {
          width: var(--half);
        }
      }
    }
  }
</style>
<ProjectLayout
  hero={Header}
  mobile={HeaderMobile}
  brand={brand}
  tagline={tagline}
  tags={tags}
>
  <Image
    class="vertical-spacing-container mx-auto max-w-[1320px] px-[20px]"
    src={FrontDesk}
    alt="Pearly Bites"
  />
  <div class="slogan">Your Pet's Teeth Cleaning Just Graduated</div>
  <div
    class="two-up-copy bias-center mx-auto my-[45px] max-w-[1320px] flex-col gap-[45px] px-[20px] md:my-[120px] md:flex-row md:gap-[15px]"
  >
    <Image
      class="rounded-md md:rounded-lg"
      src={BetterDental}
      alt="Pearly Bites"
    />
    <video
      loop
      playsinline
      autoplay
      muted
      class="w-full rounded-md md:w-[calc(50%-7.5px)] md:rounded-lg"
    >
      <source src={Bag} />
    </video>
  </div>

  <OneUp src={Site} class="spaced" max="1040px" alt="Pearly Bites" />

  <Image class="vertical-spacing-container" src={ExamRoom} alt="Pearly Bites" />

  <section class="spaced">
    <h1 style="margin-bottom:0;">Interior refresh renderings</h1>
  </section>

  <div
    class="two-up-copy bias-left mx-auto my-[45px] max-w-[1320px] flex-col gap-[45px] px-[20px] md:my-[120px] md:flex-row md:gap-[15px]"
  >
    <Image
      class="rounded-md md:rounded-lg"
      src={InteriorLeft}
      alt="Pearly Bites"
    />

    <Image
      class="rounded-md md:rounded-lg"
      src={InteriorRight}
      alt="Pearly Bites"
    />
  </div>
  <div class="slogan">Turning Growls into Grins</div>

  <OneUp src={SocialPages} class="spaced" max="840px" alt="Pearly Bites" />
  <OneUp src={Tote} class="spaced" max="840px" alt="Pearly Bites" />

  <Image
    class="vertical-spacing-container h-auto w-full"
    src={Cards}
    alt="Pearly Bites"
  />

  <OneUp src={SocialGrid} class="spaced" max="840px" alt="Pearly Bites" />

  <div class="slogan">Teeth Cleanings without the Bite</div>

  <Image
    class="vertical-spacing-container h-auto w-full"
    src={Stationary}
    alt="Pearly Bites"
  />

  <OneUp src={Carousel} class="spaced" max="1040px" alt="Pearly Bites" />
  <div
    class="karla vertical-spacing-container text-center text-[18px] font-bold tracking-[.18em]"
  >
    ALT LOGO CONCEPT
  </div>
  <Image
    class="vertical-spacing-container mx-auto w-full max-w-[840px] px-[20px]"
    src={AltLogo}
    alt=""
  />
</ProjectLayout>
