---
const brand = "Sage";
const tagline = "Healing is Always Possible";
const tags = [
  "Brand Identity + Positioning",
  "Logo Design",
  "Art + Illustration",
  "Product Design (UX/UI)",
  "Organic + Paid Social Content",
  "Interviews",
  "Writing + Editing",
  "Qualitative Research",
  "Surprise + Delight",
];

import "@styles/utils.css";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import ProjectTags from "@components/ProjectTags.astro";
import Image from "astro/components/Image.astro";
import Navigation from "@components/Navigation.astro";
import ProjectLayout from "@layouts/ProjectLayout.astro";

import SageHeroVideo from "@assets/Sage/Sage_Hero_Desktop.mp4";
import SageHeroVideoMobile from "@assets/Sage/Hero_Sage_M_Full-Bleed.mp4";
import SageHeroImage from "@assets/Sage/img/Hero.jpg";
import BreatheVideo from "@assets/Sage/Breathe_Desktop.mp4";
import WeAreVideo from "@assets/Sage/We_Are_Desktop.mp4";
import WeAreMobile from "@assets/Sage/We_Are_Mobile.mp4";
import SocialVideo from "@assets/Sage/Social_Carousel.mp4";
import CompVideo from "@assets/Sage/Comp_1.mp4";
import StoryVideo from "@assets/Sage/Story_Social_2.mp4";
import SageStorySocial1 from "@assets/Sage/img/Story_Social_1.png";
import SageStorySocial3 from "@assets/Sage/img/Story_Social_3.png";
import SagePhoto from "@assets/Sage/img/Sage_Photo.png";
import SageSiteDesktop from "@assets/Sage/img/Sage_Site_Desktop.png";
import SageSiteMobile from "@assets/Sage/img/Sage_Site_Mobile.png";
import SageSocial1 from "@assets/Sage/img/Sage_Social_1.png";
import SageSocial2 from "@assets/Sage/img/Sage_Social_2.png";
import SageGraphic1 from "@assets/Sage/img/Sage_Graphic_1.png";
import SageGraphic2 from "@assets/Sage/img/Sage_Graphic_2.png";
import SageIcon1 from "@assets/Sage/img/Sage_Graphic_Icon1.png";
import SageIcon2 from "@assets/Sage/img/Sage_Graphic_Icon2.png";
import SageQuote from "@assets/Sage/img/Sage_Quote.png";
import SageBrochure1 from "@assets/Sage/img/Sage_Brochure_1.png";
import SageBrochure2 from "@assets/Sage/img/Sage_Brochure_2.png";
import SageBusiness from "@assets/Sage/img/Sage_Business.png";
import SageBrandGuideGrid1 from "@assets/Sage/img/Sage_Brand_Guide_Grid_01.png";
import SageBrandGuideGrid2 from "@assets/Sage/img/Sage_Brand_Guide_Grid_02.png";
import SageBrandGuideGrid3 from "@assets/Sage/img/Sage_Brand_Guide_Grid_03.png";
import SageBrandGuideGrid4 from "@assets/Sage/img/Sage_Brand_Guide_Grid_04.png";
import SageBrandGuideGrid5 from "@assets/Sage/img/Sage_Brand_Guide_Grid_05.png";
import SageBrandGuideGrid6 from "@assets/Sage/img/Sage_Brand_Guide_Grid_06.png";
import SageBrandGuideGrid7 from "@assets/Sage/img/Sage_Brand_Guide_Grid_07.png";
import SageBrandGuideGrid8 from "@assets/Sage/img/Sage_Brand_Guide_Grid_08.png";
import SageBrandGuideGrid9 from "@assets/Sage/img/Sage_Brand_Guide_Grid_09.png";
import SageBrandGuideGrid10 from "@assets/Sage/img/Sage_Brand_Guide_Grid_10.png";
import SageBrandGuideGrid11 from "@assets/Sage/img/Sage_Brand_Guide_Grid_11.png";
import SageBrandGuideGrid12 from "@assets/Sage/img/Sage_Brand_Guide_Grid_12.png";
import SageBrandGuideGrid13 from "@assets/Sage/img/Sage_Brand_Guide_Grid_13.png";
import SageBrandGuideGrid14 from "@assets/Sage/img/Sage_Brand_Guide_Grid_14.png";
import ProjectHead from "@components/ProjectHead.astro";
import ResponsiveImage from "@components/ResponsiveImage.astro";
---

<style>
  .karla {
    font-family: "Karla", sans-serif;
  }
</style>
<ProjectLayout
  hero={SageHeroVideo}
  mobile={SageHeroVideoMobile}
  preview={SageHeroImage}
  brand={brand}
  tagline={tagline}
  tags={tags}
>
  <Image
    class="w-full h-auto px-[20px] md:px-[60px] my-[45px] md:my-[120px]"
    src={SagePhoto}
    alt="Sage Collage"
  />
  <div
    class="w-full grid grid-cols-1 md:grid-cols-2 gap-[40px] px-[45px] md:px-[100px] w-full px-[25px] lg:px-[300px] karla text-[#363131] leading-[26px]"
  >
    <div>
      <h1
        class="text-[26px] md:text-[36px] font-bold leading-[38px] md:leading-[43px]"
      >
        Sage Integrative Health is a haven for people to dig, discover, and
        reveal.
      </h1>
      <br />
      <p>
        We believe healing is a deeply personal journey that requires a
        multifaceted and highly individualized approach. We do hard work with
        people who have lived through hard things. We respect clients, earn
        their trust, and let them lead their own way to mental, physical, and
        emotional wellness via our comprehensive mind-body approach.
      </p>
      <br />
      <p>
        Our practice is built on clinically proven therapies—both traditional
        and emerging, Western and Eastern, innovative and of the Earth—multiple
        therapies working in concert, all in service of our clients’ safety,
        comfort and well-being.
      </p>
      <br />
      <p>
        As a team and as individuals, we are passionately curious, always eager
        to expand our understandings of the human spirit. We guide, grow and
        learn together.
      </p>
    </div>
    <div>
      <p>
        Our mission is facilitating self-actualization: Leading a life of
        courage, confidence, and compassion. But first, we meet everyone exactly
        where they are and let them breathe and be.
      </p>
      <br />
      <p>
        We are trauma-informed and sensitive, living in the real world, and
        recognizing that individual struggle doesn't exist in a vacuum. We are
        not afraid to address and confront complex inequities. We are
        sympathetic and empathic to how mental health and identity intersect, as
        many of us are trauma survivors or carry marginalized identities. Like
        our clients, we also have needed to cultivate resilience, learning to
        live fully and flourish through anything that may come in present or
        future times.
      </p>
      <br />
      <p>
        Ultimately, we wholeheartedly believe in the power of
        interconnectedness: with each other, the world, and the universe at
        large. Like our namesake herb, we aspire to bloom—in sunlight or in
        shade—while staying grounded and then, just by existing, enrich the soil
        around us so more growth can sprout.
      </p>
    </div>
  </div>
  <ResponsiveImage
    class="h-auto"
    imgClass="w-[60%] mx-auto rounded-[20px] md:rounded-md my-11"
    mobile={SageSiteMobile}
    desktop={SageSiteDesktop}
    alt="Sage Site"
  />

  <div
    class="w-full flex flex-row px-[20px] md:px-[60px] gap-[5px] md:gap-[15px] my-[45px] md:my-[120px]"
  >
    <Image
      class="w-1/2 h-auto rounded-sm md:rounded-md"
      src={SageSocial1}
      alt="Sage Social 1"
    />
    <Image
      class="w-1/2 h-auto rounded-sm md:rounded-md"
      src={SageSocial2}
      alt="Sage Social 2"
    />
  </div>
  <video autoplay playsinline loop muted class="w-full mb-[45px] md:mb-[120px]">
    <source src={BreatheVideo} type="video/mp4" />
  </video>
  <div
    class="w-full flex flex-row px-[20px] md:px-[60px] gap-[5px] md:gap-[15px] my-[45px] md:my-[120px]"
  >
    <Image class="w-1/2 h-auto rounded" src={SageIcon1} alt="Sage Icon 1" />
    <Image class="w-1/2 h-auto rounded" src={SageIcon2} alt="Sage Icon 2" />
  </div>

  <div
    class="flex flex-row px-[20px] md:px-[60px] my-[45px] md:my-[120px] gap-[5px] md:gap-[15px]"
  >
    <Image
      src={SageStorySocial1}
      class="h-auto w-[33%] rounded-lg"
      alt="Sage Story Social 1"
    />
    <video class="h-auto w-[33%] rounded-lg" autoplay playsinline loop muted>
      <source src={StoryVideo} type="video/mp4" />
    </video>
    <Image
      src={SageStorySocial3}
      class="h-auto w-[33%] rounded-lg"
      alt="Sage Story Social 3"
    />
  </div>
  <video
    autoplay
    playsinline
    loop
    muted
    class="w-full my-[45px] md:my-[120px] hidden md:block"
  >
    <source src={WeAreVideo} type="video/mp4" />
  </video>
  <video
    autoplay
    playsinline
    loop
    muted
    class="w-full my-[45px] md:my-[120px] block md:hidden"
  >
    <source src={WeAreMobile} type="video/mp4" />
  </video>
  <div
    class="w-full flex flex-row px-[20px] md:px-[60px] my-[45px] md:my-[120px] gap-[5px] md:gap-[15px]"
  >
    <Image
      class="w-[50%] h-auto rounded"
      src={SageGraphic1}
      alt="Sage Graphic 1"
    />
    <Image
      class="w-[50%] h-auto rounded"
      src={SageGraphic2}
      alt="Sage Graphic 2"
    />
  </div>
  <div class="w-full flex flex-row">
    <Image class="h-auto w-1/2" src={SageQuote} alt="Sage Quote" />
    <video autoplay playsinline loop muted class="w-1/2">
      <source src={SocialVideo} type="video/mp4" />
    </video>
  </div>
  <div
    class="w-full flex flex-col py-[45px] md:py-[120px] gap-[4px] md:gap-[32px] px-[20px] md:px-[200px] bg-[#1f3333]"
  >
    <Image class="h-auto w-full" src={SageBrochure1} alt="Sage Brochure 1" />
    <Image class="h-auto w-full" src={SageBrochure2} alt="Sage Brochure 2" />
  </div>
  <video autoplay loop playsinline muted class="w-full">
    <source src={CompVideo} type="video/mp4" />
  </video>
  <Image class="h-auto w-full" src={SageBusiness} alt="Sage Quote" />
  <div class="bg-[#242121]">
    <div class="karla text-[#F7F4ED] py-[30px] pl-[20px] md:pl-[30px]">
      <p class="font-bold tracking-widest inline-block">SAGE</p>
      <p class="inline-block ml-[20px]">A glimpse at the brand guide</p>
    </div>
    <div
      class="grid grid-cols-2 gap-[5px] md:gap-[15px] px-[20px] md:px-[45px]"
    >
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid1}
        alt="Sage Brand Guide Grid 1"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid4}
        alt="Sage Brand Guide Grid 4"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid3}
        alt="Sage Brand Guide Grid 3"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid5}
        alt="Sage Brand Guide Grid 5"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid6}
        alt="Sage Brand Guide Grid 6"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid7}
        alt="Sage Brand Guide Grid 7"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid2}
        alt="Sage Brand Guide Grid 2"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid8}
        alt="Sage Brand Guide Grid 8"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid9}
        alt="Sage Brand Guide Grid 9"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid10}
        alt="Sage Brand Guide Grid 10"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid11}
        alt="Sage Brand Guide Grid 11"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid12}
        alt="Sage Brand Guide Grid 12"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid13}
        alt="Sage Brand Guide Grid 13"
      />
      <Image
        class="w-full h-auto rounded"
        src={SageBrandGuideGrid14}
        alt="Sage Brand Guide Grid 14"
      />
    </div>
  </div>
</ProjectLayout>
