---
const brand = "6 Feet From You";
const tagline = "Stick with Us";
const tags = [
  "Brand Identity + Positioning",
  "Logo Design",
  "Video + Photography",
  "Art + Illustration",
  "Original Naming",
  "Physical Goods Development + Design",
  "Print + Packaging",
  "Writing + Editing",
  "Signage + Display",
  "Surprise + Delight",
  "Visual Identity",
];

import "@styles/utils.css";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import Image from "astro/components/Image.astro";
import Navigation from "@components/Navigation.astro";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";

import Header from "@assets/SixFeet/6ft_header.gif";
import HeaderMobile from "@assets/SixFeet/6ft_header_mobile.gif";
import MaskGang from "@assets/SixFeet/img/6ft_MaskGang.png";
import HotMask from "@assets/SixFeet/img/6ft_YourMaskisHot.png";
import SixFeetApart from "@assets/SixFeet/img/6ft_SixFeetApart.png";
import Together from "@assets/SixFeet/img/6ft_TogetherAtHeart.png";
import RainbowSticker from "@assets/SixFeet/6ft_RainbowStickers.gif";
import Store from "@assets/SixFeet/img/6ft_Store.png";
import Pile from "@assets/SixFeet/img/6ft_SocialDistancingPile.png";
import Floor from "@assets/SixFeet/img/6ft_SocialDistancingClubFloor.png";
import Wedding from "@assets/SixFeet/img/6ft_Wedding.png";
import Windows from "@assets/SixFeet/img/6ft_Windows.png";
import FunFacts from "@assets/SixFeet/6ft_FunFacts.gif";
import Backpack from "@assets/SixFeet/img/6ft_Backpack.png";
import Slider1 from "@assets/SixFeet/Ticker/1.png";
import Slider2 from "@assets/SixFeet/Ticker/2.png";
import Slider3 from "@assets/SixFeet/Ticker/3.png";
import Slider4 from "@assets/SixFeet/Ticker/4.png";
import Slider5 from "@assets/SixFeet/Ticker/5.png";
import Slider6 from "@assets/SixFeet/Ticker/6.png";
import Slider7 from "@assets/SixFeet/Ticker/7.png";
import Slider8 from "@assets/SixFeet/Ticker/8.png";
import Slider9 from "@assets/SixFeet/Ticker/9.png";
import Slider10 from "@assets/SixFeet/Ticker/10.png";
---

<style>
  h2 {
    font-family: "Karla";
    font-size: 26px;
  }
  .carousel-container {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .slider {
    height: 100%;
    margin: auto;
    position: relative;
    width: 100%;
  }
  .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    gap: 100px;
  }
  .slide {
    width: 250px;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 14));
    }
  }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 36px;
    }
  }
</style>
<ProjectLayout
  hero={Header}
  mobile={HeaderMobile}
  brand={brand}
  tagline={tagline}
  tags={tags}
  theme="dark"
>
  <Image class="w-full" src={MaskGang} alt="Six Feet" />
  <h2 class="w-full px-[25px] md:px-[200px] my-[45px] md:my-[120px]">
    Directing physical product concept and design + brand presentation for a new
    line of social distancing products.
  </h2>
  <Image
    class="w-full px-[20px] md:px-[60px] my-[45px] md:my-[120px] rounded-md md:rounded-lg"
    src={HotMask}
    alt="Six Feet"
  />
  <div class="carousel-container my-[45px] md:my-[120px]">
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <Image
            src={Slider1}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider2}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider3}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider4}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider5}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider6}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider7}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider8}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider9}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider10}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider1}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider2}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider3}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider4}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
        <div class="slide">
          <Image
            src={Slider5}
            alt="Six Feet"
            class="h-auto w-[250px] max-w-none"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex flex-row w-full my-[45px] md:my-[120px] px-[20px] md:px-[60px] gap-[10px] md:gap-[40px]"
  >
    <Image
      class="w-1/2 h-auto rounded-md md:rounded-lg"
      src={SixFeetApart}
      alt="Six Feet"
    />
    <Image
      class="w-1/2 h-auto rounded-md md:rounded-lg"
      src={Together}
      alt="Six Feet"
    />
  </div>
  <Image
    class="w-full px-[77px] md:px-[300px] my-[45px] md:my-[120px]"
    src={RainbowSticker}
    format="gif"
    alt="Six Feet"
  />
  <div
    class="flex flex-row w-full px-[20px] md:px-[60px] gap-[10px] md:gap-[40px] my-[45px] md:my-[120px]"
  >
    <Image
      class="w-1/3 h-auto rounded-md md:rounded-lg"
      src={Store}
      alt="Six Feet"
    />
    <Image
      class="w-1/3 h-auto rounded-md md:rounded-lg"
      src={Pile}
      alt="Six Feet"
    />
    <Image
      class="w-1/3 h-auto rounded-md md:rounded-lg"
      src={Floor}
      alt="Six Feet"
    />
  </div>
  <Image
    class="w-full h-auto my-[45px] md:my-[120px]"
    src={Wedding}
    alt="Six Feet"
  />
  <div class="px-[20px] md:px-[200px]">
    <Image
      class="w-full h-auto my-[45px] md:my-[120px] rounded-md md:rounded-lg"
      src={Windows}
      alt="Six Feet"
    />
  </div>
  <div
    class="flex flex-row w-full px-[20px] md:px-[60px] my-[45px] md:my-[120px]"
  >
    <Image class="w-1/2 h-auto p-[5%]" src={FunFacts} alt="Six Feet" />
    <Image
      class="w-1/2 h-auto rounded-md md:rounded-lg"
      src={Backpack}
      alt="Six Feet"
    />
  </div>
</ProjectLayout>
