---
const brand = "6 Feet From You";
const tagline = "Stick with Us";
const tags = [
  "Brand Identity + Positioning",
  "Logo Design",
  "Video + Photography",
  "Art + Illustration",
  "Original Naming",
  "Physical Goods Development + Design",
  "Print + Packaging",
  "Writing + Editing",
  "Signage + Display",
  "Surprise + Delight",
  "Visual Identity",
];

import "@styles/utils.css";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import Image from "astro/components/Image.astro";
import Navigation from "@components/Navigation.astro";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";

import Header from "@assets/SixFeet/6ft_header.gif";
import HeaderMobile from "@assets/SixFeet/6ft_header_mobile.gif";
import MaskGang from "@assets/SixFeet/img/6ft_MaskGang.png";
import HotMask from "@assets/SixFeet/img/6ft_YourMaskisHot.png";
import SixFeetApart from "@assets/SixFeet/img/6ft_SixFeetApart.png";
import Together from "@assets/SixFeet/img/6ft_TogetherAtHeart.png";
import RainbowSticker from "@assets/SixFeet/6ft_RainbowStickers.gif";
import Store from "@assets/SixFeet/img/6ft_Store.png";
import Pile from "@assets/SixFeet/img/6ft_SocialDistancingPile.png";
import Floor from "@assets/SixFeet/img/6ft_SocialDistancingClubFloor.png";
import Wedding from "@assets/SixFeet/img/6ft_Wedding.png";
import Windows from "@assets/SixFeet/img/6ft_Windows.png";
import FunFacts from "@assets/SixFeet/6ft_FunFacts.gif";
import Backpack from "@assets/SixFeet/img/6ft_Backpack.png";
import Slider1 from "@assets/SixFeet/Ticker/1.png";
import Slider2 from "@assets/SixFeet/Ticker/2.png";
import Slider3 from "@assets/SixFeet/Ticker/3.png";
import Slider4 from "@assets/SixFeet/Ticker/4.png";
import Slider5 from "@assets/SixFeet/Ticker/5.png";
import Slider6 from "@assets/SixFeet/Ticker/6.png";
import Slider7 from "@assets/SixFeet/Ticker/7.png";
import Slider8 from "@assets/SixFeet/Ticker/8.png";
import Slider9 from "@assets/SixFeet/Ticker/9.png";
import Slider10 from "@assets/SixFeet/Ticker/10.png";
---

<style>
  h2 {
    font-family: "Karla";
    font-size: 26px;
  }
  .carousel-container {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .slider {
    height: 100%;
    margin: auto;
    position: relative;
    width: 100%;
  }
  .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    gap: 100px;
  }
  .slide {
    width: 250px;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 14));
    }
  }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 36px;
    }
  }

  .vertical-spacing-container {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;

    @media (min-width: 768px) {
      margin-top: 120px;
      margin-bottom: 120px;
    }
  }

  .two-up-copy {
    display: flex;
    --one-third-mobile: calc(100% * 1 / 3 - 5px);
    --two-thirds-mobile: calc(100% * 2 / 3 - 5px);
    --half-mobile: calc(50% - 5px);
    &.bias-left-mobile {
      img:first-child {
        width: var(--two-thirds-mobile);
      }
      img:last-child {
        width: var(--one-third-mobile);
      }
    }

    &.bias-right-mobile {
      img:first-child {
        width: var(--one-third-mobile);
      }
      img:last-child {
        width: var(--two-thirds-mobile);
      }
    }

    &.bias-center-mobile {
      img:first-child {
        width: var(--half-mobile);
      }
      img:last-child {
        width: var(--half-mobile);
      }
    }
    @media (min-width: 768px) {
      flex-flow: row nowrap;
      --one-third: calc(100% * 1 / 3 - 7.5px);
      --two-thirds: calc(100% * 2 / 3 - 7.5px);
      --half: calc(50% - 7.5px);

      &.bias-left {
        img:first-child {
          width: var(--two-thirds);
        }
        img:last-child {
          width: var(--one-third);
        }
      }

      &.bias-right {
        img:first-child {
          width: var(--one-third);
        }
        img:last-child {
          width: var(--two-thirds);
        }
      }

      &.bias-center {
        img:first-child {
          width: var(--half);
        }
        img:last-child {
          width: var(--half);
        }
      }
    }
  }
</style>
<ProjectLayout hero={Header} mobile={HeaderMobile} brand={brand} tagline={tagline} tags={tags} theme="dark">
  <Image class="w-full" src={MaskGang} alt="Animal heads on human bodies wearing face masks and walking in a line." />
  <h2 class="vertical-spacing-container px-[25px] md:px-[200px]">
    We conceived of, crafted, and oversaw every aspect of production quality of a new line of premium social distancing
    stickers designed to spark a smile under your mask.
  </h2>
  <div class="vertical-spacing-container mx-auto max-w-[1320px] px-[20px]">
    <Image
      class="rounded-md md:rounded-lg"
      src={HotMask}
      alt="A person in a store reaches down to get something. On the floor under them is a sticker that says Your mask is hot. Thank you for keeping us safe."
    />
  </div>
  <div class="carousel-container my-[45px] md:my-[120px]">
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <Image src={Slider1} alt="Way to wait. Thank you for social distancing." />
        </div>
        <div class="slide">
          <Image src={Slider2} alt="So close. Thank you for wearing a mask." />
        </div>
        <div class="slide">
          <Image src={Slider3} alt="You have arrived. Thank you for taking care of each other." />
        </div>
        <div class="slide">
          <Image src={Slider4} alt="Your mask is hot. Thank you for keeping us safe." />
        </div>
        <div class="slide">
          <Image src={Slider5} alt="Almost there. Thank you for standing 6 feet apart." />
        </div>
        <div class="slide">
          <Image src={Slider6} alt="Please wait here. Thank you for social distancing." />
        </div>
        <div class="slide">
          <Image src={Slider7} alt="Role model. Thank you for wearing a mask." />
        </div>
        <div class="slide">
          <Image src={Slider8} alt="Stand back to stand up. Thank you for taking care of each other." />
        </div>
        <div class="slide">
          <Image src={Slider9} alt="You're gonna make it. Thank you for standing 6 feet apart." />
        </div>
        <div class="slide">
          <Image src={Slider10} alt="Never give up. Thank you for keeping us safe." />
        </div>
        <div class="slide">
          <Image
            src={Slider1}
            class="h-auto w-[250px] max-w-none"
            alt="Way to wait. Thank you for social distancing."
          />
        </div>
        <div class="slide">
          <Image src={Slider2} class="h-auto w-[250px] max-w-none" alt="So close. Thank you for wearing a mask." />
        </div>
        <div class="slide">
          <Image
            src={Slider3}
            class="h-auto w-[250px] max-w-none"
            alt="You have arrived. Thank you for taking care of each other."
          />
        </div>
        <div class="slide">
          <Image
            src={Slider4}
            class="h-auto w-[250px] max-w-none"
            alt="Your mask is hot. Thank you for keeping us safe."
          />
        </div>
        <div class="slide">
          <Image
            src={Slider5}
            class="h-auto w-[250px] max-w-none"
            alt="Almost there. Thank you for standing 6 feet apart."
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="two-up-copy bias-center bias-center-mobile mx-auto my-[45px] max-w-[1320px] flex-row gap-[10px] px-[20px] md:my-[120px] md:gap-[15px]"
  >
    <Image
      class="rounded-md md:rounded-lg"
      src={SixFeetApart}
      alt="A person standing in front of a floor sticker on the floor that says Six Feet Apart."
    />
    <Image
      class="rounded-md md:rounded-lg"
      src={Together}
      alt="A person standing in front of a floor sticker that says Together at heart. 6 feet apart"
    />
  </div>
  <Image
    class="my-[45px] w-full px-[77px] md:my-[120px] md:px-[300px]"
    src={RainbowSticker}
    format="gif"
    alt="A circle of stickers that are all different colors. They all say Wait here. Stay six feet apart. Repeat"
  />
  <div
    class="vertical-spacing-container mx-auto flex max-w-[1320px] flex-row justify-center gap-[5px] px-[20px] md:gap-[15px] md:px-[35px]"
  >
    <Image
      class="h-auto w-1/3 rounded-md md:rounded-lg"
      src={Store}
      alt="The interior of a cafe. Stickers on the floor are visible"
    />
    <Image
      class="h-auto w-1/3 rounded-md md:rounded-lg"
      src={Pile}
      alt="A pile of stickers that all promote social distancing and wearing masks."
    />
    <Image
      class="h-auto w-1/3 rounded-md md:rounded-lg"
      src={Floor}
      alt="Only the shoes are visible of a person in front of a sticker that says Social distancing club. 2020-202X?"
    />
  </div>
  <Image
    class="vertical-spacing-container"
    src={Wedding}
    alt="The shoes and legs of a couple at their wedding in front of a floor sticker that says Together at heart. 6 feet apart Thank you"
  />
  <div class="vertical-spacing-container mx-auto max-w-[1040px] px-[20px]">
    <Image
      class="rounded-md md:rounded-lg"
      src={Windows}
      alt="A storefront. Stickers on the ground outside promote social distancing and a sticker on the window of the store promotes mask wearing."
    />
  </div>
  <div
    class="two-up-copy bias-center bias-center-mobile mx-auto my-[45px] max-w-[1320px] flex-row gap-[10px] px-[20px] md:my-[120px] md:gap-[15px]"
  >
    <Image
      class="p-[5%]"
      src={FunFacts}
      alt="A looped animation of floor sticker designs. This series of stickers all include a fun fact"
    />
    <Image
      class="rounded-md md:rounded-lg"
      src={Backpack}
      alt="A person holding a backpack next to a floor sticker with a fun fact on it."
    />
  </div>
</ProjectLayout>
