---
import "../../styles/utils.css";
import InternalLayout from "@layouts/InternalLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ScrollImage from "@components/ScrollImage.astro";
import Image from "astro/components/Image.astro";
import Navigation from "@components/Navigation.astro";
import ProjectCarousel from "@components/ProjectCarousel.astro";
import Header from "@assets/SixFeet/6ft_Header.mp4";
import MaskGang from "@assets/SixFeet/img/6ft_MaskGang.png";
import HotMask from "@assets/SixFeet/img/6ft_YourMaskisHot.png";
import SixFeet from "@assets/SixFeet/img/6ft_SixFeetApart.png";
import Together from "@assets/SixFeet/img/6ft_TogetherAtHeart.png";
import RainbowSticker from "@assets/SixFeet/6ft_RainbowStickers.gif";
import Store from "@assets/SixFeet/img/6ft_Store.png";
import Pile from "@assets/SixFeet/img/6ft_SocialDistancingPile.png";
import Floor from "@assets/SixFeet/img/6ft_SocialDistancingClubFloor.png";
import Wedding from "@assets/SixFeet/img/6ft_Wedding.png";
import Windows from "@assets/SixFeet/img/6ft_Windows.png";
import FunFacts from "@assets/SixFeet/6ft_FunFacts.gif";
import Backpack from "@assets/SixFeet/img/6ft_Backpack.png";
import Slider1 from "@assets/SixFeet/Ticker/1.png";
import Slider2 from "@assets/SixFeet/Ticker/2.png";
import Slider3 from "@assets/SixFeet/Ticker/3.png";
import Slider4 from "@assets/SixFeet/Ticker/4.png";
import Slider5 from "@assets/SixFeet/Ticker/5.png";
import Slider6 from "@assets/SixFeet/Ticker/6.png";
import Slider7 from "@assets/SixFeet/Ticker/7.png";
import Slider8 from "@assets/SixFeet/Ticker/8.png";
import Slider9 from "@assets/SixFeet/Ticker/9.png";
import Slider10 from "@assets/SixFeet/Ticker/10.png";
---

<style>
  #sixfeet-main {
    width: 100%;
    position: relative;
    background-color: var(--cream);
  }
  .image-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .image-flex > * {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
  }
  h2 {
    font-family: "Karla";
    font-size: 26px;
  }
  .carousel-container {
    align-items: center;
    /* background: #e3e3e3; */
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
  }
  .slider {
    /* background: white; */
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    gap: 100px;
    /* width: calc(250px * 8); */
  }
  .slide {
    height: 100px;
    width: 250px;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 14));
    }
  }
  @media screen and (min-width: 768px) {
    .image-flex > * {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    h2 {
      font-size: 36px;
    }
  }
</style>
<InternalLayout>
  <div id="sixfeet-main">
    <ScrollImage hero={Header} brand="Six Feet" tagline="Stick with Us" />
    <ProjectTags title="6 Feet From You" theme="light" tags={[
      "Brand Identity + Positioning",
      "Logo Design",
      "Video + Photography",
      "Art + Illustration",
      "Original Naming",
      "Physical Goods Development + Design",
      "Writing + Editing",
      "Signage + Display",
      "Surprise + Delight",
    ]} />
    <div class="image-flex">
      <Image class="w-[89%] md:w-[92%]" src={MaskGang} alt="Six Feet" />
      <h2 class="w-[90%] md:w-[60%]">
        Directing physical product concept and design + brand presentation for a
        new line of social distancing products.
      </h2>
      <Image class="w-[89%] md:w-[92%]" src={HotMask} alt="Six Feet" />
      <div class="carousel-container">
        <div class="slider">
          <div class="slide-track">
            <div class="slide">
              <Image
                src={Slider1}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider2}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider3}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider4}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider5}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider6}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider7}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider8}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider9}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider10}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider1}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider2}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider3}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider4}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
            <div class="slide">
              <Image
                src={Slider5}
                alt="Six Feet"
                class="h-auto w-[250px] max-w-none"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-between w-[95%]">
        <Image
          class="w-1/2 p-[5px] h-auto md:p-[20px]"
          src={SixFeet}
          alt="Six Feet"
        />
        <Image
          class="w-1/2 p-[5px] h-auto md:p-[20px]"
          src={Together}
          alt="Six Feet"
        />
      </div>
      <Image class="w-[60%]" src={RainbowSticker} alt="Six Feet" />
      <div class="flex justify-between w-[95%]">
        <Image
          class="w-1/3 p-[5px] h-auto md:p-[20px]"
          src={Store}
          alt="Six Feet"
        />
        <Image
          class="w-1/3 p-[5px] h-auto md:p-[20px]"
          src={Pile}
          alt="Six Feet"
        />
        <Image
          class="w-1/3 p-[5px] h-auto md:p-[20px]"
          src={Floor}
          alt="Six Feet"
        />
      </div>
      <Image class="w-full h-auto" src={Wedding} alt="Six Feet" />
      <Image class="w-[95%] h-auto" src={Windows} alt="Six Feet" />
      <div class="flex w-[95%]">
        <Image
          class="w-1/2 h-auto p-[20px] md:p-[100px]"
          src={FunFacts}
          alt="Six Feet"
        />
        <Image class="w-1/2 h-auto" src={Backpack} alt="Six Feet" />
      </div>
    </div>
  </div>
  <ProjectCarousel name="6 Feet Apart" />
</InternalLayout>
