---
const brand = "Wizehire"
const tagline = "Meet Yours"
const tags = [
    'Brand Identity + Positioning',
    'Logo Design',
    'Video + Photography',
    'Art + Illustration',
    'Product Design (UX/UI)',
    'CX',
    'Organic + Paid Social Content',
    'Interviews',
    'Writing + Editing',
    'Signage + Display',
    'Surprise + Delight',
    'Visual Identity',
    'Theatrics'
]

import "@styles/utils.css";
import "@styles/wizehire.css";
import Image from "astro/components/Image.astro";
import ProjectLayout from "@layouts/ProjectLayout.astro";
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import OneUp from "@components/OneUp.astro";
import TwoUp from "@components/TwoUp.astro";
import Navigation from "@components/Navigation.astro";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";
import ResponsiveImage from "@components/ResponsiveImage.astro";
import ResponsiveBackground from "@components/ResponsiveBackground.astro";
import ResponsiveTextBlock from "@components/ResponsiveTextBlock.astro";
import VimeoPlayer from "@components/VimeoPlayer.astro";

import HeroDesktop from "@assets/Wizehire/hero_wizehire_16x9 (1080p).mp4"
import HeroMobile from "@assets/Wizehire/hero_wizehire_5x4 (1080p).mp4"
import HeroImage from "@assets/Wizehire/img/01_HeroPreview.jpg"
import PalettesAdA from "@assets/Wizehire/05_Wizehire_sillhoutte-ad.mp4"
import PalettesAdB from "@assets/Wizehire/06_Wizehire_sillhouttes-outro_1.mp4"
import PalettesAdC from "@assets/Wizehire/07_wizehire_sillhouttes (1440p).mp4"
// import Vid from "@assets/Wizehire/10_Wizehire_Animation.mp4"
// import Vid from "@assets/Wizehire/13_wizehire_ad_1080x1080 (1080p).mp4"
// import Vid from "@assets/Wizehire/14_wizehire_ad_1080x1080 (1080p).mp4"
// import Vid from "@assets/Wizehire/16_wizehire_ad_1080x1080.mp4"
import DesignProcess from "@assets/Wizehire/19_Wizehire_Mindy Fimga Files_1.mp4"
import WebsiteScrolling from "@assets/Wizehire/20_Wizehire_website scrolling_2.mp4"
import SitePhoneScreenB from "@assets/Wizehire/21_wizehire_site-screen-m (1080p).mp4"
// import Gif from "@assets/Wizehire/Comp1-ezgif.com-video-to-gif-converter copy.gif"
import GraphA from "@assets/Wizehire/26_wizehire_bar-graph (1080p).mp4"
import GraphB from "@assets/Wizehire/27_wizehire_circle-graph-periwize (1080p).mp4"
import DiscVideo from "@assets/Wizehire/28_wizehire_animation-disc (1080p).mp4"

import TypeKitDesktop from "@assets/Wizehire/img/02_Wizehire_type_desktop (1).svg"
import TypeKitMobile from "@assets/Wizehire/img/02_Wizehire_type_mobile (1).svg"
// import Img from "@assets/Wizehire/img/03_Wizehire_color-palette.png"
import ColorPalette from "@assets/Wizehire/img/03_Wizehire_color-palette.svg"
// import Img from "@assets/Wizehire/img/04_Wizehire_layered color.png"
import PalettesLayer from "@assets/Wizehire/img/04_Wizehire_layered color.svg"
// import Img from "@assets/Wizehire/img/06_Wizehire_graphic.png"
import WeAre from "@assets/Wizehire/img/08_wizehire_we are.png"
// import Img from "@assets/Wizehire/img/15_Wizehire_ad_1080x1080.png"
import AdGridFooter from "@assets/Wizehire/img/17_Wizehire_ad_1920x1080.png"
import SitePhoneScreenA from "@assets/Wizehire/img/20_Wizehire_Site-Screen.png"
import SitePhoneScreenC from "@assets/Wizehire/img/22_Wizehire_Site-Screen-M.png"
import NotFound from "@assets/Wizehire/img/23_Wizehire_404.png"
import IconsA from "@assets/Wizehire/img/24_Wizehire_iconagraphy-graphics.png"
// import Img from "@assets/Wizehire/img/25_Wizehire_iconagraphy-icons.png"
import IconsB from "@assets/Wizehire/img/25_Wizehire_iconagraphy-icons.svg"
// import Img from "@assets/Wizehire/img/29_Wizehire_DISC-graphics-cards.png"
import DiscCards from "@assets/Wizehire/img/29_Wizehire_DISC-graphics-cards.svg"
// import Img from "@assets/Wizehire/img/30_Wizehire_DISC-graphics-piechart.png"
import DiscChart from "@assets/Wizehire/img/30_Wizehire_DISC-graphics-piechart@2x.svg"
// import Img from "@assets/Wizehire/img/31_Wizehire_DISC-colors-1.png"
import DiscColorsA from "@assets/Wizehire/img/31_Wizehire_DISC-colors-1.svg"
// import Img from "@assets/Wizehire/img/32_Wizehire_DISC-colors-2.png"
import DiscColorsB from "@assets/Wizehire/img/32_Wizehire_DISC-colors-2.svg"
import TestimonialPhoto from "@assets/Wizehire/img/33_Wizehire_social-testimonial (1).png"
// import TestimonialBackground from "@assets/Wizehire/img/33_Wizehire_social-testimonial-bg-desktop.png"
// import TestimonialBackgroundMobile from "@assets/Wizehire/img/33_Wizehire_social-testimonial-bg-m.png"
import TestimonialText from "@assets/Wizehire/img/34_Wizehire_social-testimonial_2.png"
import SocialA from "@assets/Wizehire/img/35_Wizehire_social-1.png"
import SocialB from "@assets/Wizehire/img/36_Wizehire_social-2.png"
import SocialC from "@assets/Wizehire/img/37_Wizehire_social-3.png"
import SocialD from "@assets/Wizehire/img/38_Wizehire_social-4.png"
import SocialE from "@assets/Wizehire/img/39_Wizehire_social-5.png"
import SocialF from "@assets/Wizehire/img/40_Wizehire_social-6.png"
import SpeechBubbles from "@assets/Wizehire/img/41_Wizehire_graphic-extra.png"
import Email from "@assets/Wizehire/img/42_Wizehire_email.png"
import Interior from "@assets/Wizehire/img/46_Wizehire_event (1).png"
import Event from "@assets/Wizehire/img/43_Wizehire_event.png"
import BrandGuideA from "@assets/Wizehire/img/brand-guide/01_Wizehire_Brand-guide-glimpse.png"
import BrandGuideB from "@assets/Wizehire/img/brand-guide/02_Wizehire_Brand-guide-glimpse.png"
import BrandGuideC from "@assets/Wizehire/img/brand-guide/03_Wizehire_Brand-guide-glimpse.png"
import BrandGuideD from "@assets/Wizehire/img/brand-guide/04_Wizehire_Brand-guide-glimpse.png"
import BrandGuideE from "@assets/Wizehire/img/brand-guide/05_Wizehire_Brand-guide-glimpse.png"
import BrandGuideF from "@assets/Wizehire/img/brand-guide/06_Wizehire_Brand-guide-glimpse.png"
import BrandGuideG from "@assets/Wizehire/img/brand-guide/07_Wizehire_Brand-guide-glimpse.png"
import BrandGuideH from "@assets/Wizehire/img/brand-guide/08_Wizehire_Brand-guide-glimpse.png"
import BrandGuideI from "@assets/Wizehire/img/brand-guide/09_Wizehire_Brand-guide-glimpse.png"
import BrandGuideJ from "@assets/Wizehire/img/brand-guide/10_Wizehire_Brand-guide-glimpse.png"
import BrandGuideK from "@assets/Wizehire/img/brand-guide/11_Wizehire_Brand-guide-glimpse.png"
import BrandGuideL from "@assets/Wizehire/img/brand-guide/12_Wizehire_Brand-guide-glimpse.png"
import BrandGuideM from "@assets/Wizehire/img/brand-guide/13_Wizehire_Brand-guide-glimpse.png"
import BrandGuideN from "@assets/Wizehire/img/brand-guide/14_Wizehire_Brand-guide-glimpse.png"
import BrandGuideO from "@assets/Wizehire/img/brand-guide/15_Wizehire_Brand-guide-glimpse.png"
import BrandGuideP from "@assets/Wizehire/img/brand-guide/16_Wizehire_Brand-guide-glimpse.png"
import BrandGuideQ from "@assets/Wizehire/img/brand-guide/17_Wizehire_Brand-guide-glimpse.png"
import BrandGuideR from "@assets/Wizehire/img/brand-guide/18_Wizehire_Brand-guide-glimpse.png"
import PositioningA from "@assets/Wizehire/img/slide-deck/1.6.png"
import PositioningB from "@assets/Wizehire/img/slide-deck/1.7.png"
import PositioningC from "@assets/Wizehire/img/slide-deck/1.8.png"
import PositioningD from "@assets/Wizehire/img/slide-deck/2.1.png"
import PositioningE from "@assets/Wizehire/img/slide-deck/2.2.png"
import PositioningF from "@assets/Wizehire/img/slide-deck/2.5.png"
import PositioningG from "@assets/Wizehire/img/slide-deck/2.6.png"
import PositioningH from "@assets/Wizehire/img/slide-deck/2.7.png"
import PositioningI from "@assets/Wizehire/img/slide-deck/2.8.png"
import PositioningJ from "@assets/Wizehire/img/slide-deck/2.9.png"
import PositioningK from "@assets/Wizehire/img/slide-deck/2.10.png"
import PositioningL from "@assets/Wizehire/img/slide-deck/2.11.png"
---


<ProjectLayout hero={HeroDesktop} mobile={HeroMobile} preview={HeroImage} brand={brand} tagline={tagline} tags={tags}>
    <VimeoPlayer class="spaced flush" video="1057148798" height="70.31%" action="unmute"/>

    <section>
        <h1>Type Kit</h1>
        <ResponsiveImage desktop={TypeKitDesktop} mobile={TypeKitMobile} alt=" " />
    </section>

    <section>
        <h1>Color Palette</h1>
        <Image src={ColorPalette} widths={[2200]} alt=" " />
    </section>

    <div class="two-col">
        <Image src={PalettesLayer} widths={[2200]} alt=" " />
        <video loop playsinline autoplay muted class="rc">
            <source src={PalettesAdA} />
        </video>
        <video loop playsinline autoplay muted class="rc">
            <source src={PalettesAdB} />
        </video>
        <video loop playsinline autoplay muted class="rc" style="width:80%; align-self:center; justify-self: center;">
            <source src={PalettesAdC} />
        </video>
    </div>

    <div id="rosewood" class="padded">
        <Image src={WeAre} widths={[2200]} alt=" " />
    </div>

    <VimeoPlayer id="need-to-hire" class="spaced" video="999662150" height="56.25%" action="unmute"/>
    <VimeoPlayer id="find-your-people" class="spaced" video="1057651271" height="100%" action="unmute"/>

    <div id="ad-grid" class="two-col">
        <VimeoPlayer video="1057149127" height="125%" action="unmute"/>
        <VimeoPlayer video="1057149047" height="125%" action="unmute"/>

        <VimeoPlayer video="1057176710" height="100%" action="unmute"/>
        <VimeoPlayer video="1057176541" height="100%"/>

        <VimeoPlayer video="1057177457" height="100%"/>
        <VimeoPlayer video="1058303990" height="100%"/>

        <Image class="wide" src={AdGridFooter} widths={[2200]} alt=" " />
    </div>

    <VimeoPlayer id="thirty-second-spot" class="spaced" video="999766293" height="56.25%" action="unmute"/>

    <div id="periwize" class="padded">
        <video loop playsinline autoplay muted class="rc">
            <source src={WebsiteScrolling} />
        </video>
        <h1>Behind the scenes</h1>
        <video loop playsinline autoplay muted class="rc">
            <source src={DesignProcess} />
        </video>
    </div>

    <div id="phone-screens" class="padded">
        <div class="three-col flush">
            <Image src={SitePhoneScreenA} widths={[2200]} alt=" " />
            <video loop playsinline autoplay muted class="rc">
                <source src={SitePhoneScreenB} />
            </video>
            <Image src={SitePhoneScreenC} widths={[2200]} alt=" " />
        </div>
    </div>

    <div id="periwize-200" class="padded">
        <Image src={NotFound} widths={[2200]} alt=" " />
        <Image src={IconsA} widths={[2200]} alt=" " />
        <Image src={IconsB} widths={[2200]} alt=" " />
    </div>

    <div id="graphs" class="spaced">
        <div class="two-col flush">
            <video loop playsinline autoplay muted class="rc">
                <source src={GraphA} />
            </video>
            <video loop playsinline autoplay muted class="rc">
                <source src={GraphB} />
            </video>
        </div>
    </div>

    <video loop playsinline autoplay muted class="rc">
        <source src={DiscVideo} />
    </video>

    <div id="disc-graphics" class="spaced">
        <div class="two-col">
            <Image src={DiscCards} widths={[2200]} alt=" " />
            <Image src={DiscChart} widths={[2200]} alt=" " />
        </div>
    </div>

    <div id="disc-colors" class="spaced">
        <TwoUp>
            <Image src={DiscColorsA} widths={[2200]} alt=" " />
            <Image src={DiscColorsB} widths={[2200]} alt=" " />
        </TwoUp>
    </div>

    <div id="photo-testimonial">
        <div class="two-col">
            <Image class="rc-big" src={TestimonialPhoto} widths={[2200]} alt=" " />
            <Image src={TestimonialText} widths={[2200]} alt=" " />
        </div>
    </div>


    <div id="social-grid" class="spaced">
        <div class="two-col">
            <Image src={SocialA} widths={[2200]} alt=" " />
            <Image src={SocialB} widths={[2200]} alt=" " />
            <Image src={SocialC} widths={[2200]} alt=" " />
            <Image src={SocialD} widths={[2200]} alt=" " />
            <Image src={SocialE} widths={[2200]} alt=" " />
            <Image src={SocialF} widths={[2200]} alt=" " />
        </div>
    </div>

    <div id=speech-bubbles class="padded">
        <Image src={SpeechBubbles} widths={[2200]} alt=" " />
    </div>

    <OneUp class="spaced" src={Email} max="533px" alt=" " />

    <VimeoPlayer class="flush" video="1056946375" height="56.25%" />
    <VimeoPlayer class="flush" video="1056946078" height="56.25%" />

    <OneUp class="spaced" src={Interior} max="1000px" alt=" " />
    <OneUp class="spaced" src={Event} max="1000px" alt=" " />

    <section id="positioning">
        <h1>Positioning Highlights</h1>
        <div class="slideshow">
            <Image class="active" src={PositioningA} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningB} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningC} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningD} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningE} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningF} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningG} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningH} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningI} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningJ} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningK} widths={[2200]} loading="eager" alt=" " />
            <Image src={PositioningL} widths={[2200]} loading="eager" alt=" " />
        </div>
    </section>

    <div id="three-minute-spot">
        <VimeoPlayer class="flush" video="999710124" height="56.25%" action="unmute" />
    </div>


    <div id="brand-guide">
        <h1><span>Wizehire</span> A glimpse at the brand guide</h1>
        <div class="guide-pages">
            <Image src={BrandGuideA} widths={[2200]} alt=" " />
            <Image src={BrandGuideB} widths={[2200]} alt=" " />
            <Image src={BrandGuideC} widths={[2200]} alt=" " />
            <Image src={BrandGuideD} widths={[2200]} alt=" " />
            <Image src={BrandGuideE} widths={[2200]} alt=" " />
            <Image src={BrandGuideF} widths={[2200]} alt=" " />
            <Image src={BrandGuideG} widths={[2200]} alt=" " />
            <Image src={BrandGuideH} widths={[2200]} alt=" " />
            <Image src={BrandGuideI} widths={[2200]} alt=" " />
            <Image src={BrandGuideJ} widths={[2200]} alt=" " />
            <Image src={BrandGuideK} widths={[2200]} alt=" " />
            <Image src={BrandGuideL} widths={[2200]} alt=" " />
            <Image src={BrandGuideM} widths={[2200]} alt=" " />
            <Image src={BrandGuideN} widths={[2200]} alt=" " />
            <Image src={BrandGuideO} widths={[2200]} alt=" " />
            <Image src={BrandGuideP} widths={[2200]} alt=" " />
            <Image src={BrandGuideQ} widths={[2200]} alt=" " />
            <Image src={BrandGuideR} widths={[2200]} alt=" " />
        </div>
    </div>
</ProjectLayout>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        let dt = 0
        document.querySelectorAll('.slideshow').forEach(elt => {
            let slides = elt.querySelectorAll(":scope>picture,:scope>img:not(.app"),
                interval = elt instanceof HTMLElement && elt.dataset.interval || 2000,
                len = slides.length,
                idx = 0

            const advance = () => {
                idx++
                slides.forEach((img, i) => {
                    img.classList.toggle('active', i==idx%len)
                })
            }

            setTimeout(() => setInterval(advance, +interval), dt)
            dt += 666
        })
    })
</script>

