---
import "../styles/utils.css";
import InternalLayout from "../layouts/InternalLayout.astro";
import TextGrid from "../components/TextGrid.astro";
import ScrollImage from "../components/ScrollImage.astro";
import Header from "../assets/ComicsKingdom/CK_Cover.png";
import Image from "astro/components/Image.astro";
import CKAnimation from "../assets/ComicsKingdom/CK_Animation.mp4";
import LogoIllustrationDesktop from "../assets/ComicsKingdom/CK_Logo_Illustration_Desktop.png";
import LogoIllustrationMobile from "../assets/ComicsKingdom/CK_Logo_Illustration_Mobile.png";
import AppDesktop from "../assets/ComicsKingdom/CK_App_Desktop.png";
import AppMobile from "../assets/ComicsKingdom/CK_App_Mobile.png";
import IconsDesktop from "../assets/ComicsKingdom/CK_Icons_Desktop.png";
import IconsMobile from "../assets/ComicsKingdom/CK_Icons_Mobile.png";
import Creator from "../assets/ComicsKingdom/CK_App_Creator.png";
import Home from "../assets/ComicsKingdom/CK_App_Home.png";
import Cat from "../assets/ComicsKingdom/CK_Cat.mp4";
import Friends from "../assets/ComicsKingdom/CK_Friends.mp4";
import Social from "../assets/ComicsKingdom/CK_Social.png";
import Email from "../assets/ComicsKingdom/CK_Email.png";
import Mark from "../assets/ComicsKingdom/CK_Mark.png";
import Book from "../assets/ComicsKingdom/CK_Book.png";
import Navigation from "../components/Navigation.astro";
---

<style>
  #comics-main {
    width: 100%;
    background-color: #f7f4ed;
  }
  .scroll-container {
    height: 200vh;
  }
  .sticky-container {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .image-container {
    text-align: center;
    position: relative;
  }
  #main-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    /* width: 50%; */
  }
  .image-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .image-92 {
    width: 92%;
    height: auto;
  }
  .image-73 {
    width: 73%;
    height: auto;
  }
  .image-66 {
    width: 66%;
    height: auto;
  }
  .image-100 {
    width: 100%;
    height: auto;
  }
  .image-50 {
    width: 50%;
    height: auto;
  }
  .image-42 {
    width: 42%;
    height: auto;
  }
  .image-58 {
    width: 58%;
    height: auto;
  }
  .image-47 {
    width: 47%;
    height: auto;
  }
  .social-background {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("../assets/ComicsKingdom/RedBG.png");
    padding: 100px 0;
  }

  .image-container-half {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }
  .image-22 {
    width: 22%;
    height: auto;
    margin-left: 60px;
    padding-bottom: 100px;
  }

  .textbox {
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .dark-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/ComicsKingdom/CharcoalBG.png");
    background-repeat: repeat;
    background-size: auto;
  }
  h1 {
    font-family: "Filson Pro";
    font-weight: bold;
    font-size: 72px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .text-two-column-centered {
    width: 64%;
    margin: 100px auto;
    font-family: "Karla";
    font-size: 16px;
    line-height: 26px;
    column-count: 2;
    column-gap: 90px;
  }
  #video-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #17100b;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  #play-button {
    position: absolute;
    display: none;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: #ff97fd;
    transform: rotate(1.75deg);
    border: 1px solid black;
    font-size: 21px;
    font-family: "Karla";
    letter-spacing: 2px;
  }
  @media screen and (max-width: 768px) {
    h1 {
      margin-top: 45px;
      margin-bottom: 45px;
    }
    .text-two-column-centered {
      column-count: 1;
    }
  }
</style>
<InternalLayout>
  <div id="comics-main">
    <div class="scroll-container">
      <div class="sticky-container">
        <Navigation theme="dark" />
        <div style={{ marginTop: "200px" }} class="image-container">
          <Image id="main-header" src={Header} alt="Pearly Bites" />
        </div>
      </div>
    </div>
    <div style={{ backgroundColor: "#17100B" }}>
      <!-- <ScrollImage theme="dark" /> -->
      <TextGrid title="COMICS KINGDOM" theme="dark">
        <li>Brand Identity + Positioning</li>
        <li>Logo Design</li>
        <li>Video + Photography</li>
        <li>Writing + Editing</li>
        <li>Surprise + Delight</li>
        <li>Art + Illustration</li>
        <li>Product Design (UX/UI)</li>
        <li>Social Content + Advertising</li>
        <li>Interviews</li>
        <li>Qualitative Research</li>
      </TextGrid>
    </div>
    <div class="image-flex">
      <div id="video-container">
        <video id="custom-video" class="h-auto w-[92%]" loop>
          <source src={CKAnimation} type="video/mp4" />
        </video>
        <div id="play-button">PLAY</div>
      </div>
      <Image
        class="h-auto w-full"
        src={LogoIllustrationDesktop}
        alt="Comics Kingdom"
      />
      <Image
        class="h-auto w-[92%] hidden"
        src={LogoIllustrationMobile}
        alt="Comics Kingdom"
      />
      <div class="text-two-column-centered">
        <p class="m-0">
          Every strip starts with a sketch. A gag. A storyboard. An inkling of
          an idea, brought to life by a pencil, some paper (okay, occasionally a
          tablet and stylus), and an altogether personal point of view. It's the
          first step in a hero’s winding journey—both the character’s and the
          creator’s—soon to meet the fans who will cheer them along. <br /><br
          />Comics Kingdom is for those who believe in limitless creativity,
          barely contained in a bite of delight. The ones who must make, against
          any obstacles, whether pioneers or next generation, in service of an
          art form that nudges us all forward, eliciting chuckles, catharsis,
          and connection. We're a haven for those who absolutely worship cartoon
          history and are eager to preserve and transform. A community for the
          people who open to the funnies every week or get the digital scoop any
          day. A place for enthusiasts to support others and recognize the
          wonderfully human lessons and observations depicted through a beloved
          and all too rare craft. A platform for artists to breathe new life,
          share new experiences, and reach new friends. A way to come together
          through a niche that unifies—one of the lightest ways to deal with
          heavy stuff. <br /><br />
          <span class="text-[#DD4C42] text-xl font-bold"
            >For <em>those</em>, for <em>us</em>, and <em>all</em>, our mission
            is to keep the comics coming.</span
          >
        </p>
      </div>
      <Image class="h-auto w-full" src={AppDesktop} alt="Comics Kingdom" />
      <Image
        class="h-auto w-[92%] hidden"
        src={AppMobile}
        alt="Comics Kingdom"
      />
      <div class="dark-container">
        <Image
          class="h-auto mt-[100px] w-1/2"
          src={IconsDesktop}
          alt="Comics Kingdom"
        />
        <Image class="hidden" src={IconsMobile} alt="Comics Kingdom" />
        <Image
          class="h-auto w-[58%] my-[200px] mx-0"
          src={Creator}
          alt="Comics Kingdom"
        />
        <Image class="h-auto w-[66%]" src={Home} alt="Comics Kingdom" />
      </div>
      <video loop class="mb-[120px] w-[40%]">
        <source src={Cat} type="video/mp4" />
      </video>
      <div class="w-full bg-white">
        <video loop class="mb-[120px] w-screen">
          <source src={Friends} type="video/mp4" />
        </video>
      </div>
      <div class="social-background">
        <Image class="h-auto w-[47%]" src={Social} alt="Comics Kingdom" />
      </div>
      <Image
        class="h-auto w-[58%] my-[180px] mx-0"
        src={Email}
        alt="Comics Kingdom"
      />
      <div class="image-container-half">
        <Image class="h-auto w-[22%]" src={Mark} alt="Comics Kingdom" />
        <Image class="h-auto w-1/2" src={Book} alt="Comics Kingdom" />
      </div>
    </div>
  </div>
</InternalLayout>
<script>
  const image = document.getElementById("main-header");

  const minScroll = 0; // minimum scroll value
  const maxScroll = 800;
  const minWidth = 20; // minimum range value
  const maxWidth = 100;

  // const range =
  //   ((currentScroll - minScroll) / (maxWidth - minScroll)) *
  //     (maxRange - minRange) +
  //   minRange;
  // console.log(range);

  // let imageWidth = 0.5 + currentScroll / maxWidth;
  //   image.style.transform = `scale(${imageScale})`;
  //   image.style.width = "20vw";

  const getScrollScale = () => {
    let currentScroll = window.scrollY;
    if (currentScroll > 800) {
      currentScroll = 800;
    }
    const rangeValue =
      ((currentScroll - minScroll) / (maxScroll - minScroll)) *
        (maxWidth - minWidth) +
      minWidth;
    // console.log(rangeValue);
    return rangeValue;
  };

  let widthScale = getScrollScale();
  image.style.width = `${widthScale}vw`;
  image.style.marginTop = `-${widthScale * 3}px`;

  document.addEventListener("scroll", (event) => {
    //slow down scrolling so image doesn't grow as fast
    let widthScale = getScrollScale();
    // imageScale = 0.5 + currentScroll / totalWidth;
    image.style.width = `${widthScale}vw`;
    image.style.marginTop = `-${widthScale * 3}px`;
  });

  const videoContainer = document.getElementById("video-container");
  const video = document.getElementById("custom-video") as HTMLVideoElement;
  const playButton = document.getElementById("play-button");
  // Event listener for the play/pause button
  videoContainer.addEventListener("mouseenter", (event) => {
    playButton.style.display = "flex";
  });
  videoContainer.addEventListener("mouseleave", (event) => {
    playButton.style.display = "none";
  });
  playButton.addEventListener("click", (event) => {
    if (video.paused == true) {
      // Play the video
      video.play();

      // Update the button text to 'Pause'
      playButton.innerHTML = "PAUSE";
    } else {
      // Pause the video
      video.pause();

      // Update the button text to 'Play'
      playButton.innerHTML = "PLAY";
    }
  });
</script>
