---
import "../styles/utils.css";
import InternalLayout from "../layouts/InternalLayout.astro";
import TextGrid from "../components/TextGrid.astro";
import ScrollImage from "../components/ScrollImage.astro";
import Image from "astro/components/Image.astro";
import Navigation from "../components/Navigation.astro";
import Header from "../assets/SixFeet/6ft_Header.mp4";
import MaskGang from "../assets/SixFeet/6ft_MaskGang.png";
import HotMask from "../assets/SixFeet/6ft_YourMaskisHot.png";
import SixFeet from "../assets/SixFeet/6ft_SixFeetApart.png";
import Together from "../assets/SixFeet/6ft_TogetherAtHeart.png";
import RainbowSticker from "../assets/SixFeet/6ft_RainbowStickers.gif";
import Store from "../assets/SixFeet/6ft_Store.png";
import Pile from "../assets/SixFeet/6ft_SocialDistancingPile.png";
import Floor from "../assets/SixFeet/6ft_SocialDistancingClubFloor.png";
import Wedding from "../assets/SixFeet/6ft_Wedding.png";
import Windows from "../assets/SixFeet/6ft_Windows.png";
import FunFacts from "../assets/SixFeet/6ft_FunFacts.gif";
import Backpack from "../assets/SixFeet/6ft_Backpack.png";
---

<style>
  #sixfeet-main {
    width: 100%;
    position: relative;
    background-color: #f7f4ed;
  }
  .scroll-container {
    height: 200vh;
  }
  .sticky-container {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .image-container {
    text-align: center;
    position: relative;
  }
  #main-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
  .image-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .image-flex > * {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
  }
  .image-8992 {
    width: 89%;
    height: auto;
  }
  h2 {
    font-family: "Karla";
    font-size: 26px;
  }
  @media screen and (min-width: 768px) {
    .image-flex > * {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .image-8992 {
      width: 92%;
    }
    h2 {
      font-size: 36px;
    }
  }
</style>
<InternalLayout>
  <div id="sixfeet-main">
    <div class="scroll-container">
      <div class="sticky-container">
        <Navigation theme="light" />
        <div style={{ marginTop: "200px" }} class="image-container">
          <video id="main-video" autoplay loop muted>
            <source src={Header} type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
    <TextGrid title="6 FEET FROM YOU" theme="light">
      <li>Brand Identity + Positioning</li>
      <li>Logo Design</li>
      <li>Video + Photography</li>
      <li>Art + Illustration</li>
      <li>Original Naming</li>
      <li>Physical Goods Development + Design</li>
      <li>Writing + Editing</li>
      <li>Signage + Display</li>
      <li>Surprise + Delight</li>
    </TextGrid>
    <div class="image-flex">
      <Image class="image-8992" src={MaskGang} alt="Six Feet" />
      <h2>
        Directing physical product concept and design + brand presentation for a
        new line of social distancing products.
      </h2>
      <Image class="image-8992" src={HotMask} alt="Six Feet" />
      <div>
        <Image src={SixFeet} alt="Six Feet" />
        <Image src={Together} alt="Six Feet" />
      </div>
      <Image src={RainbowSticker} alt="Six Feet" />
      <div>
        <Image src={Store} alt="Six Feet" />
        <Image src={Pile} alt="Six Feet" />
        <Image src={Floor} alt="Six Feet" />
      </div>
      <Image src={Wedding} alt="Six Feet" />
      <Image src={Windows} alt="Six Feet" />
      <div>
        <Image src={FunFacts} alt="Six Feet" />
        <Image src={Backpack} alt="Six Feet" />
      </div>
    </div>
  </div>
</InternalLayout>
<script>
  const image = document.getElementById("main-video");
  let currentScroll = window.scrollY;

  const minScroll = 0; // minimum scroll value
  const maxScroll = 800;
  const minWidth = 20; // minimum range value
  const maxWidth = 100;

  // const range =
  //   ((currentScroll - minScroll) / (maxWidth - minScroll)) *
  //     (maxRange - minRange) +
  //   minRange;
  // console.log(range);

  // let imageWidth = 0.5 + currentScroll / maxWidth;
  //   image.style.transform = `scale(${imageScale})`;
  //   image.style.width = "20vw";

  const getScrollScale = () => {
    let currentScroll = window.scrollY;
    if (currentScroll > 800) {
      currentScroll = 800;
    }
    const rangeValue =
      ((currentScroll - minScroll) / (maxScroll - minScroll)) *
        (maxWidth - minWidth) +
      minWidth;
    // console.log(rangeValue);
    return rangeValue;
  };

  let widthScale = getScrollScale();
  image.style.width = `${widthScale}vw`;
  image.style.marginTop = `-${widthScale * 3}px`;

  document.addEventListener("scroll", (event) => {
    //slow down scrolling so image doesn't grow as fast
    let widthScale = getScrollScale();
    // imageScale = 0.5 + currentScroll / totalWidth;
    image.style.width = `${widthScale}vw`;
    image.style.marginTop = `-${widthScale * 3}px`;
  });
</script>
