---
import "../styles/utils.css";
import Image from "astro/components/Image.astro";
import TransparentVideo from "@components/TransparentVideo.astro";

const LINKS ={
  vimeo:"https://vimeo.com/byhartstudio",
  linkedin:"https://www.linkedin.com/company/byhartstudio/posts/?feedView=all",
  instagram:"https://www.instagram.com/byhartstudio/",
}

import GlassesSafari from "@assets/Navigation/eye.mov";
import GlassesChrome from "@assets/Navigation/eye.webm";
import Logo from "../assets/Footer/Logo.svg";
---
<style is:global>
  #site-footer{
    position: fixed;
    overflow: hidden;
    z-index: 0;
    inset:0;

    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    background: var(--cream);
  }


  #site-footer .email {
    margin:60px 0 80px 0;
    @media(min-width:768px){
        margin:120px 0 140px 0;
    }

    h1 {
      position: relative;
      display: inline-block;
      padding-bottom:.2em;

      font: 500 7vw/1 "utile-display", sans-serif;
      letter-spacing: 0.03em;
      color: var(--charcoal);

      a:active{
        text-decoration: underline;
        text-decoration-color: rgba(0,0,0,.25);
      }

      &::before{
        content: " ";
        position:absolute;
        top:.05em;
        left:-.33em;
        width:calc(100% + .66em);
        height:calc(100% + .1em);
        background: var(--pink);
        z-index:-1;
        transform: rotate(-1deg);
        transition: transform .25s;
      }

      &::after {
        content: attr(data-prompt);
        box-shadow: 0 0 30px rgba(0,0,0, .2);
        background-color: var(--peach);
        color: black;
        opacity:0;

        position: absolute;
        left:50%;
        bottom:0;
        padding: 0 20px;
        border-radius: 35px;

        font: 500 13px/38px "Karla", sans-serif;
        letter-spacing: 2.47px;
        text-transform: uppercase;
        text-align: center;
        text-wrap: nowrap;

        transform-origin: top left;
        transform: translate(-6em, 3em) rotate(16deg);
        transition: opacity 333ms, transform 333ms;
        pointer-events: none;
      }

      &:hover{
        &::before{
          transform: rotate(0);
        }

        &::after {
          opacity:1;
          transform: translate(-6em, 3em) rotate(8deg);
        }
      }
    }
  }


  #site-footer .glasses{
    width: 130vw;
    align-self: start;
    margin-left:8vw;
    position:relative;

    @media(min-width:768px){
      align-self: center;
      width: min(70vw, 70vh);
      max-width: 1000px;
      margin:0;
    }

    .links{
      position:absolute;
      overflow:visible;
      width:100%;
      top:0;
      left:0;

      text{
        font:500 2.8px "Karla", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.04em;
      }

      a:hover{
        fill:var(--pink);
      }
    }

  }


  #endmatter{
    position:absolute;
    width:100%;
    bottom:25px;
    padding:0 25px;
    display:flex;
    flex-flow: column nowrap;
    text-align:left;
    gap:20px;

    img{
      max-width:152px;
    }

    #fine-print{
      .heading{
        font: 500 21px/1 "utile-display", sans-serif;
        letter-spacing: 0.63px;
        color:var(--cream);
        padding:2px 8px;
        margin-bottom:20px;

        position:relative;
        display:inline-block;

        &::after{
            position:absolute;
            content: " ";
            background:var(--charcoal);
            width:100%;
            height:100%;
            top:0;
            left:0;
            z-index:-1;
            transform: rotate(-1.25deg);
        }
      }
      p{
        font: 400 9px/1.6 "Karla", sans-serif;
      }
    }


    #copyright{
      font: 400 9px/1.6 "Karla", sans-serif;
    }

    @media (min-width: 768px) {
      bottom:50px;
      padding:0 50px;
      flex-flow: row nowrap;
      align-items: end;

      img{
        max-width:220px;
      }

      #fine-print{
        width:100%;
        .heading{
          margin-bottom:10px;
        }

        p{
          font-size:11px;
          max-width: 750px;
        }
      }

      #copyright{
        font-size:14px;
        text-align: right;
      }
    }

    @media (min-width: 1100px) {
      #copyright{
        min-width:330px;
      }
    }
  }

</style>

<footer id="site-footer">
  <div class="email">
    <h1 data-prompt="Copy our email addy"><a href="mailto:getcreative@byhart.studio">getcreative@byhart.studio</a></h1>
  </div>
  <div class="glasses">
    <TransparentVideo mov={GlassesSafari} webm={GlassesChrome} />
    <svg class="links" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 44">
      <defs><style>.x{fill:none; stroke:none;}</style></defs>
      <path id="vimeo-path" class="x" d="M2.38886.63209c4.07274-.82823,9.05408-.31439,11.96857.01404"/>
      <path id="linkedin-path" class="x" d="M15.63854.79405c4.39074.32367,9.61146,1.22678,12.94479,2.56012"/>
      <path id="instagram-path" class="x" d="M2.72078,20.47892C1.43086,16.40297,0,11.22273.32588,2.9503"/>
      <text>
        <textPath href="#vimeo-path" id="text-path"><a href={LINKS.vimeo}>Vimeo</a></textPath>
        <textPath href="#linkedin-path" id="text-path"><a href={LINKS.linkedin}>LinkedIn</a></textPath>
        <textPath href="#instagram-path" id="text-path"><a href={LINKS.instagram}>Instagram</a></textPath>
      </text>
    </svg>
  </div>

  <div id="endmatter">
    <Image src={Logo} alt="By Hart Logo" />
    <div id="fine-print">
        <div class="heading">This print is so fine</div>
        <p>CREDITS: Creative work takes a village—and this portfolio is proudly built by one. Nearly everything here is original work created under Sarah Hartley's direction. A few industry-standard reference materials and inspiration mood boards are sprinkled in from our research and pitch-phase magic. Curious about credits? It’s probably us! If not, we’ll happily connect you to the source of our inspiration.</p>
    </div>
    <div id="copyright">
      © Sarah Hartley See&nbsp;Sarah&nbsp;Work LLC d/b/a&nbsp;By&nbsp;Hart
    </div>

  </div>

  <div id="tooltip-footer"></div>
</footer>

<script>
  let emailLink = document.querySelector("footer .email h1")
  if (emailLink instanceof HTMLElement){
    emailLink.addEventListener("mouseenter", e => emailLink.dataset.prompt = "Copy our email addy")

    emailLink.addEventListener("click", e => {
      e.preventDefault()
      navigator.clipboard
        .writeText(emailLink.textContent)
        .then(() => emailLink.dataset.prompt = 'Copied. Now go paste!')
    })
  }
</script>
