---
import Ample from "../assets/Home/Ample.png";
import ComicsKingdom from "../assets/Home/Comics_Kingdom.gif";
import Wizehire from "../assets/Home/Wizehire.gif";
import Week from "../assets/Home/Week.gif";
import DancePartyTime from "../assets/Home/Dance_Party_Time.png";
import MetroVein from "../assets/Home/Metro_Vein.gif";
import Lockwood from "../assets/Home/Lockwood.png";
import PuzzlePalace from "../assets/Home/Puzzle_Palace.png";
import Sage from "../assets/Home/Sage.png";
import SixFeet from "../assets/Home/6_Feet_Apart.png";
import Blueprint from "../assets/Home/Blueprint.gif";
import Discovery from "../assets/Home/Discovery.gif";
import Fab from "../assets/Home/Fab.gif";
import GeniusKitchen from "../assets/Home/Genius_Kitchen.png";
import Horowitz from "../assets/Home/Horowitz_Real_Estate.png";
import Kindra from "../assets/Home/Kindra.gif";
import Magnolia from "../assets/Home/Magnolia.png";
import Nightingale from "../assets/Home/Nightingale.png";
import PearlyBites from "../assets/Home/Pearly_Bites.png";
import TheCurve from "../assets/Home/The_Curve.png";
import SayMore from "../assets/Home/Say_More.png";
import Archive from "../assets/Home/Archive.png";
import Firefly from "../assets/Home/Firefly.png";
import PetCenter from "../assets/Home/Pet_Center.png";
import HGTV2 from "../assets/Home/HGTV_2.gif";
import Photography from "../assets/Home/Photography.png";
import PresentationsAlt from "../assets/Home/Presentations_ALT.png";
import SarahVideo from "../assets/Home/Sarah_Video.png";
import WordOnly from "../assets/Home/Word_Only.png";
import Reach from "../assets/Home/Reach.png";
import ApartmentTherapy from "../assets/Home/Apartment_Therapy.png";
import Illustration from "../assets/Home/Illustration.gif";
---

<style is:global>
  a {
    cursor:
      url("../assets/HeartCursor.png") 16 16,
      auto;
  }
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1820px;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
  }

  .image-grid--column {
    width: calc(31%);
    row-gap: 59px;
    display: none;
    flex-direction: column;
  }

  .image-grid--column-m {
    width: 33%;
    display: none;
    flex-direction: column;
  }

  .grid-item {
    display: none;
  }
  .grid-item-label {
    color: #faf7f4;
  }

  .active {
    display: flex;
  }

  .active-item {
    display: block;
  }

  .grid-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5.87px;
  }

  @media screen and (min-width: 767px) {
    .tooltip {
      position: absolute;
      background-color: #f7eee3;
      color: black;
      font-family: Karla;
      font-size: 14px;
      letter-spacing: 2px;
      padding: 10px 20px;
      border-radius: 35px;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.2s ease;
      white-space: nowrap;
      rotate: -15deg;
    }
    .grid-item-label {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .image-grid--column {
      width: 46%;
    }
  }
</style>
<div>
  <!-- <div class="filters">
    <button id="all-button">All</button>
    <button id="brand-button">Brand</button>
  </div> -->
  <div class="image-grid">
    <div class="image-grid--column not-mobile active">
      <a class="grid-item campaign active-item">
        <img
          src={Wizehire.src}
          class="grid-image"
          data-tooltip="WIZEHIRE"
          alt="Pizza being made through a cutout in the shape of a face on a purple rectangle."
        />
        <p class="grid-item-label">Wizehire</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={Lockwood.src}
          class="grid-image"
          data-tooltip="LOCKWOOD"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">Lockwood</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={Week.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Week&</p>
      </a>

      <a href="/pearlybites" class="grid-item interior active-item">
        <img
          src={PearlyBites.src}
          class="grid-image"
          data-tooltip="PEARLY BITES"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Pearly Bites</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={Discovery.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Discovery</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={Magnolia.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Magnolia</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={GeniusKitchen.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Genius Kitchen</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={Illustration.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Custom Illustrations</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={PresentationsAlt.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Presentation Magic</p>
      </a>
    </div>

    <div class="image-grid--column not-mobile active">
      <a class="grid-item brand active-item">
        <img
          src={Ample.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">Ample</p>
      </a>

      <a class="grid-item campaign active-item">
        <img
          src={MetroVein.src}
          class="grid-image"
          alt="Pizza being made through a cutout in the shape of a face on a purple rectangle."
        />
        <p class="grid-item-label">Metro Vein Centers</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={PuzzlePalace.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Puzzle Palace</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={Nightingale.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Nightingale Vets</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={Fab.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Fab</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={SayMore.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Say More</p>
      </a>

      <a href="/sixfeet" class="grid-item interior active-item">
        <img
          src={SixFeet.src}
          data-tooltip="6 FEET APART"
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">6 Feet Apart</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={Blueprint.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Bluprint</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={ApartmentTherapy.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Apartment Therapy</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={Photography.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Photography Direction</p>
      </a>

      <a class="grid-item interior active-item">
        <img
          src={Archive.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Top Secret Archive</p>
      </a>
    </div>

    <div class="image-grid--column not-mobile active">
      <a href="/comicskingdom" class="grid-item interior active-item">
        <img
          src={ComicsKingdom.src}
          class="grid-image"
          data-tooltip="COMICS KINGDOM"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
        <p class="grid-item-label">Comics Kingdom</p>
      </a>

      <a href="/sage" class="grid-item campaign active-item">
        <img
          src={Sage.src}
          class="grid-image"
          data-tooltip="SAGE"
          alt="Pizza being made through a cutout in the shape of a face on a purple rectangle."
        />
        <p class="grid-item-label">Sage</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={DancePartyTime.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">Dance Party Time</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={Kindra.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">Kindra</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={TheCurve.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">The Curve Report</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={Horowitz.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">Horowitz Real Estate</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={PetCenter.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">Pet Dermatology Center</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={Firefly.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">Firefly Vets</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={HGTV2.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">HGTV</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={Reach.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">NBCUniversal Upfronts</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={WordOnly.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">In Words Only</p>
      </a>

      <a class="grid-item brand active-item">
        <img
          src={SarahVideo.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
        <p class="grid-item-label">See Sarah Dance</p>
      </a>
    </div>
    <!-- ------------------------------------------------- -->
    <!-- MOBILE -->
    <!-- ------------------------------------------------- -->

    <div class="image-grid--column-m mobile">
      <a class="grid-item-m brand active-item">
        <img
          src={Ample.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
      </a>

      <a class="grid-item-m campaign active-item">
        <img
          src={MetroVein.src}
          class="grid-image"
          alt="Pizza being made through a cutout in the shape of a face on a purple rectangle."
        />
      </a>

      <a class="grid-item-m interior active-item">
        <img
          src={PuzzlePalace.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
      </a>
    </div>

    <div class="image-grid--column-m mobile">
      <a class="grid-item-m interior active-item">
        <img
          src={ComicsKingdom.src}
          class="grid-image"
          alt="Two speech bubbles turned vertically and having eyes so they look like faces."
        />
      </a>

      <a class="grid-item-m campaign active-item">
        <img
          src={Sage.src}
          class="grid-image"
          alt="Pizza being made through a cutout in the shape of a face on a purple rectangle."
        />
      </a>

      <a class="grid-item-m brand active-item">
        <img
          src={DancePartyTime.src}
          class="grid-image"
          alt="Entrace to an office with a couch, front desk, and a man walking away from the camera."
        />
      </a>
    </div>
  </div>
  <div id="tooltip" class="tooltip"></div>
</div>
<script>
  const tooltip = document.getElementById("tooltip");
  const imageContainers = document.querySelectorAll(".grid-image");

  imageContainers.forEach((container) => {
    container.addEventListener("mouseenter", (event: MouseEvent) => {
      const tooltipText = event.currentTarget.getAttribute("data-tooltip");
      tooltip.innerText = tooltipText;
      tooltip.style.opacity = "1";
    });

    container.addEventListener("mousemove", (event: MouseEvent) => {
      tooltip.style.top = `${event.pageY - 10}px`;
      tooltip.style.left = `${event.pageX}px`;
    });

    container.addEventListener("mouseleave", () => {
      tooltip.style.opacity = "0";
    });
  });
</script>
<!-- <script is:inline>
  // Create a condition that targets viewports at least 768px wide
  const mediaQuery = window.matchMedia('(min-width: 768px)')
  const mobileGrid = document.getElementsByClassName("mobile");
  const notMobileGrid = document.getElementsByClassName("not-mobile");
  const allItems = document.getElementsByClassName("grid-item");
  const brandItems = document.getElementsByClassName("brand");
  const allButton = document.getElementById("all-button");
  const brandButton = document.getElementById("brand-button");

  function handleMobileChange(e) {
    if (e.matches) {
      for(let item of mobileGrid) {
        item.classList.remove("active");
      }
      for(let item of notMobileGrid) {
        item.classList.add("active");
      }
    } else {
      for(let item of mobileGrid) {
        item.classList.add("active");
      }
      for(let item of notMobileGrid) {
        item.classList.remove("active");
      }
    }
  }

  allButton.addEventListener('click', () => {
    for(let item of allItems) {
      if(!item.classList.contains('active-item')) {
        item.classList.add('active-item');
      }
    }
  });

  brandButton.addEventListener('click', () => {
    for(let item of allItems) {
      if(item.classList.contains('active-item')) {
        item.classList.remove('active-item');
      }
    }
    for(let item of brandItems) {
      item.classList.add('active-item');
    }
  });
    
  // Register event listener
  mediaQuery.addEventListener("change", handleMobileChange)

  // // Initial check
  handleMobileChange(mediaQuery)
</script> -->

<!-- <script is:inline>
  const notMobileColumns = document.getElementsByClassName("image-grid--column");
  const not = document.getElementsByClassName("grid-item");
  let notMobileItems = [];
  for(item of not) {
    console.log(item);
    notMobileItems.push(item.cloneNode(true));
  }
  const allButton = document.getElementById("all-button");
  const brandButton = document.getElementById("brand-button");
  let lastClicked = 'all';

  allButton.addEventListener('click', () => {
    console.log(notMobileColumns);
    if(lastClicked !== 'all') {
      let notMobileColumn = 0;
      for(let column of notMobileColumns) {
        column.replaceChildren();
      }
      for(let item of notMobileItems) {
        // if(!item.classList.contains('active-item')) {
        //   item.classList.add('active-item');
        // }
        notMobileColumns[notMobileColumn].appendChild(item);
        notMobileColumn++;
        if(notMobileColumn >= 3) {
          notMobileColumn = 0;
        }
      }
      lastClicked = 'all';
    }
  });

  brandButton.addEventListener('click', () => {
    if(lastClicked !== 'brand') {
      let notMobileColumn = 0;
      for(let column of notMobileColumns) {
        column.replaceChildren();
      }
      for(let item of notMobileItems) {
        if(item.classList.contains('brand')) {
          notMobileColumns[notMobileColumn].appendChild(item);
          
          notMobileColumn++;
          if(notMobileColumn >= 3) {
            notMobileColumn = 0;
          }
        }
      }
      lastClicked = 'brand';
    }
    
  });

</script> -->
