---
import Image from "astro/components/Image.astro";
import ExpandCross from "@assets/Kindra/img/Expand_Cross.png";
const { baseimage, lightboximage, basewidth = 100, id } = Astro.props;
---

<style>
  .karla {
    font-family: "Karla", sans-serif;
  }
  .gradient-box::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    height: 10%;
  }

  .modal-bottom-gradient::before {
    content: "";
    position: absolute;
    top: -100px; /* Adjust to control how far above the div the fade starts */
    left: 0;
    width: 100%;
    height: 100px; /* Height of the gradient */
    background: linear-gradient(
      to top,
      rgba(247, 244, 237, 1),
      rgba(255, 255, 255, 0)
    );
    pointer-events: none;
    z-index: -1;
  }
</style>
<>
  <div class="w-full">
    <div class="relative gradient-box">
      <Image class="w-full h-auto rounded" src={baseimage} alt="Kindra" />
    </div>
    <button
      id=`${id}open-modal-button`
      class="float-right border-2 border-[#363131] mt-[10px]"
      ><Image alt="Kindra" class="w-[20px] m-[5px]" src={ExpandCross} /></button
    >
  </div>
  <div
    id=`${id}modal`
    class="hidden fixed top-0 left-0 h-full overflow-auto w-full z-50 bg-[#F7F4ED] flex justify-center"
  >
    <div class="w-full flex flex-col gap-5 items-center z-50">
      <div
        class="fixed top-0 h-[100px] md:h-[150px] bg-[#F7F4ED] w-[250px] md:w-[300px]"
      >
      </div>

      <div
        class="modal-image w-[220px] md:w-[270px] h-[500px] mx-auto pt-[100px] md:pt-[150px]"
      >
        <Image alt="Kindra" src={lightboximage} class="pb-[200px]" />
      </div>
      <div
        class="modal-bottom-gradient fixed bottom-0 h-[200px] bg-[#F7F4ED] w-[250px] md:w-[300px] items-center justify-center flex flex-col
        gap-[20px]"
      >
        <p class="text-12 text-bg-secondary karla">
          Scroll down to view page layout
        </p>
        <button
          id=`${id}close-modal-button`
          class="w-20 h-8 flex items-center justify-center bg-[#FF97FD] karla border border-solid border-black"
          >Close</button
        >
      </div>
    </div>
  </div>
</>
<script define:vars={{ id }}>
  const openModalButton = document.getElementById(`${id}open-modal-button`);
  const closeModalButton = document.getElementById(`${id}close-modal-button`);
  const modal = document.getElementById(`${id}modal`);

  function openModal() {
    modal.style.display = "block";
    document.body.style.overflow = "hidden";
  }

  function closeModal() {
    modal.style.display = "none";
    document.body.style.overflow = "scroll";
  }

  openModalButton.addEventListener("click", () => {
    openModal();
  });

  closeModalButton.addEventListener("click", () => {
    closeModal();
  });
</script>
