---
import "../styles/utils.css";
import { Image } from "astro:assets";
import Logo from "../assets/HomeLogo.png";
import DarkLogo from "../assets/LogoDark.png";
import HeartDropdown from "../assets/HeartDropdown.png";
import CloseButton from "../assets/CloseButton.png";
import GlassesTest from "../assets/eye_test_cut.webm";
const { theme } = Astro.props;
---

<style>
  nav {
    font-family: "Karla";
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: #faf7f4;
    padding: 25px;
    display: flex;
    align-items: center;
  }

  .dark {
    color: #faf7f4;
  }
  .light {
    color: black;
  }

  .nav-link {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 180px;
  }
  .nav-link span {
    display: inline-block;
    max-width: 0%;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 1s ease-in-out;
  }

  .logo {
    width: 80px;
    height: auto;
    position: relative;
  }
  .mobile-dropdown-toggle {
    display: none;
    background: none;
    padding: 0;
    border: none;
    /* position: absolute;
    right: 20px;
    top: 20px; */
    /* right: 0; */
  }

  .mobile-nav-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-link--header {
    font-size: 34px;
    letter-spacing: 0;
    margin-bottom: 50px;
  }

  .nav-link--email-button {
    color: black;
    background-color: #ff97fd;
    padding: 10px 20px;
    font-size: 16px;
  }

  .mobile-nav-link--email {
    color: white;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: normal;
    margin-top: 20px;
  }

  .mobile-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dropdown-close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
    .svg-text {
      fill: black;
      font-size: 12px;
      letter-spacing: 2px;
      font-weight: 500;
    }
    .video-container {
      /* background-color: paleturquoise; */
      /* margin-top: -30px; */
      margin-top: 50px;
      position: relative;
      display: flex;
      /* align-items: center; */
      width: 100%;
      /* align-items: end; */
    }
    #nav-instagram {
      position: absolute;
      /* top: 140px;
      left: 300px; */
      top: 50px;
      left: 80px;
      /* transform: translate(150px, -390px); */
      rotate: 260deg;
    }
    #nav-substack {
      position: absolute;
      top: -20px;
      left: 170px;
      rotate: 5deg;
    }
    #nav-vimeo {
      position: absolute;
      top: 5px;
      left: 250px;
      rotate: 25deg;
    }
    #nav-linkedin {
      position: absolute;
      top: 30px;
      left: 300px;
      rotate: 31deg;
    }
    .overflow-hidden {
      overflow: hidden;
    }
    #mobile-nav {
      display: flex;
    }
    .desktop-nav {
      display: none;
    }
    .dropdown-link-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      /* fix nav height on mobile safari, where 100vh is a little off */
      height: -webkit-fill-available;

      /* then, arrange our links top to bottom */
      display: flex;
      flex-direction: column;
      /* center links vertically, push to the right horizontally.
            this means our links will line up with the rightward hamburger button */
      justify-content: center;
      align-items: center;
      /* add margins and padding to taste */
      margin: 0;
      padding-left: 7vw;
      padding-right: 7vw;

      background: #a92325;
      z-index: 0;

      opacity: 0; /* fade out */
      transform: translateY(-100%); /* move out of view */
      transition:
        transform 0.2s,
        opacity 0.2s; /* transition these smoothly */
    }
    /* .logo,
    .mobile-dropdown-toggle {
      z-index: 9;
    } */
    .mobile-dropdown-toggle {
      display: initial;
    }
    #mobile-nav.dropdown-opened > .dropdown-link-container {
      opacity: 1; /* fade in */
      transform: translateY(0); /* move into view */
      z-index: 8;
    }
    #mobile-nav:not(.dropdown-opened) > .mobile-dropdown-toggle {
      z-index: 0;
    }
    #mobile-nav.dropdown-opened > .logo-link,
    .mobile-dropdown-toggle {
      z-index: 9;
    }

    #dropdown-open {
      display: block;
    }
    #dropdown-close {
      display: none;
    }
    #mobile-nav.dropdown-opened #dropdown-open {
      display: none;
    }
    #mobile-nav.dropdown-opened #dropdown-close {
      display: block;
    }
  }
  @media (min-width: 768px) {
    #mobile-nav {
      display: none;
    }
    .desktop-nav {
      display: flex;
    }
    .nav-link:hover::after {
      content: attr(data-hover);
      position: absolute;
      bottom: -50px;
      left: -30px;
      width: 185px;
      height: 38px;
      border-radius: 35px;
      rotate: 8deg;
      color: black;
      font-size: 13px;
      font-family: "Karla";
      background-color: #ebd4c7;
      text-align: center;
      line-height: 38px;
    }
    .nav-link:hover span {
      max-width: 100%;
    }
  }
</style>
<header>
  <nav id="main-nav">
    <div id="mobile-nav" class="mobile-nav-flex">
      <a href="/" class="logo-link"
        >{
          theme == "light" ? (
            <Image class="logo" src={DarkLogo} alt="The letter H." />
          ) : (
            <Image class="logo" src={Logo} alt="The letter H." />
          )
        }</a
      >
      <button
        id="dropdown-toggle"
        class="mobile-dropdown-toggle"
        aria-hidden="true"
      >
        <Image id="dropdown-open" src={HeartDropdown} alt="hearts" />
        <Image id="dropdown-close" alt="X" src={CloseButton} />
      </button>
      <div class="dropdown-link-container">
        <a class="mobile-nav-link nav-link--header">SEE OUR WORK</a>
        <a class="mobile-nav-link nav-link--header">GET TO KNOW US</a>
        <a class="mobile-nav-link nav-link--email-button">COPY OUR EMAIL ADDY</a
        >
        <p class="mobile-nav-link mobile-nav-link--email">
          getcreative@byhart.studio
        </p>
        <div class="video-container">
          <a
            id="nav-instagram"
            class="video-link"
            href="www.instagram.com"
            target="_blank"
          >
            <svg width="100" height="20">
              <defs>
                <path id="curve1" d="M 0 20 Q 50 13 100 20" fill="transparent"
                ></path>
              </defs>
              <text class="svg-text">
                <textPath href="#curve1">INSTAGRAM</textPath>
              </text>
            </svg>
          </a>
          <a
            id="nav-substack"
            class="video-link"
            href="www.instagram.com"
            target="_blank"
          >
            <svg width="100" height="20">
              <defs>
                <path id="curve2" d="M 0 20 Q 50 13 100 20" fill="transparent"
                ></path>
              </defs>
              <text class="svg-text">
                <textPath href="#curve2">SUBSTACK</textPath>
              </text>
            </svg>
          </a>
          <a
            id="nav-vimeo"
            class="video-link"
            href="www.instagram.com"
            target="_blank"
          >
            <svg width="100" height="20">
              <defs>
                <path id="curve3" d="M 0 20 Q 50 13 100 20" fill="transparent"
                ></path>
              </defs>
              <text class="svg-text">
                <textPath href="#curve3">VIMEO</textPath>
              </text>
            </svg>
          </a>
          <a
            id="nav-linkedin"
            class="video-link"
            href="www.instagram.com"
            target="_blank"
          >
            <svg width="100" height="20">
              <defs>
                <path
                  id="curve4"
                  d="M 0 20 L 38 20 Q 70 20 72 -4"
                  fill="transparent"></path>
              </defs>
              <text class="svg-text">
                <textPath href="#curve4">LINKEDIN</textPath>
              </text>
            </svg>
          </a>
          <!-- <div class="video-wrapper"> -->
          <video
            class="glasses ml-[150px]"
            src={GlassesTest}
            autoplay="true"
            loop="true"
            muted></video>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div
      class="desktop-nav"
      style={{ color: `${theme == "light" ? "black" : "#F7F4ED"}` }}
    >
      <a href="/" class="mr-[80px]">
        {
          theme == "light" ? (
            <Image class="logo" src={DarkLogo} alt="The letter H." />
          ) : (
            <Image class="logo" src={Logo} alt="The letter H." />
          )
        }</a
      >
      <a class="nav-link" data-hover="PORTFOLIO">SEE <span>BY HART</span></a>
      <a class="nav-link" data-hover="SARAH + SERVICES"
        >KNOW <span>BY HART</span></a
      >
      <a class="nav-link" data-hover="CONTACT">SPEAK <span>BY HART</span></a>
      <!-- <div class="mobile-nav-container"> -->

      <!-- </div> -->
    </div>
  </nav>
  <script>
    const nav = document.getElementById("mobile-nav");
    const navButton = document.getElementById("dropdown-toggle");

    navButton.addEventListener("click", (event) => {
      nav.classList.toggle("dropdown-opened");
      document.body.classList.toggle("overflow-hidden");
    });
  </script>
</header>
