---
import "../styles/utils.css";
import Image from "astro/components/Image.astro";
import Wizehire from "../assets/Home/img/Wizehire.png";
import Ample from "../assets/Home/img/Ample.png";
import ComicsKingdom from "../assets/Home/img/Comics_Kingdom.png";
import Week from "../assets/Home/img/Week.png";
import DancePartyTime from "../assets/Home/img/Dance_Party_Time.png";
import MetroVein from "../assets/Home/img/Metro_Vein.png";
import Lockwood from "../assets/Home/img/Lockwood.png";
import PuzzlePalace from "../assets/Home/img/Puzzle_Palace.png";
import Sage from "../assets/Home/img/Sage.png";
import SixFeet from "../assets/Home/img/6_Feet_Apart.png";
import Blueprint from "../assets/Home/img/Blueprint.png";
import Discovery from "../assets/Home/img/Discovery.png";
import Fab from "../assets/Home/img/Fab.png";
import GeniusKitchen from "../assets/Home/img/Genius_Kitchen.png";
import Horowitz from "../assets/Home/img/Horowitz_Real_Estate.png";
import Kindra from "../assets/Home/img/Kindra.png";
import Magnolia from "../assets/Home/img/Magnolia.png";
import Nightingale from "../assets/Home/img/Nightingale.png";
import PearlyBites from "../assets/Home/img/Pearly_Bites.png";
import TheCurve from "../assets/Home/img/The_Curve.png";
import SayMore from "../assets/Home/img/Say_More.png";
import Firefly from "../assets/Home/img/Firefly.png";
import PetCenter from "../assets/Home/img/Pet_Center.png";

const { slug } = Astro.props;
const projects = [
  { slug: "wizehire", name: "Wizehire", image: Wizehire },
  { slug: "ample", name: "Ample", image: Ample },
  { slug: "comics-kingdom", name: "Comics Kingdom", image: ComicsKingdom },
  { slug: "lockwood", name: "Lockwood", image: Lockwood },
  { slug: "metro-vein-centers", name: "Metro Vein Centers", image: MetroVein },
  { slug: "sage", name: "Sage", image: Sage },
  { slug: "puzzle-palace", name: "Puzzle Palace", image: PuzzlePalace },
  { slug: "dance-party-time", name: "Dance Party Time", image: DancePartyTime },
  { slug: "week-and", name: "Week&", image: Week },
  { slug: "kindra", name: "Kindra", image: Kindra },
  { slug: "nightingale", name: "Nightingale Vets", image: Nightingale },
  { slug: "pearly-bites", name: "Pearly Bites", image: PearlyBites },
  { slug: "fab", name: "Fab", image: Fab },
  { slug: "curve-report", name: "The Curve Report", image: TheCurve },
  { slug: "say-more", name: "Say More", image: SayMore },
  { slug: "discovery", name: "Discovery Channel", image: Discovery },
  { slug: "horowitz-real-estate", name: "Horowitz Real Estate", image: Horowitz },
  { slug: "magnolia", name: "Magnolia", image: Magnolia },
  { slug: "six-feet", name: "6 Feet From You", image: SixFeet },
  { slug: "pet-dermatology-center", name: "Pet Dermatology Center", image: PetCenter },
  { slug: "genius-kitchen", name: "Genius Kitchen", image: GeniusKitchen },
  { slug: "bluprint", name: "Bluprint", image: Blueprint },
  { slug: "firefly-vets", name: "Firefly Vets", image: Firefly },
];

// pre-scroll to the project following the current page
const nextProject = projects[1 + projects.findIndex(p => p.slug==slug)] ?? projects[Math.floor(projects.length/2)]
---

<style is:global>
  #project-carousel {
    --background: #242121;
    --light-text: var(--cream);
    --karla: "Karla", sans-serif;
    --utile: "utile-display", sans-serif;

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: relative;
    max-width: none;
    background: #1d1a1a url("/images/noise.svg") repeat;
    color: var(--light-text);
    font-family: var(--karla);
  }

  #project-carousel > h1{
    font-family: var(--utile);
    font-weight: 500;
  }

  #carousel-container {
    width: 100%;
    height: 555px;
    position: relative;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
        display: none;
    }
  }

  #carousel {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: absolute;
    transition: transform 2s;
    padding-left:100vw;
    padding-right:100vw;
  }

  #carousel .item{
    scroll-snap-align: center;

    h1{
      margin-top:5px;
      height: 50px;
      font: 700 20px var(--utile);
      letter-spacing:0.05em;
      color: var(--background);
      transition: color 1s;
    }

    &:hover h1,
    &.labeled h1{
      color:var(--light-text);
    }
  }

  #project-carousel a.all-projects{
    --text-color: var(--ink);
    --stripe-color: var(--peach);
    --hover-text-color: var(--cream);
    --hover-stripe-color: var(--ruby);

    position:relative;
    color: var(--text-color);
    font: 16px/1.75 var(--karla);
    text-transform: uppercase;
    letter-spacing:0.025em;
    z-index: 1;

    &:hover{
      color:var(--hover-text-color);
    }

    &::before {
      content: " ";
      background: var(--stripe-color);
      position:absolute;
      top: -5px;
      left: -5px;
      width:calc(100% + 10px);
      height:calc(100% + 10px);
      z-index:-1;
      transform: rotate(-2deg);
      transition: transform 250ms, background-color 250ms;
    }

    &:hover::before{
      transform: rotate(0);
      background-color: var(--hover-stripe-color);
    }
  }
</style>

<div id="project-carousel" class="pt-[45px] md:pt-[90px] md:pb-[40px] h-[800px] md:h-[900px]">
  <h1 class="text-[38px] mb-[30px] md:text-[66px]">
    Choose your next adventure...
  </h1>
  <div id="carousel-container">
    <div id="carousel">
      {projects.filter(p => slug !== p.slug).map((project) =>
        <div class="item" data-slug={project.slug}>
          <a href={`/works/${project.slug}`}>
            <Image
              class="h-[500px] w-auto max-w-none rounded-md"
              src={project.image}
              alt="test"
            />
          </a>
          <h1>{project.name}</h1>
        </div>
      )}
    </div>
  </div>
  <div class="w-full relative">
    <a class="all-projects" href="/">See all Hart work</a>
  </div>
</div>

<script define:vars={{ nextProject }}>
  document.addEventListener("DOMContentLoaded", () => {

    // hide the text labels for all but the currently centered project
    const labelOnScroll = new IntersectionObserver((items, labelOnScroll) => {
      for (const item of items){
        item.target.classList.toggle("labeled", item.isIntersecting)
      }
    },{
      rootMargin: "-49%",
      threshold: 0.0
    })

    for (const item of document.querySelectorAll('#carousel .item')){
      labelOnScroll.observe(item)
    }

    // set the initial position based on the current project's position in the `projects` array
    let nextElt = document.querySelector(`.item[data-slug=${nextProject.slug}]`),
        offset = nextElt.offsetLeft,
        halfWidth = window.innerWidth / 2;
    document.querySelector('#carousel-container').scrollLeft = offset - halfWidth
  })
</script>
