---
import { Image } from "astro:assets";
import SelectedHeart from '../assets/SelectedHeart.png';
import UnselectedHeart from '../assets/UnselectedHeart.png';
---

<style>
    @import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
    .testimonial--container {
        display: flex;
        flex-direction: column;
        padding-left: 135px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .testimonial--container h2 {

        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #F7F4ED;
        padding-bottom: 50px;
    }
    .testimonial--quote {
        font-family: 'utile-display', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 65px;
        color: #F7F4ED;
    }
    .testimonial--quote span {
        font-family: 'Covered By Your Grace';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 51px;
        color: #D7C6FF;
    }
    .testimonial--quote-source {
        padding-top: 45px;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.04em;
        color: #F7F4ED;
    }
    .testimonial--selector-container {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .testimonial--selector {
        padding: 0;
        border: none;
        background: none;
        margin: 0 5px;
    }
</style>
<div class="testimonial--container">
    <h2>WHAT OUR CLIENTS ARE SAYING</h2>
    <div class="testimonial--quote">
        I turn to By Hart for <span>all of my branding needs.</span><br>
        What amazes me most about Sarah + <br>her dream team is <span>all of my branding needs.</span><br>
        I would recommend By Hart to <span>anyone<br> looking for all of my branding needs.</span><br>
    </div>
    <p class="testimonial--quote-source">
        -Carmen Bryant, Head of Marketing, Wizehire
    </p>
    <div class="testimonial--selector-container">
        <button class="testimonial--selector"><Image src={SelectedHeart} alt="heart"/></button>
        <button class="testimonial--selector"><Image src={UnselectedHeart} alt="heart"/></button>
        <button class="testimonial--selector"><Image src={UnselectedHeart} alt="heart"/></button>
        <button class="testimonial--selector"><Image src={UnselectedHeart} alt="heart"/></button>
        <button class="testimonial--selector"><Image src={UnselectedHeart} alt="heart"/></button>
    </div>
</div>