---
import InternalLayout from "./InternalLayout.astro"
import ProjectTags from "@components/ProjectTags.astro";
import ProjectHead from "@components/ProjectHead.astro";
import ProjectsCarousel from "@components/ProjectsCarousel.astro";

const {hero, mobile, brand, tagline, tags, preview, theme="light"} = Astro.props
const title = `${brand} (By Hart)`
const slug = Astro.url.pathname.split('/').at(-1)
---

<InternalLayout title={title} subtitle={tagline} image={preview ?? hero}>
    <ProjectHead hero={hero} mobile={mobile} brand={brand} tagline={tagline} theme={theme} />
    <ProjectTags title={brand} tags={tags} theme={theme} />
    <article class="project">
        <slot />
    </article>
    <ProjectsCarousel slug={slug} />
    <div id="contact"></div>
</InternalLayout>